<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/util
          http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!--配置数据源属性文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:app.properties</value>
		</property>
	</bean>

	<!-- Activate annotation configured components -->
	<context:annotation-config />
	<context:component-scan base-package="com.ucap.*" />

	<!--配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<!-- 指定连接数据库的驱动 -->
		<property name="driverClass" value="${driverClass}" />
		<property name="jdbcUrl" value="${jdbcUrl}" />
		<!-- 指定连接数据库的用户名ccfzy -->
		<property name="user" value="${user}" />
		<!-- 指定连接数据库的密码 ccfzy1314 -->
		<property name="password" value="${password}" />
		<!-- 指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="${maxPoolSize}" />
		<!-- 指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="${minPoolSize}" />
		<!-- 指定连接数据库连接池的初始化连接数 -->
		<property name="initialPoolSize" value="${initialPoolSize}" />
		<!-- 指定连接数据库连接池的连接的最大空闲时间 -->
		<property name="maxIdleTime" value="${maxIdleTime}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="mapperLocations" value="classpath:sqlMapper/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 扫描包注入mapper -->
	<bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ucap.*_*" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>


	<!-- shiro -->
	<!-- shiro配置cacheManager -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManager" ref="cacheManager" />
	</bean>
	<bean id="credentialsMatcher" class="com.ucap.cloud_web.shiro.RetryLimitCredentialsMatcher">
		<constructor-arg ref="shiroCacheManager" />
	</bean>
	<bean id="myRealm" class="com.ucap.cloud_web.shiro.MyShiroRealm">
		<property name="credentialsMatcher" ref="credentialsMatcher"></property>
		<property name="cachingEnabled" value="false"></property>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myRealm" />
	</bean>
	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />

		<property name="loginUrl" value="/users_login.action" />  <!-- 登录页面 -->
		<property name="successUrl" value="/users_listMenuModel.action" />  <!-- 验证之后的页面 -->
		<property name="unauthorizedUrl" value="/index.html" />  <!-- 验证错误页面 -->
		<property name="filterChainDefinitions">
			<value>
				/bigDataTrend_**=anon
				/users_loginFormSP.action = anon
				/spChannel_**=anon
				/ysmonitorSilentResult_**=anon
				/sendEarly_**=anon
				/jsp/onlineReport/cutImgs.jsp = anon
				/databaseInfo_** = anon
				/users_loginIndex.action = anon
				/users_getLoginNum.action = anon
				/users_sendPasswordEmail.action = anon
				/users_loginsForm.action = anon
				/users_loginForm.action = anon
				/users_logins.action = anon
				/users_forgotPasswordUI.action = anon
				/onlineReport_reportDetail.action = anon
				/reportDetail_** = anon
				/bigDataAnalysis_**=anon
				/rest/** = anon
				/servlet/CoreServlet = anon
				/index/get = anon
				/token_** = anon
				/kaptcha.jpg = anon
				/images/**=anon
				/users_ajax*=anon
				/js/** = anon
				/index.jsp = anon
				/users_logOut=anon
				/users_logsOut=anon
				/css/** = anon
				/common/leftmenu.jsp = anon
				/extend/** = anon
				/weixin/**=anon
				/localImage/**=anon
				/ewebeditor/uploadfile/**=anon
				/** = user
			</value>
		</property>
	</bean>

	<!-- 缓存配置 -->

	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache.xml" />
	</bean>

	<!-- 首页不更新快照跳转地址-->
	<bean id="urlAdapterVar" class="com.ucap.cloud_web.UrlAdapterVar">
	    <property name="urlPre" value="http://121.41.11.184:9080"/><!-- URL连通校验接口 -->
	    <property name="spLogoUrl" value="/upload/spLogo/"/><!-- 图片存储路径 -->
	    <property name="spUrl" value="http://120.26.192.225:9081/cloud_backweb"/><!-- 个性化图片地址 -->
	    <property name="linkUrl" value="http://120.26.192.225:9081/cloud_backweb"/>
	    <property name="cloudWebLinkUrl" value="http://120.26.192.225/cloud_web"/>
	    <!-- <property name="linkUrl" value="http://jg.kaipuyun.cn/cloud_backweb"/>截图地址 -->
 <!-- 	    <property name="linkUrl" value="http://120.26.192.225:9081/cloud_backweb"/> -->
<!-- 	    <property name="linkUrl" value="http://jg.kaipuyun.cn/cloud_backweb"/>截图地址 -->
	    <property name="xenuLink" value="http://snapshot.kaipuyun.cn/snapshoot.ejf"/><!-- 死链快照 -->
	    <property name="ordinaryLInk" value="http://snapshot.kaipuyun.cn/snapshoot.ejf"/><!-- 普通快照 -->
	    <property name="litImgUrl" value="http://image.kaipuyun.cn/img/"/><!-- 首页缩略图 -->
	    <property name="wronglyImg" value="http://snapshot.kaipuyun.cn/"/><!-- 內容校對快照 -->
	    <!-- property name="loginHttpPostUrl" value="http://pucha.kaipuyun.cn/boxpro/checkUser" 废除/-->
	    <property name="webPath" value="http://jg.kaipuyun.cn" />  		<!-- 系统对外访问路径 用于邮件模板等获取系统资源 -->
	    <!-- <property name="webPath" value="http://localhost:8080/cloud_web" />--><!-- 系统对外访问路径 用于邮件模板等获取系统资源 -->
		<!-- 	    大数据分析  数据请求接口数据	测试环境 120.26.210.41 120.26.97.51-->
   		<property name="taskResultPath" value="http://120.26.97.51:9080/yjgAnalyzeFace/" /> 
		<!--    大数据分析  数据请求接口数据	正式环境 -->
<!--  	    <property name="taskResultPath" value="http://100.98.210.18:9080/yjgAnalyzeFace/" />  -->
	    
	    <!--登录页面   监测页面个数，发现问题个数-->
	   <property name="loginMonitor" value= "http://zicha.kaipuyun.cn/scanCount.ejf" />
	    <!--绩效考核   测试路径-->
	   <property name="JiXiaoWord" value= "/home/installed/tomcat7/webapps/cloud_backweb" /> 
	 <!--绩效考核  本地路径-->
<!-- 	   <property name="JiXiaoWord" value= "D:/softwaire/tomcat/apache-tomcat-7.0.42/webapps/cloud_web" /> -->
	   
		<!--  1、部署的项目绝对路径 -->
		<property name="webPaths" value="/data/tomcat8080/webapps/cloud_web"/> 
		<!-- cloub_web 项目部署绝对地址  用于生成自评报告 -->
<!-- 		<property name="cloub_webPaths" value="D:/softwaire/tomcat/apache-tomcat-7.0.42/webapps/cloud_web"/> -->		
		<property name="cloubWebPaths" value="/data/tomcat7/webapps/cloud_web"/> 
		<!-- 上传word报告物理文件夹 -->
	    <property name="wordfilepath" value="/wordfile/"/>
	    <property name="onlineReportUrl" value="http://120.26.192.225:9081/cloud_backweb/onlineReportRebuild_onlineReportRebuild.action"/>
<!-- 	正式环境    http://so.kaipuyun.cn:8080/sac/try.ejf  -->
	    <property name="cloudSearchUrl" value="http://so.kaipuyun.cn/sac/try.ejf"/>
	    <!-- 连通性策略调整 -->
	     <property name="connectivityUrl" value="http://121.41.11.184:9080/Monitor/siteUrlLinkDetail.ejf"/>
	</bean> 
</beans>
