/* 下拉 s*/
.select-box-cu{
    position: relative;
    width:3.36rem;
    __height: .9rem;
    __margin:0 auto;
    __text-align: center;
    __font:bold .3rem/.3rem 'Microsoft Yahei';
}
.select-box-cu i{
    position: absolute;
    top:.05rem;
    right: -0.2rem;
    width: 1.7rem;
    height: .18rem;
    background: url("../images/xiala.png") no-repeat center;
}
.select-box-cu ul{
    position: absolute;
    left:0;
    top: .45rem;
    z-index: 11;
    width: 100%;
    background: #fff;
    border:1px solid #d0d0d0;
    border-radius: 4px;
    display: none;

}
.select-box-cu ul li{
    height: .74rem;
    padding-left: .22rem;
    color: #717174;
    text-align: left;
    font: normal .26rem/.74rem 'Microsoft Yahei';
    border-bottom:1px solid #e5e5e5;
    /* display: none;*/
}
.select-box-cu ul li.last-item{
    border-bottom:none;
}
.select-box-cu span{
    padding-left:.15rem;
    color: #333;
    font: normal .3rem/.3rem 'Microsoft Yahei';
}
/* 下拉 e*/