/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video,input,button,textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;/* 字体抗锯齿 */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html { height: 100%; }/* always display scrollbars */
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
a,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,small,span,strong,i,em,input { font-family: "微软雅黑","Microsoft Yahei" }
ol, ul { list-style: none; }
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
img { border: none; }
input {
	outline: none;
	resize: none;
}
b,strong { font-weight: 400; }
address,cite,dfn,em,var,i { font-style: normal; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
button,input,select,textarea { font-size: 100%; }/* 使得表单元素在 ie 下能继承字体大小 */
a,button,input,textarea { -webkit-tap-highlight-color: rgba(0,0,0,0); }/* 清除点击时出现的背景框 */
a { text-decoration: none; }
a:link { text-decoration: none; }
a:hover{ text-decoration: none; }
.clearfix:after { 
	display: block; 
	content: ""; 
	clear: both; 
}
.clearfix { zoom:1; }
.main-title  .hp-impassab-tit span{
	font-size:.3rem;
}
input,select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	outline: none;
}
.fl{ float: left;}
.fr{ float: right;}
/* reset end */