.header{
    padding:.3rem 0 .28rem 0;
    border-top:1px solid #e4e4e4;
    border-bottom:1px solid #bcbcbc;
    background: #fff;
}
.header h4{
    padding-left:.26rem;
    color: #333;
    font: normal .3rem/.3rem 'Microsoft Yahei';
}
.content-ul{
    padding:0 .26rem .15rem .26rem;
    background: #fff;
    border-bottom:1px solid #bcbcbc;
}
.content-ul ul{
   __padding:0 0 .15rem 0;
}
.content-ul ul li{
    width:2.94rem;
    margin-top:.42rem;
    __float:left;
    color: #000;
    text-align: center;
    font:normal .3rem/.8rem 'Microsoft Yahei';
}
.content-ul img{
    display: block;
    width: 1.19rem;
    height: 1.19rem;
    margin: 0 auto;
}
.link-content{
    padding:.3rem .26rem .24rem .26rem;
    border-bottom:1px solid #e4e4e4;
}
.link-content p{
    padding-left:.35rem;
    color: #40464c;
    font: normal .24rem/.42rem 'Microsoft Yahei';
}

.link-content-other{
    padding:.2rem .26rem .26rem .26rem;
    border-bottom:1px solid #e4e4e4;
}
.link-content-other p{
    padding-left:.35rem;
    color: #40464c;
    font: normal .24rem/.24rem 'Microsoft Yahei';
}