<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.AccountBindInfoDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.AccountBindInfo" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="openId !=null">
				and open_id =#{openId}
			</if>
			<if test="notOpenId !=null">
				and open_id !=#{notOpenId}
			</if>
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="status !=null">
				and status=#{status}
			</if>
			<if test="isCustomer !=null">
				and is_customer=#{isCustomer}
			</if>
			<if test="localhostEarlyStatus !=null">
				and localhost_early_status=#{localhostEarlyStatus}
			</if>
			<if test="siteListEarlyStatus !=null">
				and siteList_early_status=#{siteListEarlyStatus}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.AccountBindInfo" useGeneratedKeys="true" keyProperty="id">
		insert into account_bind_info ( 
			<if test="openId != null ">open_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="status != null ">status,</if>
			<if test="isCustomer != null ">is_customer,</if>
			<if test="siteName != null ">site_name,</if>
			<if test="nickname != null ">nickname,</if>
			<if test="siteListEarlyStatus != null ">siteList_early_status,</if>
			<if test="siteListReportStatus != null ">siteList_report_status,</if>
			<if test="localhostEarlyStatus != null ">localhost_early_status,</if>
			<if test="localhostReportStatus != null ">localhost_report_status,</if>
			create_time,
			modify_time
		) values (
			<if test="openId != null ">#{openId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="status != null ">#{status},</if>
			<if test="isCustomer != null ">#{isCustomer},</if>
			<if test="siteName != null ">#{siteName},</if>
			<if test="nickname != null ">#{nickname},</if>
			<if test="siteListEarlyStatus != null ">#{siteListEarlyStatus},</if>
			<if test="siteListReportStatus != null ">#{siteListReportStatus},</if>
			<if test="localhostEarlyStatus != null ">#{localhostEarlyStatus},</if>
			<if test="localhostReportStatus != null ">#{localhostReportStatus},</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.AccountBindInfo">
		select * from account_bind_info where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.AccountBindInfo">
		update account_bind_info 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="openId != null ">open_id = #{openId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="status != null ">status = #{status},</if>
				<if test="nickname != null ">nickname=#{nickname},</if>
				<if test="siteListEarlyStatus != null ">siteList_early_status=#{siteListEarlyStatus},</if>
				<if test="localhostEarlyStatus != null ">localhost_early_status=#{localhostEarlyStatus},</if>
				<if test="isCustomer != null ">is_customer=#{isCustomer},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
				<if test="siteName != null ">site_name=#{siteName},</if>
				<if test="siteListReportStatus != null ">siteList_report_status=#{siteListReportStatus},</if>
				<if test="localhostReportStatus != null ">localhost_report_status=#{localhostReportStatus},</if>	
				<if test="modifyTime != null ">modify_time = now()</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from account_bind_info where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from account_bind_info
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from account_bind_info
		<include refid="where" />
	</select>
	
	<!-- 通过微信用户唯一标识，查询客户信息表和微信账户关联表 -->
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.AccountBindInfoRequest">
		SELECT 
			abi.id as id,
			abi.site_code AS siteCode,
			abi.status AS status,
			abi.open_id AS openId,
			abi.siteList_early_status AS siteListEarlyStatus,
			abi.localhost_early_status AS localhostEarlyStatus,
			abi.site_name AS companyName
		FROM  contract_info cust,account_bind_info abi
		WHERE cust.site_code=abi.site_code
		<if test="openId !=null">
			AND abi.open_id =#{openId}
		</if>
		<if test="siteCode!=null">
			AND abi.site_code=#{siteCode}
		</if>
		<if test="status !=null">
			AND abi.status=#{status}
		</if>
		<if test="localhostEarlyStatus !=null">
			AND abi.localhost_early_status=#{localhostEarlyStatus}
		</if>
	</select>
	<select id="queryEarlyInfo" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.AccountBindInfoRequest">
		SELECT 
		  SUM(ei.new_early_num) AS newEarlyNum,
		  ci.customer_code AS siteCode,
		  abi.open_id AS openId,
		  ci.company_name AS companyName 
		FROM
		  account_bind_info abi,
		  contract_info ci,
		  service_period sp,
		  relations_period rp,
		  early_info ei 
		WHERE abi.site_code = ci.site_code 
		  AND ci.id = sp.contract_info_id 
		  AND sp.id = rp.service_period_id 
		  AND rp.site_code = ei.site_code
		  
		  <if test="siteCodeList !=null">
		  	AND ci.customer_code IN 
		  	<foreach collection="siteCodeList" item="item" open="(" separator="," close=")">
		  		#{item}
		  	</foreach>
		  </if>
		  <if test="status !=null">
		  		AND abi.status=#{status}
		  </if>
		  <if test="siteCode !=null">
		  		AND ci.customer_code=#{siteCode}
		  </if>
		  <if test="siteListEarlyStatus !=null">
		  	AND abi.siteList_early_status =#{siteListEarlyStatus}
		  </if>
		GROUP BY abi.open_id 
	</select>
	
	
	
	<select id="queryTBByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.AccountBindInfoRequest">
		SELECT 
		  ci.contract_begin_time AS serviceBeginTime,
		  ci.contract_end_time AS serviceEndTime
		FROM
		  account_bind_info abi,
		  contract_info ci 
		WHERE abi.site_code = ci.site_code
		<if test="siteCode !=null">
			and abi.site_code=#{siteCode}
		</if>
		<if test="status !=null ">
			and abi.status=#{status}
		</if>
	</select>


	<!--获取微信绑定账户中所有的免费的标识码（组织单位编号或者填报单位编码）-->
	<select id="queryListByMap" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  * 
		FROM
		  account_bind_info 
		<include refid="where"/>
		
		GROUP BY site_code 
	
	</select>
</mapper>
