<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.ConfigEarlyDao">


	<resultMap type="com.ucap.cloud_web.entity.ConfigEarly" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			
			<if test="siteCode != null ">
				and site_code=#{siteCode}
			</if>
			<if test="earlyType !=null">
				and early_type=#{earlyType}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.ConfigEarly" useGeneratedKeys="true" keyProperty="id">
		insert into config_early ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="earlyType != null ">early_type,</if>
			<if test="isWxReceive != null ">is_wx_receive,</if>
			<if test="isEmailReceive != null ">is_email_receive,</if>
			<if test="isTelReceive != null ">is_tel_receive,</if>
			
			<if test="isDailyReceive != null ">is_daily_receive,</if>
			<if test="isOrgPrincipal != null ">is_org_principal,</if>
			<if test="isOrgLinkman != null ">is_org_linkman,</if>
			
			<if test="isPrincipalReceive != null ">is_principal_receive,</if>
			<if test="isLinkmanReceive != null ">is_linkman_receive,</if>
			<if test="homeConnection != null ">home_connection,</if>
			<if test="homeConnectionPer != null ">home_connection_per,</if>
			<if test="correctContent != null ">correct_content,</if>
			<if test="modifySite != null ">modify_site,</if>
			<if test="blankChannel != null ">blank_channel,</if>
			<if test="notUpdateChannel != null ">not_update_channel,</if>
			<if test="notUpdateHome != null ">not_update_home,</if>
			<if test="securityResponse != null ">security_response,</if>
			<if test="isSiteReceive != null ">is_site_receive,</if>
			<if test="isNextAllSite != null ">is_next_all_site,</if>
			<if test="userId != null ">user_id,</if>
			
			<if test="startHour != null ">start_hour,</if>
			<if test="endHour != null ">end_hour,</if>
			
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="earlyType != null ">#{earlyType},</if>
			<if test="isWxReceive != null ">#{isWxReceive},</if>
			<if test="isEmailReceive != null ">#{isEmailReceive},</if>
			<if test="isTelReceive != null ">#{isTelReceive},</if>
			
			<if test="isDailyReceive != null ">#{isDailyReceive},</if>
			<if test="isOrgPrincipal != null ">#{isOrgPrincipal},</if>
			<if test="isOrgLinkman != null ">#{isOrgLinkman},</if>
			
			<if test="isPrincipalReceive != null ">#{isPrincipalReceive},</if>
			<if test="isLinkmanReceive != null ">#{isLinkmanReceive},</if>
			<if test="homeConnection != null ">#{homeConnection},</if>
			<if test="homeConnectionPer != null ">#{homeConnectionPer},</if>
			<if test="correctContent != null ">#{correctContent},</if>
			<if test="modifySite != null ">#{modifySite},</if>
			<if test="blankChannel != null ">#{blankChannel},</if>
			<if test="notUpdateChannel != null ">#{notUpdateChannel},</if>
			<if test="notUpdateHome != null ">#{notUpdateHome},</if>
			<if test="securityResponse != null ">#{securityResponse},</if>
			<if test="isSiteReceive != null ">#{isSiteReceive},</if>
			<if test="isNextAllSite != null ">#{isNextAllSite},</if>
			<if test="userId != null ">#{userId},</if>
			
			<if test="startHour != null ">#{startHour},</if>
			<if test="endHour != null ">#{endHour},</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.ConfigEarly">
		select * from config_early where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.ConfigEarly">
		update config_early 
			<trim prefix="SET" suffixOverrides=",">
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="earlyType != null ">early_type = #{earlyType},</if>
				<if test="isWxReceive != null ">is_wx_receive = #{isWxReceive},</if>
				<if test="isEmailReceive != null ">is_email_receive = #{isEmailReceive},</if>
				<if test="isTelReceive != null ">is_tel_receive = #{isTelReceive},</if>
				<if test="isDailyReceive != null ">is_daily_receive = #{isDailyReceive},</if>
				<if test="isOrgPrincipal != null ">is_org_principal=#{isOrgPrincipal},</if>
				
				<!--组织单位单站预警联系人  -->
				<if test="isOrgLinkman != null ">is_org_linkman=#{isOrgLinkman},</if>
				<if test="orgLinkmanTwo != null ">org_linkman_two=#{orgLinkmanTwo},</if>
				<if test="orgLinkmanThree != null ">org_linkman_three=#{orgLinkmanThree},</if>
				<!--填报单位单站预警联系人  -->
				<if test="isLinkmanReceive != null ">is_linkman_receive = #{isLinkmanReceive},</if>
				<if test="isLinkmanTwo != null ">is_linkman_two = #{isLinkmanTwo},</if>
				<if test="isLinkmanThree != null ">is_linkman_three = #{isLinkmanThree},</if>
				
				<if test="isPrincipalReceive != null ">is_principal_receive = #{isPrincipalReceive},</if>
				<if test="homeConnection != null ">home_connection = #{homeConnection},</if>
				<if test="homeConnectionPer != null ">home_connection_per = #{homeConnectionPer},</if>
				<if test="correctContent != null ">correct_content = #{correctContent},</if>
				<if test="modifySite != null ">modify_site = #{modifySite},</if>
				<if test="blankChannel != null ">blank_channel = #{blankChannel},</if>
				<if test="notUpdateChannel != null ">not_update_channel = #{notUpdateChannel},</if>
				<if test="notUpdateHome != null ">not_update_home = #{notUpdateHome},</if>
				<if test="securityResponse != null ">security_response = #{securityResponse},</if>
				<if test="isSiteReceive != null ">is_site_receive = #{isSiteReceive},</if>
				<if test="isNextAllSite != null ">is_next_all_site = #{isNextAllSite},</if>
				<if test="userId != null ">user_id = #{userId},</if>
				<if test="startHour != null ">start_hour= #{startHour},</if>
				<if test="endHour != null ">end_hour= #{endHour},</if>
				create_time = now(),
				modify_time =now()
			</trim>
			where site_code = #{siteCode} 
			<if test="earlyType != null ">
			and early_type = #{earlyType}
			</if>
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from config_early where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from config_early
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from config_early
		<include refid="where" />
	</select>
	
<!-- 	查询组织单位单站预警 6位sitecode -->
	<select id="queryOrgSingleSiteCode" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  ce.*,
		  di.principal_email,
		  di.linkman_email,
		  
		  di.linkman_phone_two,
		  di.linkman_email_two,
		  di.linkman_phone_three,
		  di.linkman_email_three,
		  
		  
		  di.principal_phone,
		  di.linkman_phone,
		  di.principal_phone principalPhone,
		  di.linkman_phone linkmanPhone 
		FROM
		  config_early ce 
		  LEFT JOIN database_org_info di 
		    ON ce.site_code = di.site_code 
		where 1=1
		<if test="earlyType != null ">
			and ce.early_type=#{earlyType}
		</if>
		<if test="siteCodeLength != null ">
			and length(ce.site_code)=#{siteCodeLength}
		</if>
		<if test="siteCode != null ">
			and ce.site_code =#{siteCode}
		</if>
	</select>
	
	
	<select id="findByMap" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  ce.*,
		  di.linkman_name,
		  di.linkman_name_two,
		  di.linkman_name_three,
		  di.principal_name,
		  di.telephone,
		  di.telephone_2,
		  di.linkman_phone_two,
		  di.linkman_phone_three,
		  di.email,
		  di.email_2,
		  di.linkman_email_two,
		  di.linkman_email_three,
		  di.name,
		  di.jump_url as jumpUrl,
		  di.url as siteUrl
		FROM
		  config_early ce,
		  database_info di 
		WHERE ce.site_code = di.site_code 
		 <if test="siteCode !=null">
		 	AND ce.site_code=#{siteCode}
		 </if>
	</select>
	
</mapper>
