<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.ConnectionHomeDetailDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.ConnectionHomeDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null">
				and site_code=#{siteCode}
			</if>
			<if test="scanDate != null and scanDate != '' ">
				and scan_date=#{scanDate}
			</if>
			<if test="state != 0">
				and state=#{state}
			</if>
			<if test="startDate != null and endDate != null">
				and (scan_date BETWEEN #{startDate} AND #{endDate})
			</if>
			
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.ConnectionHomeDetail" useGeneratedKeys="true" keyProperty="id">
		insert into connection_home_detail ( 
			<if test="id != null ">id,</if>
			<if test="connectionAllId != null ">connection_all_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="state != null ">state,</if>
			<if test="questionDescribe != null ">question_describe,</if>
			<if test="questionCode != null ">question_code,</if>
			<if test="scanTime != null ">scan_time,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="connectionAllId != null ">#{connectionAllId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="state != null ">#{state},</if>
			<if test="questionDescribe != null ">#{questionDescribe},</if>
			<if test="questionCode != null ">#{questionCode},</if>
			<if test="scanTime != null ">#{scanTime},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.ConnectionHomeDetail">
		select * from connection_home_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.ConnectionHomeDetail">
		update connection_home_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="connectionAllId != null ">connection_all_id = #{connectionAllId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="state != null ">state = #{state},</if>
				<if test="questionDescribe != null ">question_describe = #{questionDescribe},</if>
				<if test="questionCode != null ">question_code = #{questionCode},</if>
				<if test="scanTime != null ">scan_time = #{scanTime},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from connection_home_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from connection_home_detail
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from connection_home_detail
		<include refid="where" />
	</select>
	
	
	<select id="queryConnByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.ConnectionHomeDetailRequest">
		SELECT 
		  di.site_code AS siteCode,
		  di.name AS siteName,
		  chd.scan_time AS scanTime,
		  mt.linkerrprop7 AS linkerrprop7
		FROM
		  database_tree_info dti,
		  connection_home_detail chd,
		  database_info di,
		  m_taskdetail mt
		WHERE dti.site_code = di.site_code 
		  AND di.site_code = chd.site_code 
		  AND di.site_code = mt.sitecode
		  
		  <if test="orgSiteCode !=null ">
		  	AND dti.org_site_code =#{orgSiteCode}
		  </if>
		  <if test="layerType !=null ">
		  	 AND dti.layer_type =#{layerType}
		  </if>
		  <if test="isLink !=null ">
		  	 AND dti.is_link =#{isLink}
		  </if>
		  <if test="isexp !=null ">
		  	  AND di.isexp =#{isexp}
		  </if>
		   <if test="isScan !=null ">
		  	  AND di.is_scan =#{isScan}
		  </if>
		  <if test="scanDate !=null ">
		  	  AND chd.scan_date =#{scanDate}
		  </if>
		  <if test="countday !=null ">
		  	  AND mt.countday=#{countday}
		  </if>
		GROUP BY chd.site_code 
		ORDER BY chd.scan_time DESC 
	
	</select>
</mapper>
