<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.CorrectContentDetailDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.CorrectContentDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			
		   <if test="correctTypeIn !=null">
			 and correct_type in (${correctTypeIn})
		   </if>
		   <if test="endScanDate !=null and beginScanDate !=null">
		 	 AND scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
		   </if>
			<if test="siteCode != null">
				and site_code=#{siteCode}
			</if>
			<if test="servicePeriodId != null">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="correctType != null">
				and correct_type=#{correctType}
			</if>
			<if test="keyWord !=null">
				and wrong_term like '%${keyWord}%'
			</if>
			<if test="scanDate !=null">
				and scan_date =#{scanDate}
			</if>
			<if test="beginTime != null and endTime!=null">
				and scan_date between #{beginTime} and #{endTime}
			</if>
			<if test="exposure != null">
				and exposure = #{exposure}
			</if>
			<if test="notType !=null">
				and correct_type!=#{notType}
			</if>
			<if test="correctTypeArray !=null ">
				and correct_type in 
				<foreach collection="correctTypeArray" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="databaseList !=null">
				and site_code in
				<foreach collection="databaseList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="ids != null">
				and site_code in
				<foreach collection="ids" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			and del_flag=0
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.CorrectContentDetail" useGeneratedKeys="true" keyProperty="id">
		insert into correct_content_detail ( 
			<if test="id != null ">id,</if>
			<if test="correctContentInfo != null ">correct_content_info,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="correctType != null ">correct_type,</if>
			<if test="problemDesc != null ">problem_desc,</if>
			<if test="url != null ">url,</if>
			<if test="imgUrl != null ">img_url,</if>
			<if test="wrongTerm != null ">wrong_term,</if>
			<if test="expectTerms != null ">expect_terms,</if>
			<if test="operator != null ">operator,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="correctContentInfo != null ">#{correctContentInfo},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="correctType != null ">#{correctType},</if>
			<if test="problemDesc != null ">#{problemDesc},</if>
			<if test="url != null ">#{url},</if>
			<if test="imgUrl != null ">#{imgUrl},</if>
			<if test="wrongTerm != null ">#{wrongTerm},</if>
			<if test="expectTerms != null ">#{expectTerms},</if>
			<if test="operator != null ">#{operator},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.CorrectContentDetail">
		select * from correct_content_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.CorrectContentDetail">
			update correct_content_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="correctContentInfo != null ">correct_content_info = #{correctContentInfo},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="correctType != null ">correct_type = #{correctType},</if>
				<if test="problemDesc != null ">problem_desc = #{problemDesc},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="imgUrl != null ">img_url = #{imgUrl},</if>
				<if test="wrongTerm != null ">wrong_term = #{wrongTerm},</if>
				<if test="expectTerms != null ">expect_terms = #{expectTerms},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="operator != null ">operator = #{operator},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from correct_content_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from correct_content_detail
		<include refid="where"/>
		and correct_type!=2
		and exposure=1
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from correct_content_detail
		<include refid="where" />
		and correct_type!=2
		and exposure=1
	</select>
	
	
	<select id="queryCorrectLine"  parameterType="HashMap" resultType="com.ucap.cloud_web.dto.CorrectContentDetailRequest">
		SELECT 
		  COUNT(id) AS wrongNum,
		  scan_date AS scanDate 
		FROM
		  correct_content_detail 
		 <include refid="where" />
		GROUP BY scan_date 
		ORDER BY scan_date ASC
	</select>
	<select id="getCorrectLine"  parameterType="HashMap" resultType="com.ucap.cloud_web.dto.CorrectContentDetailRequest">
		SELECT 
		  COUNT(id) AS wrongNum,
		  scan_date AS scanDate 
		FROM correct_content_detail 
		  <include refid="where" />
		GROUP BY scan_date 
		ORDER BY scan_date ASC
	</select>
	<select id="queryWrongNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.CorrectContentDetailRequest">
		SELECT 
		  COUNT(ccd.id) AS wrongNum,
		  ccd.site_code AS siteCode,
		  wi.name AS siteName,
		  wi.url AS homePageUrl,
		  wi.jump_url AS jumpPageUrl,
		  wi.isorganizational AS isorganizational,
		  wi.director AS director
		FROM
		  correct_content_detail ccd,
		  database_info wi 
		WHERE wi.site_code =ccd.site_code 
<!-- 		  AND ccd.correct_type = 3  -->
		  AND ccd.exposure = 1 
		  and ccd.del_flag=0
		<if test="scanDate !=null">
		  	AND ccd.scan_date =#{scanDate}
		</if>
		<if test="ids != null">
			AND ccd.site_code IN
			<foreach collection="ids" item="item" open="(" separator="," close=")">
				#{item.siteCode}
			</foreach>
		</if>
		GROUP BY ccd.site_code
		ORDER BY wrongNum DESC
	</select>
	
	<select id="getCorrectContentList" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.CorrectContentDetailRequest">
		SELECT
			a.site_code,
			a. NAME AS siteName,
			a.url AS homePageUrl,
			a.jump_url AS jumpPageUrl,
			COUNT(cd.id) AS wrongNum
		FROM
			database_info a,
			correct_content_detail cd,
			database_tree_info dti
		WHERE
			cd.site_code = dti.site_code
			and a.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>
		<if test="correctType != null ">
			and cd.correct_type = #{correctType}
		</if>
		<if test="startDate != null and endDate != null">
			AND (cd.scan_date between #{startDate} and #{endDate})
		</if>
		<if test="isExp != null">
			and a.isexp = #{isExp}
		</if>
		<if test="scanDate !=null">
			and cd.scan_date=#{scanDate}
		</if>
		AND cd.exposure = 1
		AND cd.del_flag = 0
		GROUP BY
			cd.site_code
		ORDER BY
			wrongNum DESC
		<if test="begin !=null and end !=null">
			limit #{begin},#{end}
		</if>
	</select>
	
	<select id="getCorrectContentListCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT
				a.site_code,
				a. NAME AS siteName,
				a.url AS homePageUrl,
				a.jump_url AS jumpPageUrl,
				COUNT(cd.id) AS wrongNum
			FROM
				database_info a,
				correct_content_detail cd,
				database_tree_info dti
			WHERE
				cd.site_code = dti.site_code
				and a.site_code = dti.site_code
			<if test="orgSiteCode != null">
				and dti.org_site_code= #{orgSiteCode}
			</if>
			<if test="isLink != null">
				and dti.is_link = #{isLink}
			</if>
			<if test="siteType != null">
				and dti.layer_type = #{siteType}
			</if>
			<if test="correctType != null ">
				and cd.correct_type = #{correctType}
			</if>
			<if test="startDate != null and endDate != null">
				AND (cd.scan_date between #{startDate} and #{endDate})
			</if>
			<if test="isExp != null">
				and a.isexp = #{isExp}
			</if>
			<if test="scanDate !=null">
				and cd.scan_date=#{scanDate}
			</if>
			AND cd.exposure = 1
			AND cd.del_flag = 0
			GROUP BY
				cd.site_code
			ORDER BY
				wrongNum DESC
		) AS aa
		
	</select>

</mapper>
