<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.DatabaseInfoDao">

	<resultMap type="com.ucap.cloud_web.entity.DatabaseInfo" id="resultMap" />

	<resultMap id="resultMapList" type="String">
		<result 	property="siteCode" 		column="site_code" 		jdbcType="VARCHAR" />
	</resultMap>
	<sql id="where">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="parentId != null ">
				and parent_id=#{parentId}
			</if>
			<if test="level != null">
				and level = #{level}
			</if>
			<if test="isorganizational != null">
				and isorganizational = #{isorganizational}
			</if>
			<if test="vcode !=null">
				and vcode=#{vcode}
			</if>
			<if test="linkStatus !=null">
				and link_status=#{linkStatus}
			</if>
			<if test="isexp !=null">
				and isexp=#{isexp}
			</if>
			<if test="isScan !=null">
				and is_scan=#{isScan}
			</if>
			<if test="emailReceive2 !=null">
				and email_receive2 =#{emailReceive2}
			</if>
			<if test="siteCodeLike != null">
				and site_code like '${siteCodeLike}%'
			</if>
			
			<if test="siteCodeBM != null">
				and site_code like  'bm%'
			</if>
			<if test="siteCodeNoBM != null">
				and site_code not like 'bm%'
			</if>
			
			<if test="parentIdLike != null">
				and parent_id like '${parentIdLike}%'
			</if>
			<if test="notLikeSiteCode != null">
				and site_code not like '%${notLikeSiteCode}%'
			</if>
			<if test="siteCodeLists !=null">
				and  site_code in
				<foreach collection="siteCodeLists" item="siteCodeList" open="(" separator="," close=")">
				      '${siteCodeList}'
				</foreach>
			</if>
			<if test="relationsPeriodList !=null">
				and site_code in
				<foreach collection="relationsPeriodList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			
			<if test="keyWord !=null">
				and (name like '%${keyWord}%' or site_code like '%${keyWord}%' 
				<if test="keyWordOrisexp !=null">
					or isexp=#{keyWordOrisexp}
				</if>
				)
			</if>
			<if test="noEqIsScan !=null">
				and is_scan!=#{noEqIsScan}
			</if>
			<if test="guideState !=null">
				and guide_state !=#{guideState}
			</if>
			<if test="databaseLinkList !=null">
				and site_code in
				<foreach collection="databaseLinkList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="contractsQuery !=null and contractsQuery!=''">
				and (director like '%' #{contractsQuery} '%'
					or principal_name like '%' #{contractsQuery} '%'
					or linkman_name like '%' #{contractsQuery} '%'
					or name like '%' #{contractsQuery} '%'
				)
			</if>
			<if test="databaseTreeList !=null">
				and site_code in
				<foreach collection="databaseTreeList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.DatabaseInfo" useGeneratedKeys="true" keyProperty="id">
		insert into database_info (
			<if test="id != null ">id,</if>
			<if test="parentId != null ">parent_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="name != null ">name,</if>
			<if test="vcode != null ">vcode,</if>
			<if test="province != null ">province,</if>
			<if test="city != null ">city,</if>
			<if test="county != null ">county,</if>
			<if test="level != null ">level,</if>
			<if test="isorganizational != null ">isorganizational,</if>
			<if test="url != null ">url,</if>
			<if test="jumpUrl != null ">jump_url,</if>
			<if test="encodeUrl != null ">encode_url,</if>
			<if test="director != null ">director,</if>
			<if test="address != null ">address,</if>
			<if test="linkmanName != null ">linkman_name,</if>
			<if test="principalName != null ">principal_name,</if>
			<if test="mobile != null ">mobile,</if>
			<if test="mobile2 != null ">mobile_2,</if>
			<if test="telephone != null ">telephone,</if>
			<if test="telephone2 != null ">telephone_2,</if>
			<if test="email != null ">email,</if>
			<if test="email2 != null ">email_2,</if>			
			<if test="isexp != null ">isexp,</if>
			<if test="iscost != null ">iscost,</if>		
			
			<if test="emailReceive != null ">email_receive,</if>
			<if test="emailReceive2 != null ">email_receive2,</if>			
			<if test="telReceive != null ">tel_receive,</if>
			<if test="telReceive2 != null ">tel_receive2,</if>	
			<if test="linkStatus != null ">link_status,</if>	
			<if test="state != null ">state,</if>
			<if test="isScan != null ">is_scan,</if>
			<if test="principalPost != null ">principal_post,</if>
			<if test="guideState !=null">guide_state,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="parentId != null ">#{parentId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="name != null ">#{name},</if>
			<if test="vcode != null ">#{vcode},</if>
			<if test="province != null ">#{province},</if>
			<if test="city != null ">#{city},</if>
			<if test="county != null ">#{county},</if>
			<if test="level != null ">#{level},</if>
			<if test="address != null ">#{address},</if>
			<if test="url != null ">#{url},</if>
			<if test="jumpUrl != null ">#{jumpUrl},</if>
			<if test="encodeUrl != null ">#{encodeUrl},</if>
			<if test="director != null ">#{director},</if>
			<if test="isorganizational != null ">#{isorganizational},</if>
			<if test="linkmanName != null ">#{linkmanName},</if>
			<if test="principalName != null ">#{principalName},</if>
			<if test="mobile != null ">#{mobile},</if>
			<if test="mobile2 != null ">#{mobile2},</if>
			<if test="telephone != null ">#{telephone},</if>
			<if test="telephone2 != null ">#{telephone2},</if>
			<if test="email != null ">#{email},</if>
			<if test="email2 != null ">#{email2},</if>
			<if test="isexp != null ">#{isexp},</if>
			<if test="iscost != null ">#{iscost},</if>
			<if test="emailReceive != null ">#{emailReceive},</if>
			<if test="emailReceive2 != null ">#{emailReceive2},</if>			
			<if test="telReceive != null ">#{telReceive},</if>
			<if test="telReceive2 != null ">#{telReceive2},</if>
			<if test="linkStatus != null ">#{linkStatus},</if>
			<if test="state != null ">#{state},</if>		
			<if test="isScan != null ">#{isscan},</if>	
			<if test="principalPost != null ">#{principalPost},</if>
			<if test="guideState !=null">#{guideState},</if>		
			now(),				
			now()
		)
	</insert>

	<!--根据邮箱查询机构用户 -->
	<!-- 查询 -->
	<select id="UsersByEmailAndSiteCode" parameterType="int"
		resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		select * from database_info where site_code=#{siteCode} AND email=#{email}
	</select>

	<select id="getChildList" parameterType="int" resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		select * from 
			database_info
		WHERE
			parent_id=#{parentSiteCode}
	</select>

	<select id="getChildByLike" parameterType="int"
		resultType="com.ucap.cloud_web.entity.DatabaseInfo">

		select * from 
			database_info
		WHERE
			parent_id like '${prefix}%' AND county IS NOT NULL
	</select>
	
	<select id="countByLike" parameterType="int" resultType="int">
		select count(*) from 
			database_info
		WHERE
			parent_id like '${prefix}%' AND county IS NOT NULL
	</select>
	
	<select id="getDatabaseInfoByLike" parameterType="int" resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		select * from 
			database_info
		WHERE
			site_code like '${value}%'
	</select>
	
	<select id="countDatabaseInfoByLike" parameterType="int" resultType="int">
		select count(*) from 
			database_info
		WHERE
			site_code like '${value}%'
	</select>

	<select id="getChildCount" parameterType="int" resultType="int">
		select COUNT(*) from 
			database_info
		WHERE
			parent_id=#{parentSiteCode}
	</select>

	<!-- 根据siteCode查询用户 -->
	<select id="getUsers" parameterType="String"
		resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		SELECT * FROM database_info t WHERE
		site_code=#{siteCode} GROUP BY site_code
	</select>

	<!-- 根据siteCode和vcode查询用户 -->
	<select id="getUser" parameterType="String"
		resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		<!-- select * from database_info where site_code=#{siteCode} AND vcode=#{vcode} -->
		select * from database_info t where
		site_code=#{siteCode}
		AND
		vcode=#{vcode} group by site_code
	</select>

	<!-- 查询 机构用户对应的权限（国办） -->
	<!-- <select id="getAdmin" parameterType="int"
		resultType="com.ucap.cloud_web.entity.Permission">
		select p.permission_id,p.myid from permission as p where
		p.status='A' and p.type='O' and p.isused='Y'
	</select> -->

	<!-- 修改密码 -->
	<update id="modifyPassword">
		UPDATE 
			database_info SET vcode=#{vcode}
		WHERE
			site_code= #{siteCode}
	</update>

	<select id="get" parameterType="int"
		resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		 SELECT *,(SELECT COUNT(1) FROM channel_point b WHERE database_info.site_code = b.site_code AND b.status != -1) AS channel_num 
 		 FROM database_info WHERE id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.DatabaseInfo">
		update database_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null ">id = #{id},</if>
			<if test="parentId != null ">parent_id=#{parentId},</if>
			<if test="siteCode != null ">site_code=#{siteCode},</if>
			<if test="name != null ">name=#{name},</if>
			<if test="vcode != null ">vcode=#{vcode},</if>
			<if test="province != null ">province=#{province},</if>
			<if test="city != null ">city=#{city},</if>
			<if test="county != null ">county=#{county},</if>
			<if test="level != null ">level=#{level},</if>
			<if test="isorganizational != null ">isorganizational=#{isorganizational},</if>
			<if test="manageInfoUrl != null ">url=#{manageInfoUrl},</if>
			<if test="manageInfoJumpUrl != null ">jump_url=#{manageInfoJumpUrl},</if>
			<if test="encodeUrl != null ">encode_url=#{encodeUrl},</if>
			<if test="director != null ">director=#{director},</if>
			<if test="address != null ">address=#{address},</if>
			<if test="linkmanName != null ">linkman_name=#{linkmanName},</if>
			<if test="linkmanNameTwo != null ">linkman_name_two=#{linkmanNameTwo},</if>
			<if test="linkmanNameThree != null ">linkman_name_three=#{linkmanNameThree},</if>
			<if test="principalName != null ">principal_name=#{principalName},</if>
			<if test="mobile != null ">mobile=#{mobile},</if>
			<if test="mobile2 != null ">mobile_2=#{mobile2},</if>
			<if test="telephone != null ">telephone=#{telephone},</if>
			<if test="telephone2 != null ">telephone_2=#{telephone2},</if>	
			<if test="linkmanPhoneTwo != null ">linkman_phone_two=#{linkmanPhoneTwo},</if>
			<if test="linkmanPhoneThree != null ">linkman_phone_three=#{linkmanPhoneThree},</if>
			<if test="email != null ">email=#{email},</if>
			<if test="email2 != null ">email_2=#{email2},</if>			
			<if test="linkmanEmailTwo != null ">linkman_email_two=#{linkmanEmailTwo},</if>			
			<if test="linkmanEmailThree != null ">linkman_email_three=#{linkmanEmailThree},</if>			
			<if test="isexp != null ">isexp=#{isexp},</if>
			<if test="iscost != null ">iscost=#{iscost},</if>		
			<if test="emailReceive != null ">email_receive=#{emailReceive},</if>
			<if test="emailReceive2 != null ">email_receive2=#{emailReceive2},</if>			
			<if test="telReceive != null ">tel_receive=#{telReceive},</if>
			<if test="telReceive2 != null ">tel_receive2=#{telReceive2},</if>	
			<if test="linkStatus != null ">link_status=#{linkStatus},</if>	
			<if test="state != null ">state=#{state},</if>
			<if test="isScan != null ">is_scan=#{isScan},</if>
			<if test="principalPost != null ">principal_post=#{principalPost},</if>
			<if test="guideState != null ">guide_state=#{guideState},</if>
			modify_time=now()
		</trim>
		where id=#{id}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from database_info
		where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from database_info
		<include refid="where" />
		<if test="groupBy != null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder"
				separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from database_info
		<include refid="where" />
	</select>
	
		<!-- 分页查询 -->
	<select id="getDatabaseInfoBycode" parameterType="com.ucap.cloud_web.dto.DatabaseInfoRequest" resultMap="resultMap">
		SELECT DISTINCT
			(dti.site_code),
			d.director,
			d. NAME,
			d.url,
			d.jump_url,
			d.isexp
		FROM
			database_info d,
			database_tree_info dti
		WHERE
			d.site_code = dti.site_code
		<if test="code != null">  
		 		AND dti.CODE LIKE CONCAT(#{code}, '%')
		</if>
		<if test="isBigdata != null">  
		 		AND dti.is_bigdata = #{isBigdata}
		</if>
		AND LENGTH(dti.site_code) > 6
		<if test="typeVal != null and queryInput != null">  
			 <if test="typeVal == 0 ">  
			 		and (d.url LIKE CONCAT('%',#{queryInput},'%') or d.jump_url LIKE CONCAT('%',#{queryInput},'%') )
			</if>
			<if test="typeVal == 1">  
			 		and d.name LIKE CONCAT('%',#{queryInput},'%') 
			</if>
			<if test="typeVal == 2 ">  
			 		and (d.url LIKE CONCAT('%',#{queryInput},'%') or d.jump_url LIKE CONCAT('%',#{queryInput},'%') )
			</if>
			<if test="typeVal == 3">  
			 		and d.director LIKE CONCAT('%',#{queryInput},'%')
			</if>
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder"
				separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="getDatabaseInfoCount" parameterType="com.ucap.cloud_web.dto.DatabaseInfoRequest" resultType="int">
		select COUNT(*)
		FROM
			database_info d,
			database_tree_info dti
		WHERE
			d.site_code = dti.site_code
		<if test="code != null">  
		 		AND dti.CODE LIKE CONCAT(#{code}, '%')
		</if>
		<if test="isBigdata != null">  
		 		AND dti.is_bigdata = #{isBigdata}
		</if>
		AND LENGTH(dti.site_code) > 6
		<if test="typeVal != null and queryInput != null">  
			 <if test="typeVal == 0 ">  
			 		and (d.url LIKE CONCAT('%',#{queryInput},'%') or d.jump_url LIKE CONCAT('%',#{queryInput},'%') )
			</if>
			<if test="typeVal == 1">  
			 		and d.name LIKE CONCAT('%',#{queryInput},'%') 
			</if>
			<if test="typeVal == 2 ">  
			 		and (d.url LIKE CONCAT('%',#{queryInput},'%') or d.jump_url LIKE CONCAT('%',#{queryInput},'%') )
			</if>
			<if test="typeVal == 3">  
			 		and d.director LIKE CONCAT('%',#{queryInput},'%')
			</if>
		</if>
	</select>
	<!-- 查询id -->
	<select id="queryId" parameterType="HashMap" resultMap="resultMapList">
		select site_code from database_info
		<include refid="where" />
	</select>
<!-- 	查询抽查 地方树 旧方法 注释掉 -->
<!-- 	<select id="queryLocalTree" parameterType="HashMap" resultType="com.ucap.cloud_web.constant.TreeVo"> -->
<!-- 		select SubString(dbi.site_code,1,6) pId,dbi.site_code id,dbi.name name, -->
<!-- 			case when dbi.isorganizational=1 then '1' else null end as type, -->
<!-- 			case when dbi.isorganizational=1 then 'ico_new1 ' else null end as iconSkin, -->
<!-- 			isexp -->
<!-- 		 from database_info dbi -->
<!-- 		where  1=1  -->
<!-- 		<if test="siteCode != null"> -->
<!-- 			and dbi.site_code like '${siteCode}%' -->
<!-- 		</if> -->
<!-- 		<if test="level != null"> -->
<!-- 			and level = #{level} -->
<!-- 		</if> -->
<!-- 		<if test="isorganizational != null"> -->
<!-- 			and dbi.isorganizational = #{isorganizational} -->
<!-- 		</if> -->
<!-- 		<if test="siteCodeLists !=null"> -->
<!-- 			and   -->
<!-- 			<foreach collection="siteCodeLists" item="siteCodeList" open="(" separator="or" close=")"> -->
<!-- 			     site_code like '${siteCodeList}%' -->
<!-- 			</foreach> -->
<!-- 		</if> -->
<!-- 		<if test="isorganizationalDesc != null"> -->
<!-- 			order by isorganizational desc -->
<!-- 		</if> -->
<!-- 	</select> -->
     <select id="getLocalData" parameterType="HashMap" resultMap="resultMap">
		select * from database_info 
		where 1=1 
		<if test="siteCodeLike != null">
			and site_code like '${siteCodeLike}%'
		</if>
		<if test="notLikeSiteCode != null">
			and site_code not like '${notLikeSiteCode}%'
		</if>
		<if test="siteCode != null">
			and site_code like '${siteCode}%'
		</if>
		<if test="isorganizationalDesc != null">
			order by isorganizational desc
		</if>
		<if test="city!=null">
			group by  ${city}
		</if>
		<if test="province!=null">
			and (city is null or city='') 
			group by ${province} desc
		</if>
		
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder"
				separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="sheng != null">
			and isorganizational= 1 
			and ((level = 1) or (level = 2 and (city is null or city='')))
			group by site_code 
		</if>
	</select> 
	
	<select id="findByDatabaseInfoCode" parameterType="String" resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		select * from database_info where site_code=#{siteCode}
	</select>
	
	
	<select id="querySiteCodeList" parameterType="String" resultType="com.ucap.cloud_web.entity.DatabaseInfo">
		select * from database_info where site_code like '${siteCode}%'
		<if test="level != null">
			and  level in (#{level})
		</if>
		<if test="isorganizational != null">
			and isorganizational = #{isorganizational}
		</if>
		<if test="sheng != null">
			and ((level = 2 and isorganizational = 1) or (level = 1))
		</if>
		<if test="zhishi != null">
			and ((level = 3 and isorganizational = 1) or (level = 2 and isorganizational  = 0))
		</if>
		<if test="shi != null">
			and ((level = 2) or (level = 3 and isorganizational = 1))
		</if>
		<if test="bmsheng != null">
			and level = 1
		</if>
		<if test="isScan != null">
			and is_scan = #{isScan}
		</if>
		<if test="isexp != null">
			and isexp = #{isexp}
		</if>
	</select>
	
	
	
	<select id="querySortCodeList" parameterType="HashMap" resultMap="resultMapList">
		select SUBSTRING(site_code,1,6) as site_code from database_info group by SUBSTRING(site_code,1,6)
	</select>
	
	<select id="queryCountByMap" parameterType="HashMap" resultType="int">
		SELECT 
		  COUNT(id) AS spotCount 
		FROM
		  database_info 
		WHERE 1=1
		<if test="orgSiteCodes !=null">
			and 
			<foreach collection="orgSiteCodes" item="item" open="(" separator="or" close=")">
				site_code like '${item}%'
			</foreach>
		</if>
		<if test="isorganizational !=null">
			and isorganizational in
			<foreach collection="isorganizational" item="item"  open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		 <if test="isexp !=null">
			 AND isexp = #{isexp} 
		 </if>
		  <if test="level !=null">
		  	and level= #{level}
		  </if>
	</select>

	<select id="queryLevelCountByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
		SELECT 
		    COUNT(id) AS spotCount,
  			SUBSTRING(site_code,1,2) AS orgCode,
  			province
		FROM
		  database_info 
		WHERE 1=1 
		<if test="orgSiteCodes !=null">
			and 
			<foreach collection="orgSiteCodes" item="item" open="(" separator="or" close=")">
				site_code like '${item}%' 
			</foreach>
		</if>
		<if test="isorganizationals !=null">
			and isorganizational in
			<foreach collection="isorganizationals" item="item"  open="(" separator="," close=")">
				#{item} 
			</foreach>
		</if>
		<if test="isexp !=null">
			AND isexp = #{isexp} 
		</if>
		<if test="level !=null">
			and level in
			<foreach collection="level" item="item"  open="(" separator="," close=")">
				#{item} 
			</foreach>
		</if>
		 group by orgCode
		 order by orgCode asc
	</select>
	
	<select id="queryShiAndXian" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
		SELECT 
		    COUNT(id) AS spotCount,
  			SUBSTRING(site_code,1,6) AS orgCode
		FROM
		  database_info 
		WHERE 1=1
		<if test="orgSiteCodes !=null">
			and 
			<foreach collection="orgSiteCodes" item="item" open="(" separator="or" close=")">
				site_code like '${item}%'
			</foreach>
		</if>
		<if test="isorganizationals !=null">
			and isorganizational in
			<foreach collection="isorganizationals" item="item"  open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		 <if test="isexp !=null">
			 AND isexp = #{isexp} 
		 </if>
		  <if test="level !=null">
		  	and level= #{level}
		  </if>
		  group by orgCode
		  order by orgCode asc
	</select>
	<select id="queryRandomSite" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  *
		FROM
		  database_info 
		WHERE 1 = 1 
		  <if test="orgCode !=null">
		  	AND site_code LIKE '${orgCode}%' 
		  </if>
		  <if test="isorganizationals !=null">
		  	and isorganizational in
				<foreach collection="isorganizationals" item="item"  open="(" separator="," close=")">
					#{item}
				</foreach>
		  </if>
		  <if test="isexp !=null">
		  	AND isexp = #{isexp}
		  </if>
		  <if test="spotCount !=null">
		  	ORDER BY RAND() LIMIT #{spotCount}
		  </if>
	</select>
	<select id="queryLevelRandomSite" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  *
		FROM
		  database_info 
		WHERE 1 = 1 
		  <if test="orgCode !=null">
		  	AND site_code LIKE '${orgCode}%' 
		  </if>
		  <if test="isorganizationals !=null">
		  	and isorganizational in
				<foreach collection="isorganizationals" item="item"  open="(" separator="," close=")">
					#{item}
				</foreach>
		  </if>
		  <if test="level !=null">
		  	and level in
			<foreach collection="level" item="item"  open="(" separator="," close=")">
				#{item}
			</foreach>
		  </if>
		  <if test="isexp !=null">
		  	AND isexp = #{isexp}
		  </if>
		  <if test="spotCount !=null">
		  	ORDER BY RAND() LIMIT #{spotCount}
		  </if>
	</select>
	<!-- 大数据分析bm0100  所有省级、部委 组织单位  flagType 1：站点数据概览页面调用  2：日常监测统计 下级地方站群  3：日常监测统计   下级部位站群-->
	<select id="queryProvince" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		province AS name, 
		CONCAT(SUBSTRING(site_code, 1, 2), '0000') site_code,
		 LEVEL
		FROM 
		database_info  
		WHERE site_code NOT LIKE 'N0%'  
		AND site_code NOT LIKE 'bm%'  
		AND isexp = 1 
		AND level = 1 
		GROUP BY SUBSTRING(site_code, 1, 2) ASC
	</select>
	<!-- 大数据分析  市或区县级数据 -->
	<select id="querySublevel" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		<if test="level == 2 and shiFlag ==1">
		 	city as name,
		 	substring(site_code, 1, 6) site_code
		</if>
		<if test="level == 2 and shiFlag ==0">
		 	city as name,
		 	concat(substring(site_code, 1, 4),'00') site_code
		</if>
		<if test="level >= 3">
			county as name,
			substring(site_code, 1, 6) site_code
		</if>
		
		 from database_info 
		 where isexp =1 
		 <if test="level == 2">
		 	and province=#{province}
		 </if>
		 <if test="level == 3">
		 	and city=#{city}
		 </if>
		 <if test="level !=null">
		 	and level=#{level} 
		 </if>
		 <if test="siteCodeLike !=null">
		 	and site_code like '${siteCodeLike}%'
		 </if>
		 
		 <if test="level ==2 and shiFlag ==1">
		 	GROUP BY substring(site_code, 1, 6)
		 </if>
		 <if test="level ==2 and shiFlag ==0">
		 	GROUP BY substring(site_code, 1, 4)
		 </if>
		 <if test="level ==3">
		 	GROUP BY substring(site_code, 1, 6)
		 </if>
	</select>
	
	<!-- 大数据分析  部委数据 -->
	<select id="queryBm" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  di.province as name,
		  CONCAT(SUBSTRING(di.site_code, 1, 4), '00') site_code,
		  di.LEVEL 
		FROM
		  database_info di
		left join database_org_info doi
	  on CONCAT(SUBSTRING(di.site_code, 1, 4), '00')=doi.site_code
		WHERE 
 		  di.site_code NOT LIKE 'N0%' 
		  AND di.site_code LIKE 'bm%' 
		  AND di.isexp = 1 
		  AND di.level=1
		GROUP BY SUBSTRING(di.site_code, 1, 4) ASC HAVING  site_code !='bm0100' ;
	</select>
	<!-- 大数据分析  部委下级数据 -->
	<select id="queryBmSublevel" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  doi.name,
		  SUBSTRING(di.site_code, 1, 6) site_code,
		  LEVEL 
		FROM
		  database_info di
		left join database_org_info doi
	  on SUBSTRING(di.site_code, 1, 6)=doi.site_code
		WHERE di.site_code NOT LIKE 'N0%'
		  AND di.isexp = 1 
		  <if test="siteCodeLike !=null">
		  	AND di.site_code LIKE '${siteCodeLike}%' 
		  </if>
		  <if test="level !=null">
		  	AND di.level = #{level}
		  </if>
		GROUP BY SUBSTRING(di.site_code, 1, 6) ASC 
	</select>
	<!-- 大数据分析  门户数据(下级门户) -->
	<select id="queryGateway" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  * 
		FROM
		  database_info 
		WHERE site_code NOT LIKE 'N0%' 
		  AND site_code NOT LIKE 'bm%' 
		  AND isexp = 1 
		  <if test="level !=null">
		  	AND level = #{level}
		  </if>
		  <if test="siteCodeLike !=null">
		  	and site_code like '${siteCodeLike}%'
		  </if>
		  AND isorganizational=1
	</select>
	<!-- 大数据分析  部委门户数据(下级门户) -->
	<select id="queryBmGateway" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  * 
		FROM
		  database_info 
		WHERE site_code NOT LIKE 'N0%' 
		  AND site_code LIKE 'bm%' 
		  AND isexp = 1 
		  <if test="level !=null">
		  	AND level =#{level}
		  </if>
		  <if test="siteCodeLike !=null">
		  	and site_code like '${siteCodeLike}%'
		  </if>
		   AND isorganizational=1
	</select>
	<!-- 大数据分析  本级部门数据 -->
	<select id="queryLevelDepartment" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  * 
		FROM
		  database_info 
		WHERE site_code NOT LIKE 'N0%' 
		  AND isexp = 1 
		  <if test="level !=null">
		  	AND level = #{level} 
		  </if>
		  <if test="siteCodeLike !=null">
		  	AND site_code LIKE '${siteCodeLike}%' 
		  </if>
	</select>
	<select id="queryAllSite" parameterType="HashMap" resultMap="resultMap">
	
		select * from database_info 
		where isexp = 1
		 <if test="siteCodeLike !=null">
		  	and site_code like '${siteCodeLike}%'
		 </if>
		 <if test="level !=null">
		  	<![CDATA[ AND level >= #{level} ]]>    
		  </if>
		      
		and is_scan=1
	</select>
	<select id="queryMinLevel" parameterType="HashMap" resultType="java.lang.Integer">
		select min(level) from database_info 
		<include refid="where" />
	</select>
	
	<!-- 查询省市县上报、关停、例外   新方法-->
	<select id="queryProvinceCountByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
		SELECT  #{siteCode} siteCode,
		<if test='name !=null '>
		#{name} as name,
		</if>
		max(case  when a.isexp= 1 then a.spotCount else 0 end) as normalNum,
		max(case  when a.isexp=2 then a.spotCount else 0 end) as excepNum,
		max(case  when a.isexp= 3 then a.spotCount else 0 end) as shutDownNum,
 		max(case  when a.isexp= 1 then a.spotCount else 0 end)+max(case  when a.isexp=2 then a.spotCount else 0 end)+max(case  when a.isexp= 3 then a.spotCount else 0 end) as spotCount
		from (
		select count(dti.site_code) as spotCount,dti.site_code, 
		dbi.isexp
		from database_tree_info  dti
		LEFT JOIN database_info dbi 
		ON dti.site_code = dbi.site_code
		<where>
	
			<if test="code != null ">
				and dti.code like CONCAT(#{code},'%')
			</if>
				AND LENGTH(dti.site_code)= 10
				and dti.is_bigdata='1'
		</where>
		group by dbi.isexp ) a
		</select>
<!-- 	查询全面检测数量 -->
	<select id="queryProvinceScan" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
		SELECT
			dti.site_Code siteCode,
			dbi.NAME NAME
		FROM
			database_tree_info dti
		
		LEFT JOIN database_info dbi 
		ON dti.site_code = dbi.site_code
		
		
		<where>
	
		<if test="isexp != null ">
			AND dbi.isexp = #{isexp}
		</if>
		
		<if test="isScan != null ">
			AND dbi.is_scan = #{isScan}
		</if>
		<if test="code != null ">
			and dti.code like CONCAT(#{code},'%')
		</if>
			AND LENGTH(dti.site_code)= 10
			and dti.is_bigdata='1'
		</where>
			
	
	</select>
	<!-- 查询省市县上报、关停、例外 -->
	<select id="queryProvinceCountByMap2" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
		select a.siteCode siteCode,a.name name,a.level level,a.spotCount spotCount,a.shutDownNum shutDownNum,a.excepNum excepNum,a.normalNum normalNum,b.isScanNum isScanNum from
			(select dii.siteCode, 
			dii.name,
			dii.level,
			max(case dii.isexp when 2 then spotCount else 0 end) as shutDownNum,
			max(case dii.isexp when 3 then spotCount else 0 end) as excepNum,
			max(case dii.isexp when 1 then spotCount else 0 end) as normalNum,
			max(case dii.isexp when 1 then spotCount else 0 end)+max(case dii.isexp when 2 then spotCount else 0 end)+max(case dii.isexp when 3 then spotCount else 0 end) as spotCount
			from (
			select di.*,doi.name from (SELECT 
			    COUNT(id) AS spotCount,
	  				<if test="level == 1">
				  		SUBSTRING(site_code,1,2) AS orgCode,
				  	</if>
					<if test="level == 2 and flagZh == 1 and flagBw == 1">
						SUBSTRING(site_code,1,4) AS orgCode,
					</if>
					<if test="level == 2 and (flagZh == 0 or flagBw == 0)">
						SUBSTRING(site_code,1,6) AS orgCode,
					</if>
					<if test="level == 3">
						SUBSTRING(site_code,1,6) AS orgCode,
					</if>
	  			isexp, 
				<if test="level == 1">
					CONCAT(SUBSTRING(site_code,1,2),'0000') as siteCode, 
				</if>
				<if test="level == 2 and flagZh == 1 and flagBw == 1">
					CONCAT(SUBSTRING(site_code,1,4),'00') as siteCode, 
				</if>
				<if test="level == 2 and (flagZh == 0 or flagBw == 0)">
					SUBSTRING(site_code,1,6) as siteCode, 
				</if>
				<if test="level == 3">
					SUBSTRING(site_code,1,6) as siteCode, 
				</if>
	  			level
			FROM
			  database_info 
			WHERE 1=1 and site_code not like 'N0%' 
			<if test="flagBw == 1">
				and site_code not like 'bm%'
			</if>
			<if test="parentSiteCodeLike !=null">
				and site_code like '${parentSiteCodeLike}%' 
			</if>
			 group by orgCode,isexp asc) di,database_org_info doi 
			 where di.siteCode=doi.site_code) dii
			 group by dii.siteCode) a,
			 (select dii.siteCode, 
				max(case dii.is_scan when 1 then spotCount else 0 end) as isScanNum
				from (
					SELECT 
					COUNT(id) AS spotCount,
					<if test="level == 1">
				  		SUBSTRING(site_code,1,2) AS orgCode,
				  	</if>
					<if test="level == 2 and flagZh == 1 and flagBw == 1">
						SUBSTRING(site_code,1,4) AS orgCode,
					</if>
					<if test="level == 2 and (flagZh == 0 or flagBw == 0)">
						SUBSTRING(site_code,1,6) AS orgCode,
					</if>
					<if test="level == 3">
						SUBSTRING(site_code,1,6) AS orgCode,
					</if>
				    <if test="level == 1">
						CONCAT(SUBSTRING(site_code,1,2),'0000') as siteCode, 
					</if>
					<if test="level == 2 and flagZh == 1 and flagBw == 1">
						CONCAT(SUBSTRING(site_code,1,4),'00') as siteCode, 
					</if>
					<if test="level == 2 and (flagZh == 0 or flagBw == 0)">
						SUBSTRING(site_code,1,6) as siteCode, 
					</if>
					<if test="level == 3">
						SUBSTRING(site_code,1,6) as siteCode, 
					</if>
				    is_scan
					FROM
					database_info
					WHERE 1=1 and site_code not like 'N0%' 
					<if test="flagBw == 1">
						and site_code not like 'bm%'
					</if>
					and isexp=1
					<if test="parentSiteCodeLike !=null">
						and site_code like '${parentSiteCodeLike}%' 
					</if>
					group by orgCode,is_scan asc) dii group by dii.siteCode) b 
		where a.siteCode=b.siteCode and a.siteCode !=#{siteCode}
		<if test="keyWord !=null">
			and (a.name like '%${keyWord}%' or a.siteCode like '%${keyWord}%')
		</if>
	</select>
	<!-- 查询部委上报、关停、例外 -->
	<select id="queryCountBm" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.DatabaseInfoRequest">
	select a.siteCode siteCode,a.name name,a.level level,a.spotCount spotCount,a.shutDownNum shutDownNum,a.excepNum excepNum,a.normalNum normalNum,b.isScanNum isScanNum from
		(select dii.siteCode, 
		dii.name,
		dii.level,
		max(case dii.isexp when 2 then spotCount else 0 end) as shutDownNum,
		max(case dii.isexp when 3 then spotCount else 0 end) as excepNum,
		max(case dii.isexp when 1 then spotCount else 0 end) as normalNum,
		max(case dii.isexp when 1 then spotCount else 0 end)+max(case dii.isexp when 2 then spotCount else 0 end)+max(case dii.isexp when 3 then spotCount else 0 end) as spotCount
		from (
		select di.*,doi.name from (SELECT 
		    COUNT(id) AS spotCount,
  			SUBSTRING(site_code,1,4) AS orgCode,
  			isexp,
  			level,
			CONCAT(SUBSTRING(site_code,1,4),'00') as siteCode
		FROM
		  database_info 
		WHERE 1=1 and site_code not like 'N0%' and site_code like 'bm%' 
		<if test="parentSiteCodeLike !=null">
			and site_code like '${parentSiteCodeLike}%' 
		</if>
		group by orgCode,isexp asc) di,database_org_info doi 
		where di.siteCode=doi.site_code) dii
		group by dii.siteCode) a,
		(select dii.siteCode, 
		max(case dii.is_scan when 1 then spotCount else 0 end) as isScanNum
		from (
		 SELECT 
				    COUNT(id) AS spotCount,
		  			SUBSTRING(site_code,1,4) AS orgCode,
		        CONCAT(SUBSTRING(site_code,1,4),'00') AS siteCode,
		        is_scan
				FROM
				  database_info
				WHERE 1=1 and site_code not like 'N0%' and site_code like 'bm%' and isexp=1
				 group by orgCode,is_scan asc having siteCode !='bm0100'
		
		) dii group by dii.siteCode) b 
		where a.siteCode=b.siteCode and a.siteCode !=#{siteCode}
		<if test="keyWord !=null">
			and (a.name like '%${keyWord}%' or a.siteCode like '%${keyWord}%')
		</if>
	</select>
	<select id="queryIsScan" parameterType="HashMap" resultMap="resultMap">
	
		select s.name from database_info d 
		join dic_scan s on d.is_scan = s.id
		and d.site_code = #{siteCode}
		
	</select>
	
	<!-- 分页查询临时 -->
	<select id="queryTemp" parameterType="HashMap" resultMap="resultMap">
		select di.* from database_info di,database_tree_info dti 
		where di.site_code=dti.site_code and dti.state = 1
		<if test="code !=null">
			and dti.code like concat(#{code},'%')
		</if>
		<if test="noEqIsScan !=null">
			and di.is_scan!=#{noEqIsScan}
		</if>
		<if test="isexp !=null">
			and dti.isexp=#{isexp}
		</if>
		
		<if test="keyWord !=null">
			and (di.name like '%${keyWord}%' or di.site_code like '%${keyWord}%' 
			<if test="keyWordOrisexp !=null">
				or di.isexp=#{keyWordOrisexp}
			</if>
			)
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder"
				separator=",">
				di.${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<!-- 查询总数临时 -->
	<select id="queryCountTemp" parameterType="HashMap" resultType="int">
		select count(di.id) from database_info di,database_tree_info dti 
		where  di.site_code=dti.site_code and dti.state = 1
		<if test="code !=null">
			and dti.code like concat(#{code},'%')
		</if>
		<if test="noEqIsScan !=null">
			and di.is_scan!=#{noEqIsScan}
		</if>
		<if test="isexp !=null">
			and dti.isexp=#{isexp}
		</if>
		
		<if test="keyWord !=null">
			and (di.name like '%${keyWord}%' or di.site_code like '%${keyWord}%' 
			<if test="keyWordOrisexp !=null">
				or di.isexp=#{keyWordOrisexp}
			</if>
			)
		</if>
	</select>
	
	
	<select id="queryListJoinDatabaseTree" parameterType="HashMap" resultMap="resultMap">
		select * from database_info d
		join database_tree_info dt
		on d.site_code = dt.site_code
		<if test="isexp !=null">
			and d.isexp=#{isexp}
		</if>
		<if test="siteCode !=null">
			and d.site_code=#{siteCode}
		</if>
		  <if test="ids!=null">
		  	and d.site_code in
				<foreach collection="ids" item="item"  open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
		  </if>
		  <if test="siteType !=null">
			and dt.layer_type=#{siteType}
		</if>
		<if test="orgSiteCode !=null">
			and dt.org_site_code=#{orgSiteCode}
		</if>
		and dt.is_link = 1
	</select>
	
	<select id="getSiteInfoByTree" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  di.*
		FROM
		  database_tree_info dti 
		  LEFT JOIN database_info di 
		    ON dti.site_code = di.site_code 
		WHERE 1=1
		<if test="orgSiteCode !=null">
			AND dti.org_site_code =#{orgSiteCode} 
		</if>
		 <if test="isexp !=null">
		 	AND di.isexp = #{isexp}
		 </if> 
		 <if test="isLink !=null">
		 	AND dti.is_link=#{isLink}
		 </if>
		 <if test="layerType !=null">
			AND dti.layer_type in
			<foreach collection="layerType" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
</mapper>
