<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.DatabaseLinkDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.DatabaseLink" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null">
				and site_code =#{siteCode}				
			</if>
			<if test="orgSiteCode != null">
				and org_site_code =#{orgSiteCode}				
			</if>
			<if test="type != null and type != -1">
				and type =#{type}				
			</if>
			<if test="typeIn != null">
				and type in (${typeIn})		
			</if>
			<if test="isexp != null">
				and isexp =#{isexp}				
			</if>
			<if test="linkStatus != null">
				and link_status =#{linkStatus}				
			</if>
			<if test="linkStatus == null">
				and link_status ='1'				
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.DatabaseLink" useGeneratedKeys="true" keyProperty="id">
		insert into database_link ( 
			<if test="id != null ">id,</if>
			<if test="databaseInfoId != null ">database_info_id,</if>
			<if test="orgSiteCode != null ">org_site_code,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="isorganizational != null ">isorganizational,</if>
			<if test="type != null ">type,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="databaseInfoId != null ">#{databaseInfoId},</if>
			<if test="orgSiteCode != null ">#{orgSiteCode},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="isorganizational != null ">#{isorganizational},</if>
			<if test="type != null ">#{type},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.DatabaseLink">
		select * from database_link where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.DatabaseLink">
		update database_link 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="databaseInfoId != null ">database_info_id = #{databaseInfoId},</if>
				<if test="orgSiteCode != null ">org_site_code = #{orgSiteCode},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="isorganizational != null ">isorganizational = #{isorganizational},</if>
				<if test="type != null ">type = #{type},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from database_link where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from database_link
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from database_link
		<include refid="where" />
	</select>
	
	<select id="queryCountBySiteCode" parameterType="com.ucap.cloud_web.dto.DatabaseLinkRequest" resultType="com.ucap.cloud_web.dto.DatabaseLinkRequest">
		select count(*) as count,type,database_info_id,isexp from database_link
		<include refid="where" />
		<if test="groupBy != null ">
			group by ${groupBy}
		</if>
	</select>
<!-- 获取组织单位 单站预警 10位sitecode	 -->
		<select id="queryEarlySingleSiteCode" parameterType="com.ucap.cloud_web.dto.DatabaseLinkRequest" resultType="com.ucap.cloud_web.entity.DatabaseLink">
		select * from database_link 
		<include refid="where" />
	</select>
	
	<select id="queryJoinContract" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  l.* 
		FROM
		  database_link l 
		  JOIN contract_info c 
		    ON l.org_site_code = c.site_code 
		WHERE 1=1
		<if test="siteCode !=null">
			and l.site_code = #{siteCode}
		</if>
		<if test="orgSiteCode !=null">
			and l.org_site_code=#{orgSiteCode}
		</if>	
		  and l.type in (1,2,3,6)	
		  and link_status = 1 
		  and c.execute_status = 1 
		  and (
		    contract_code_spot IS NULL 
		    OR contract_code_spot = ''
		  )
	</select>

</mapper>
