<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.DetectionResultDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.DetectionResult" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
            <if test="scanDate != null">
				and scan_date=#{scanDate}
			</if>
			<if test="siteCode != null">
				and site_code=#{siteCode}
			</if>
			<if test="ids != null">
			 	and site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
			<if test="websiteList !=null">
				and site_code in 
				<foreach collection="websiteList" item="item" open="(" separator="," close=")">
				     #{item.siteCode}
				</foreach>
			
			</if>
			<if test="siteCodes !=null">
				and site_code in 
				<foreach collection="siteCodes" item="siteCode" open="(" separator="," close=")">
				     #{siteCode}
				</foreach>
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			
			
			<if test="databaseInfoList != null">
				and site_code in 
				<foreach collection="databaseInfoList" item="item" open="(" separator="," close=")">
       					#{item.siteCode}
				</foreach>
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.DetectionResult" useGeneratedKeys="true" keyProperty="id">
		insert into detection_result ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="siteName != null ">site_name,</if>
			<if test="url != null ">url,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="convertScores != null ">convert_scores,</if>
			<if test="indexCount != null ">index_count,</if>
			<if test="indexCountAvg != null ">index_count_avg,</if>
			<if test="leadAvgRate != null ">lead_avg_rate,</if>
			<if test="leadYesterday != null ">lead_yesterday,</if>
			<if test="leadYesterdayRate != null ">lead_yesterday_rate,</if>
			<if test="connNum != null ">conn_num,</if>
			<if test="connChannel != null ">conn_channel,</if>
			<if test="connBusiness != null ">conn_business,</if>
			<if test="connHome != null ">conn_home,</if>
			<if test="linkNum != null ">link_num,</if>
			<if test="linkAll != null ">link_all,</if>
			<if test="linkHome != null ">link_home,</if>
			<if test="contGuaranteNum != null ">cont_guarante_num,</if>
			<if test="securityHome != null ">security_home,</if>
			<if test="securityChannel != null ">security_channel,</if>
			<if test="securityBlank != null ">security_blank,</if>
			<if test="securityService != null ">security_service,</if>
			<if test="securityResponse != null ">security_response,</if>
			<if test="securityBasic != null ">security_basic,</if>
			<if test="securityFatalError != null ">security_fatal_error,</if>
			<if test="contCorrectNum != null ">cont_correct_num,</if>
			<if test="websiteSafe != null ">website_safe,</if>
			<if test="contUpdate != null ">cont_update,</if>
			<if test="updateHome != null ">update_home,</if>
			<if test="updateChannel != null ">update_channel,</if>
			<if test="silentNum != null ">silent_num,</if>
			<if test="silentType != null ">silent_type,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="siteName != null ">#{siteName},</if>
			<if test="url != null ">#{url},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="convertScores != null ">#{convertScores},</if>
			<if test="indexCount != null ">#{indexCount},</if>
			<if test="indexCountAvg != null ">#{indexCountAvg},</if>
			<if test="leadAvgRate != null ">#{leadAvgRate},</if>
			<if test="leadYesterday != null ">#{leadYesterday},</if>
			<if test="leadYesterdayRate != null ">#{leadYesterdayRate},</if>
			<if test="connNum != null ">#{connNum},</if>
			<if test="connChannel != null ">#{connChannel},</if>
			<if test="connBusiness != null ">#{connBusiness},</if>
			<if test="connHome != null ">#{connHome},</if>
			<if test="linkNum != null ">#{linkNum},</if>
			<if test="linkAll != null ">#{linkAll},</if>
			<if test="linkHome != null ">#{linkHome},</if>
			<if test="contGuaranteNum != null ">#{contGuaranteNum},</if>
			<if test="securityHome != null ">#{securityHome},</if>
			<if test="securityChannel != null ">#{securityChannel},</if>
			<if test="securityBlank != null ">#{securityBlank},</if>
			<if test="securityService != null ">#{securityService},</if>
			<if test="securityResponse != null ">#{securityResponse},</if>
			<if test="securityBasic != null ">#{securityBasic},</if>
			<if test="securityFatalError != null ">#{securityFatalError},</if>
			<if test="contCorrectNum != null ">#{contCorrectNum},</if>
			<if test="websiteSafe != null ">#{websiteSafe},</if>
			<if test="contUpdate != null ">#{contUpdate},</if>
			<if test="updateHome != null ">#{updateHome},</if>
			<if test="updateChannel != null ">#{updateChannel},</if>
			<if test="silentNum != null ">silent_num,</if>
			<if test="silentType != null ">silent_type,</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.DetectionResult">
		select * from detection_result where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.DetectionResult">
		update detection_result 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="siteName != null ">site_name = #{siteName},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="convertScores != null ">convert_scores = #{convertScores},</if>
				<if test="indexCount != null ">index_count = #{indexCount},</if>
				<if test="indexCountAvg != null ">index_count_avg = #{indexCountAvg},</if>
				<if test="leadAvgRate != null ">lead_avg_rate = #{leadAvgRate},</if>
				<if test="leadYesterday != null ">lead_yesterday = #{leadYesterday},</if>
				<if test="leadYesterdayRate != null ">lead_yesterday_rate = #{leadYesterdayRate},</if>
				<if test="connNum != null ">conn_num = #{connNum},</if>
				<if test="connChannel != null ">conn_channel = #{connChannel},</if>
				<if test="connBusiness != null ">conn_business = #{connBusiness},</if>
				<if test="connHome != null ">conn_home = #{connHome},</if>
				<if test="linkNum != null ">link_num = #{linkNum},</if>
				<if test="linkAll != null ">link_all = #{linkAll},</if>
				<if test="linkHome != null ">link_home = #{linkHome},</if>
				<if test="contGuaranteNum != null ">cont_guarante_num = #{contGuaranteNum},</if>
				<if test="securityHome != null ">security_home = #{securityHome},</if>
				<if test="securityChannel != null ">security_channel = #{securityChannel},</if>
				<if test="securityBlank != null ">security_blank = #{securityBlank},</if>
				<if test="securityService != null ">security_service = #{securityService},</if>
				<if test="securityResponse != null ">security_response = #{securityResponse},</if>
				<if test="securityBasic != null ">security_basic = #{securityBasic},</if>
				<if test="securityFatalError != null ">security_fatal_error = #{securityFatalError},</if>
				<if test="contCorrectNum != null ">cont_correct_num = #{contCorrectNum},</if>
				<if test="websiteSafe != null ">website_safe = #{websiteSafe},</if>
				<if test="contUpdate != null ">cont_update = #{contUpdate},</if>
				<if test="updateHome != null ">update_home = #{updateHome},</if>
				<if test="updateChannel != null ">update_channel = #{updateChannel},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="silentNum != null ">silent_num = #{silentNum},</if>
				<if test="silentType != null ">silent_type = #{silentType},</if>
				modify_time = now()
			</trim>
			where id=#{id} 
	</update>
	<update id="batchUpdate" parameterType="HashMap">
		update detection_result 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="siteName != null ">site_name = #{siteName},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="convertScores != null ">convert_scores = #{convertScores},</if>
				<if test="indexCount != null ">index_count = #{indexCount},</if>
				<if test="indexCountAvg != null ">index_count_avg = #{indexCountAvg},</if>
				<if test="leadAvgRate != null ">lead_avg_rate = #{leadAvgRate},</if>
				<if test="leadYesterday != null ">lead_yesterday = #{leadYesterday},</if>
				<if test="leadYesterdayRate != null ">lead_yesterday_rate = #{leadYesterdayRate},</if>
				<if test="connNum != null ">conn_num = #{connNum},</if>
				<if test="connChannel != null ">conn_channel = #{connChannel},</if>
				<if test="connBusiness != null ">conn_business = #{connBusiness},</if>
				<if test="connHome != null ">conn_home = #{connHome},</if>
				<if test="connHomeSum != null ">conn_home_sum = #{connHomeSum},</if>
				<if test="connHomeProportion != null ">conn_home_proportion = #{connHomeProportion},</if>
				<if test="linkNum != null ">link_num = #{linkNum},</if>
				<if test="linkAll != null ">link_all = #{linkAll},</if>
				<if test="linkHome != null ">link_home = #{linkHome},</if>
				<if test="linkHomeSum != null ">link_home_sum = #{linkHomeSum},</if>
				<if test="linkHomeProportion != null ">link_home_proportion = #{linkHomeProportion},</if>
				<if test="contGuaranteNum != null ">cont_guarante_num = #{contGuaranteNum},</if>
				<if test="securityHome != null ">security_home = #{securityHome},</if>
				<if test="securityChannel != null ">security_channel = #{securityChannel},</if>
				<if test="securityBlank != null ">security_blank = #{securityBlank},</if>
				<if test="securityService != null ">security_service = #{securityService},</if>
				<if test="securityResponse != null ">security_response = #{securityResponse},</if>
				<if test="securityBasic != null ">security_basic = #{securityBasic},</if>
				<if test="securityFatalError != null ">security_fatal_error = #{securityFatalError},</if>
				<if test="contCorrectNum != null ">cont_correct_num = #{contCorrectNum},</if>
				<if test="websiteSafe != null ">website_safe = #{websiteSafe},</if>
				<if test="contUpdate != null ">cont_update = #{contUpdate},</if>
				<if test="updateHome != null ">update_home = #{updateHome},</if>
				<if test="updateChannel != null ">update_channel = #{updateChannel},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="silentNum != null ">silent_num = #{silentNum},</if>
				<if test="silentType != null ">silent_type = #{silentType},</if>
				modify_time = now()
			</trim>
			<include refid="where" />
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from detection_result where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from detection_result
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from detection_result
		<include refid="where" />
	</select>
	<select id="querySum" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.DetectionResult">
		select sum(conn_num) as conn_num,sum(link_num) as link_num,sum(cont_guarante_num) as cont_guarante_num,
		sum(cont_correct_num) as cont_correct_num,sum(website_safe) as website_safe,sum(cont_update) as cont_update,
		sum(convert_scores) as convertScores
		from detection_result
		<include refid="where" />
	</select>
	<select id="getList" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.DetectionResult">
				
		SELECT
			da.director director,
			da.address address,
			da.principal_name principalName,
			da.telephone telephone,
			da.mobile mobile,
			da.email email,
			da.linkman_name linkmanName,
			da.telephone_2 telephone2,
			da.mobile_2 mobile2,
			da.email_2 email2,
			da.isorganizational isorganizational,
			IFNULL(sum(dr.silent_num), 0) silentNum,
			IFNULL(sum(dr.conn_home), 0) connHome,
			IFNULL(sum(dr.link_num), 0) linkNum,
			IFNULL(sum(dr.update_home), 0) updateHome,
			IFNULL(sum(dr.cont_correct_num), 0) contCorrectNum,
			IFNULL(sum(dr.website_safe), 0) websiteSafe,
			IFNULL(sum(dr.cont_update), 0) contUpdate,
			IFNULL(sum(dr.convert_scores), 0) convertScores,
			dr.site_name,
			dr.site_code,
			dr.url,
			dr.silent_type silentType,
			dr.security_home securityHome
		FROM
			database_info da,
			detection_result dr,
			database_tree_info dti
		WHERE
			dr.site_code = dti.site_code
		AND da.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>
		<if test="scanDate != null">
			and dr.scan_date=#{scanDate}
		</if>
		<if test="isExp != null">
			and da.isexp = #{isExp}
		</if>
		GROUP BY
			dr.site_code
		ORDER BY
			convertScores ASC		
	</select>
	<select id="getListCount" parameterType="HashMap" resultType="int">
		select count(1) from (select count(1) from detection_result 
		<include refid="where" />
		group by site_code) a
	</select>
	<select id="maxScanDate" resultType="string">
		select max(scan_date) as scanDate from detection_result
	</select>
</mapper>
