<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.DetectionPeriodOrgDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.DetectionPeriodOrg" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="type !=null">
				and type=#{type}
			</if>
			<if test="servicePeroidId !=null">
				and service_peroid_id=#{servicePeroidId}
			</if>
			<if test="nowDate !=null">
				and #{nowDate} between start_date and end_date
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.DetectionPeriodOrg" useGeneratedKeys="true" keyProperty="id">
		insert into detection_period_org ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="servicePeroidId != null ">service_peroid_id,</if>
			<if test="type != null ">type,</if>
			<if test="startDate != null ">start_date,</if>
			<if test="endDate != null ">end_date,</if>
			<if test="linkAll != null ">link_all,</if>
			<if test="linkAllSite != null ">link_all_site,</if>
			<if test="securityBlank != null ">security_blank,</if>
			<if test="securityBlankSite != null ">security_blank_site,</if>
			<if test="securityResponse != null ">security_response,</if>
			<if test="securityResponseSite != null ">security_response_site,</if>
			<if test="serviceGuide != null ">service_guide,</if>
			<if test="serviceGuideSite != null ">service_guide_site,</if>
			<if test="serviceDownload != null ">service_download,</if>
			<if test="serviceDownloadSite != null ">service_download_site,</if>
			<if test="serviceOther != null ">service_other,</if>
			<if test="serviceOtherSite != null ">service_other_site,</if>
			<if test="securityService != null ">security_service,</if>
			<if test="securityServiceSite != null ">security_service_site,</if>
			<if test="seriousUnreal != null ">serious_unreal,</if>
			<if test="seriousUnrealSite != null ">serious_unreal_site,</if>
			<if test="seriousViolence != null ">serious_violence,</if>
			<if test="seriousViolenceSite != null ">serious_violence_site,</if>
			<if test="seriousOthers != null ">serious_others,</if>
			<if test="seriousOthersSite != null ">serious_others_site,</if>
			<if test="securityFatalError != null ">security_fatal_error,</if>
			<if test="securityFatalSite != null ">security_fatal_site,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="servicePeroidId != null ">#{servicePeroidId},</if>
			<if test="type != null ">#{type},</if>
			<if test="startDate != null ">#{startDate},</if>
			<if test="endDate != null ">#{endDate},</if>
			<if test="linkAll != null ">#{linkAll},</if>
			<if test="linkAllSite != null ">#{linkAllSite},</if>
			<if test="securityBlank != null ">#{securityBlank},</if>
			<if test="securityBlankSite != null ">#{securityBlankSite},</if>
			<if test="securityResponse != null ">#{securityResponse},</if>
			<if test="securityResponseSite != null ">#{securityResponseSite},</if>
			<if test="serviceGuide != null ">#{serviceGuide},</if>
			<if test="serviceGuideSite != null ">#{serviceGuideSite},</if>
			<if test="serviceDownload != null ">#{serviceDownload},</if>
			<if test="serviceDownloadSite != null ">#{serviceDownloadSite},</if>
			<if test="serviceOther != null ">#{serviceOther},</if>
			<if test="serviceOtherSite != null ">#{serviceOtherSite},</if>
			<if test="securityService != null ">#{securityService},</if>
			<if test="securityServiceSite != null ">#{securityServiceSite},</if>
			<if test="seriousUnreal != null ">#{seriousUnreal},</if>
			<if test="seriousUnrealSite != null ">#{seriousUnrealSite},</if>
			<if test="seriousViolence != null ">#{seriousViolence},</if>
			<if test="seriousViolenceSite != null ">#{seriousViolenceSite},</if>
			<if test="seriousOthers != null ">#{seriousOthers},</if>
			<if test="seriousOthersSite != null ">#{seriousOthersSite},</if>
			<if test="securityFatalError != null ">#{securityFatalError},</if>
			<if test="securityFatalSite != null ">#{securityFatalSite},</if>
			now(),
			now()
		)
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.DetectionPeriodOrg">
		select * from detection_period_org where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.DetectionPeriodOrg">
		update detection_period_org 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="servicePeroidId != null ">service_peroid_id = #{servicePeroidId},</if>
				<if test="type != null ">type = #{type},</if>
				<if test="startDate != null ">start_date = #{startDate},</if>
				<if test="endDate != null ">end_date = #{endDate},</if>
				<if test="linkAll != null ">link_all = #{linkAll},</if>
				<if test="linkAllSite != null ">link_all_site = #{linkAllSite},</if>
				<if test="securityBlank != null ">security_blank = #{securityBlank},</if>
				<if test="securityBlankSite != null ">security_blank_site = #{securityBlankSite},</if>
				<if test="securityResponse != null ">security_response = #{securityResponse},</if>
				<if test="securityResponseSite != null ">security_response_site = #{securityResponseSite},</if>
				<if test="serviceGuide != null ">service_guide = #{serviceGuide},</if>
				<if test="serviceGuideSite != null ">service_guide_site = #{serviceGuideSite},</if>
				<if test="serviceDownload != null ">service_download = #{serviceDownload},</if>
				<if test="serviceDownloadSite != null ">service_download_site = #{serviceDownloadSite},</if>
				<if test="serviceOther != null ">service_other = #{serviceOther},</if>
				<if test="serviceOtherSite != null ">service_other_site = #{serviceOtherSite},</if>
				<if test="securityService != null ">security_service = #{securityService},</if>
				<if test="securityServiceSite != null ">security_service_site = #{securityServiceSite},</if>
				<if test="seriousUnreal != null ">serious_unreal = #{seriousUnreal},</if>
				<if test="seriousUnrealSite != null ">serious_unreal_site = #{seriousUnrealSite},</if>
				<if test="seriousViolence != null ">serious_violence = #{seriousViolence},</if>
				<if test="seriousViolenceSite != null ">serious_violence_site = #{seriousViolenceSite},</if>
				<if test="seriousOthers != null ">serious_others = #{seriousOthers},</if>
				<if test="seriousOthersSite != null ">serious_others_site = #{seriousOthersSite},</if>
				<if test="securityFatalError != null ">security_fatal_error = #{securityFatalError},</if>
				<if test="securityFatalSite != null ">security_fatal_site = #{securityFatalSite},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from detection_period_org where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from detection_period_org
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from detection_period_org
		<include refid="where" />
	</select>
	

</mapper>
