<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.EarlyDetailDao">
<!-- <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
 -->	<resultMap type="com.ucap.cloud_web.entity.EarlyDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code =#{siteCode}
			</if>
			<if test="orgSiteCode !=null">
				and ce.site_code =#{orgSiteCode}
			</if>
			<if test="checkType !=null">
				and check_type=#{checkType}
			</if>
			<if test="checkState != null">
				and check_state = #{checkState}
			</if>
			<if test="type !=null">
				and type = #{type}
			</if>
			<if test="servicePeriodId !=null">
				and service_period_id = #{servicePeriodId}
			</if>
			<if test="spotCheckSchedule !=null">
				and spot_check_schedule = '${spotCheckSchedule}%'
			</if>
			<if test="status !=null">
				and (send_wx_status = 0 or send_sms_status= 0)
			</if>
			<if test="sendWxStatus !=null">
				and send_wx_status = #{sendWxStatus}
			</if>
			<if test="sendSmsStatus !=null">
				and send_sms_status = #{sendSmsStatus}
			</if>
			<if test="orgSendStatus !=null">
				and org_send_status =#{orgSendStatus}
			</if>
			<if test="beginTime !=null and endTime !=null">
				and scan_time BETWEEN #{beginTime} AND #{endTime}
			</if>
			<if test="sendEmailState !=null">
				and send_email_state = #{sendEmailState}
			</if>
			<if test="sendOrgFlag !=null">
				and (org_send_status =1 or org_tb_send_status =1)
			</if>
			<if test="sendTBFlag !=null">
				and (tb_send_status =1)
			</if>
			<if test="sendEmailStateNot !=null">
				and send_email_state != #{sendEmailStateNot}
			</if>
			<if test="url !=null">
				and url = #{url}
			</if>
			<if test="sendWxStatusList !=null">
				and send_wx_status in (${sendWxStatusList})
			</if>
			<if test="sendSmsStatusList !=null">
				and send_sms_status in (${sendSmsStatusList})
			</if>
			<if test="types !=null">
				and type in (${types})
			</if>
			<if test="sendWxStatusList !=null">
				and send_wx_status in (${sendWxStatusList})
			</if>
			<if test="sendSmsStatusList !=null">
				and send_sms_status in (${sendSmsStatusList})
			</if>
			<if test="websiteList !=null">
				and site_code in
				<foreach collection="websiteList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="linkList !=null">
				and site_code in
				<foreach collection="linkList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="scanTime !=null">
				and scan_time like '${scanTime}%'
			</if>
			<if test="scanDate !=null">
				and scan_time like '${scanDate}%'
			</if>
			
			<if test="siteCodeLength != null ">
				and length(ce.site_code)=#{siteCodeLength}
			</if>
			<if test="earlyType != null ">
				and early_type=#{earlyType}
			</if>
			<if test="isDailyReceive != null">
				and is_daily_receive=#{isDailyReceive}
			</if>
			<if test="typeIn != null">
				and type in (${typeIn})		
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.EarlyDetail" useGeneratedKeys="true" keyProperty="id">
		insert into early_detail ( 
			<if test="siteCode != null ">site_code,</if>
			<if test="dicChannelId != null ">dic_channel_id,</if>
			<if test="queDescribe != null ">que_describe,</if>
			<if test="type != null ">type,</if>
			<if test="updateGradeType != null ">update_grade_type,</if>
			<if test="checkType != null ">check_type,</if>
			<if test="spotCheckSchedule != null ">spot_check_schedule,</if>
			<if test="scanTime != null ">scan_time,</if>
			<if test="errorCode != null ">error_code,</if>
			<if test="sendWxStatus != null ">send_wx_status,</if>
			<if test="sendSmsStatus != null ">send_sms_status,</if>
			<if test="sendEmailState != null ">send_email_state,</if>
			<if test="sendWxTimes != null ">send_wx_times,</if>
			<if test="sendSmsTimes != null ">send_sms_times,</if>
			<if test="sendWxTime != null ">send_wx_time,</if>
			<if test="sendSmsTime != null ">send_sms_time,</if>
			<if test="sendEmailTime != null ">send_email_time,</if>
			<if test="wrongTerm != null ">wrong_term,</if>
			<if test="expectTerms != null ">expect_terms,</if>
			<if test="url != null ">url,</if>
			<if test="checkState != null ">check_state,</if>
			
			<if test="errorProportion != null ">error_proportion,</if>
			<if test="blankNum != null ">blank_num,</if>
			<if test="scanNum != null ">scan_num,</if>
			<if test="notConnectionNum != null ">not_connection_num,</if>
			<if test="notConnectionPer != null ">not_connection_per,</if>
			<if test="linkHomeNum != null ">link_home_num,</if>
			<if test="notUpdateHome != null ">not_update_home,</if>
			<if test="updateNum != null ">update_num,</if>
			<if test="updateAvgNum != null ">update_avg_num,</if>
			<if test="noUpdateChannelNum != null ">no_update_channel_num,</if>
			<if test="noUpdateDay != null ">no_update_day,</if>
			
			<if test="orgSendStatus != null ">org_send_status,</if>
			<if test="orgTbSendStatus != null ">org_tb_send_status,</if>
			<if test="tbSendStatus != null ">tb_send_status,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			
			<if test="notConnectionSum != null ">not_connection_sum,</if>
			<if test="notConnectionPer7 != null ">not_connection_per_7,</if>
			<if test="linkHomeSum != null ">link_home_sum,</if>
			<if test="noUpdateChannelSum != null ">no_update_channel_sum,</if>
			<if test="shortUrl != null ">short_url,</if>
			create_time
		) values (
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="dicChannelId != null ">#{dicChannelId},</if>
			<if test="queDescribe != null ">#{queDescribe},</if>
			<if test="type != null ">#{type},</if>
			<if test="updateGradeType != null ">#{updateGradeType},</if>
			<if test="checkType != null ">#{checkType},</if>
			<if test="spotCheckSchedule != null ">#{spotCheckSchedule},</if>
			<if test="scanTime != null ">#{scanTime},</if>
			<if test="errorCode != null ">#{errorCode},</if>
			<if test="sendWxStatus != null ">#{sendWxStatus},</if>
			<if test="sendSmsStatus != null ">#{sendSmsStatus},</if>
			<if test="sendEmailState != null ">#{sendEmailState},</if>
			<if test="sendWxTimes != null ">#{sendWxTimes},</if>
			<if test="sendSmsTimes != null ">#{sendSmsTimes},</if>
			<if test="sendWxTime != null ">#{sendWxTime},</if>
			<if test="sendSmsTime != null ">#{sendSmsTime},</if>
			<if test="sendEmailTime != null ">#{sendEmailTime},</if>			
			<if test="wrongTerm != null ">#{wrongTerm},</if>
			<if test="expectTerms != null ">#{expectTerms},</if>
			<if test="url != null ">#{url},</if>
			<if test="checkState != null ">#{checkState},</if>
			
			<if test="errorProportion != null ">#{errorProportion},</if>
			<if test="blankNum != null ">#{blankNum},</if>
			<if test="scanNum != null ">#{scanNum},</if>
			<if test="notConnectionNum != null ">#{notConnectionNum},</if>
			<if test="notConnectionPer != null ">#{notConnectionPer},</if>
			<if test="linkHomeNum != null ">#{linkHomeNum},</if>
			<if test="notUpdateHome != null ">#{notUpdateHome},</if>
			<if test="updateNum != null ">#{updateNum},</if>
			<if test="updateAvgNum != null ">#{updateAvgNum},</if>
			<if test="noUpdateChannelNum != null ">#{noUpdateChannelNum},</if>
			<if test="noUpdateDay != null ">#{noUpdateDay},</if>
			
			<if test="orgSendStatus != null ">#{orgSendStatus},</if>
			<if test="orgTbSendStatus != null ">#{orgTbSendStatus},</if>
			<if test="tbSendStatus != null ">#{tbSendStatus},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			
			<if test="notConnectionSum != null ">#{notConnectionSum},</if>
			<if test="notConnectionPer7 != null ">#{notConnectionPer7},</if>
			<if test="linkHomeSum != null ">#{linkHomeSum},</if>
			<if test="noUpdateChannelSum != null ">#{noUpdateChannelSum},</if>
			<if test="shortUrl != null ">#{shortUrl},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.EarlyDetail">
		select * from early_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.EarlyDetail">
		update early_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="dicChannelId != null ">dic_channel_id = #{dicChannelId},</if>
				<if test="queDescribe != null ">que_describe = #{queDescribe},</if>
				<if test="type != null ">type = #{type},</if>
				<if test="updateGradeType != null ">update_grade_type = #{updateGradeType},</if>
				<if test="checkType != null ">check_type = #{checkType},</if>
				<if test="spotCheckSchedule != null ">spot_check_schedule = #{spotCheckSchedule},</if>
				<if test="scanTime != null ">scan_time = #{scanTime},</if>
				<if test="errorCode != null ">error_code = #{errorCode},</if>
				<if test="sendWxStatus != null ">send_wx_status = #{sendWxStatus},</if>
				<if test="sendSmsStatus != null ">send_sms_status = #{sendSmsStatus},</if>
				<if test="sendEmailState != null ">send_email_state=#{sendEmailState},</if>
				<if test="sendWxTimes != null ">send_wx_times = #{sendWxTimes},</if>
				<if test="sendSmsTimes != null ">send_sms_times = #{sendSmsTimes},</if>
				<if test="sendWxTime != null ">send_wx_time = #{sendWxTime},</if>
				<if test="sendSmsTime != null ">send_sms_time = #{sendSmsTime},</if>
				<if test="expectTerms != null ">expect_terms = #{expectTerms},</if>
				<if test="wrongTerm != null ">wrong_term = #{wrongTerm},</if>
				<if test="checkState != null ">check_state = #{checkState},</if>
				
				<if test="errorProportion != null ">error_proportion = #{errorProportion},</if>
				<if test="blankNum != null ">blank_num = #{blankNum},</if>
				<if test="scanNum != null ">scan_num = #{scanNum},</if>
				<if test="notConnectionNum != null ">not_connection_num = #{notConnectionNum},</if>
				<if test="notConnectionPer != null ">not_connection_per = #{notConnectionPer},</if>
				<if test="linkHomeNum != null ">link_home_num = #{linkHomeNum},</if>
				<if test="notUpdateHome != null ">not_update_home = #{notUpdateHome},</if>
				<if test="updateNum != null ">update_num = #{updateNum},</if>
				<if test="updateAvgNum != null ">update_avg_num = #{updateAvgNum},</if>
				<if test="noUpdateChannelNum != null ">no_update_channel_num = #{noUpdateChannelNum},</if>
				<if test="noUpdateDay != null ">no_update_day = #{noUpdateDay},</if>
				
				<if test="orgSendStatus != null ">org_send_status=#{orgSendStatus},</if>
				<if test="orgTbSendStatus != null ">org_tb_send_status=#{orgTbSendStatus},</if>
				<if test="tbSendStatus != null ">tb_send_status=#{tbSendStatus},</if>
				
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="servicePeriodId != null ">service_period_id=#{servicePeriodId},</if>
							
				<if test="notConnectionSum != null ">not_connection_sum=#{notConnectionSum},</if>
				<if test="notConnectionPer7 != null ">not_connection_per_7=#{notConnectionPer7},</if>
				<if test="linkHomeSum != null ">link_home_sum=#{linkHomeSum},</if>
				<if test="noUpdateChannelSum != null ">no_update_channel_sum=#noUpdateChannelSum,</if>
				<if test="shortUrl != null ">short_url=#{shortUrl},</if>
				send_email_time=now()
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from early_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from early_detail
		<include refid="where"/>
		<if test="groupBy != null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from early_detail
		<include refid="where" />
	</select>
	
	
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.EarlyDetailRequest">
			SELECT 
			  a.site_code AS siteCode,
			  a.type AS type,
			  a.expect_terms AS expectTerms,
			  a.wrong_term AS wrongTerm,
			  a.scan_time AS scanTime,
			  a.url as url,
			  b.name AS siteName
			FROM
			  early_detail a,
			  database_info b
			WHERE a.site_code = b.site_code 
			  <if test="checkType !=null">
			  	and a.check_type=#{checkType}
			  </if> 
			<if test="siteCode !=null">
				and a.site_code=#{siteCode}
			</if>
			<if test="typeIn !=null">
				and a.type in (${typeIn})
			</if>
			<if test="websiteList !=null">
				and a.site_code in
				<foreach collection="websiteList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			order by a.scan_time desc

			<if test="pageStart !=null and pageEnd !=null">
				limit #{pageStart},#{pageEnd}
			</if>
	</select>
	<!-- 查询组织单位日报预警信息 -->
	<select id="queryDailyInfo" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  ce.site_code,
		  ce.is_org_principal,
		  ce.is_org_linkman,
		  
		  ce.org_linkman_two,
		  ce.org_linkman_three,
		  
		  ce.is_email_receive,
		  ce.is_tel_receive,
		  ce.is_wx_receive,
		  ce.start_hour,
		  ce.end_hour,
		  di.principal_email,
		  di.linkman_email,
		  di.linkman_email_two,
		  di.linkman_email_three,
		  
		  di.principal_phone principalPhone,
		  di.linkman_phone linkmanPhone,
		  di.linkman_phone_two,
		  di.linkman_phone_three,
		 
		  di.name siteCodeName,
		  ed.* 
		FROM
		  config_early ce 
		  LEFT JOIN database_org_info di 
		    ON ce.site_code = di.site_code 
		  LEFT JOIN early_detail ed 
		    ON ed.site_code = ce.site_code 
		<include refid="where"/>
<!-- 		where length(ce.site_code)=6 and early_type='1'  -->
<!-- 		and is_daily_receive='1' and scan_time BETWEEN #{beginTime} and #{endTime} -->
	</select>
<!-- 	站点预警信息 10位 sitecode -->
	<select id="querySiteEarlyInfo" parameterType="HashMap" resultMap="resultMap">
		SELECT 
		  ed.*,
		  di.email principalEmail,
		  di.email_2 linkmanEmail,
		  di.telephone principalPhone,
		  di.telephone_2 linkmanPhone,
		  
		  di.linkman_phone_two ,
		  di.linkman_email_two,
		  di.linkman_phone_three,
		  di.linkman_email_three,
		  
		  di.name siteCodeName,
		  di.jump_url jumpUrl,
		  di.url homeUrl
		FROM
		  early_detail ed 
		  LEFT JOIN database_info di 
		    ON ed.site_code = di.site_code 
		WHERE 1=1
		<if test="orgSendStatus !=null">
			and ed.org_send_status=#{orgSendStatus}
		</if>
		<if test="tbSendStatus !=null">
			and ed.tb_send_status=#{tbSendStatus}
		</if>
		
		<if test="siteCode !=null">
			and ed.site_code = #{siteCode}
		</if>
		<if test="servicePeriodId !=null">
			and ed.service_period_id=#{servicePeriodId} 
		</if>
		<if test="type !=null">
			and ed.type=#{type} 
		</if>
		<if test="scanTime !=null">
			and scan_time like '${scanTime}%'
		</if>
		<if test="scanDate !=null">
			and scan_time like '${scanDate}%'
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	
	<select id="queryDatas" resultType="com.ucap.cloud_web.entity.EarlyDetail">
			SELECT '' remark, r.security_blank,r.security_service,r.security_response,r.security_basic,r.security_fatal_error,
			r.security_question,r.site_name siteCodeName,r.scan_date scanTime   from detection_result r 
			<if test="siteCode != null">
				join database_tree_info t on r.site_code = t.site_code
			</if>
			WHERE  r.ques_flag>0
			and r.scan_date =#{yesDay} 
			<if test="siteCode != null">
				and t.code like concat(#{code},'%')  and t.is_bigdata=1
			</if>
			 limit 10
	</select>
	
	<select id="queryNoConDatas" resultType="com.ucap.cloud_web.entity.EarlyDetail">
		
		SELECT g.* from (
		SELECT e.id id,'首页不连通' remark, i.name siteCodeName,e.scan_time scanTime 
		from early_detail e 
		join database_tree_info d on d.site_code = e.site_code
		join database_info i on i.site_code = d.site_code
		 where e.scan_time BETWEEN #{toDay} and #{tomDay} and LENGTH(d.site_code) = 10 and e.type = 1  and d.is_bigdata=1
		and d.code like concat(#{code},'%') GROUP BY e.site_code ) g ORDER BY id 
		 limit 10 

	</select>
</mapper>
