<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.IndexCountDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />

	<resultMap type="com.ucap.cloud_web.entity.IndexCount" id="resultMap" />

	<sql id="where">
		<where>
			1=1
			<if test="websiteList !=null">
				and site_code in
				<foreach collection="websiteList" item="items" open="("
					separator="," close=")">
					#{items.siteCode}
				</foreach>
			</if>
			<if test="scanDate !=null">
				and scan_date=#{scanDate}
			</if>
			<if test="comboId !=null">
				and combo_id=#{comboId}
			</if>
			<if test="type !=null">
				and type=#{type}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
				and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="siteCode !=null">
				and site_code =#{siteCode}
			</if>
			<if test="convertScores != null">
				<![CDATA[ and convert_scores <#{convertScores} ]]>
			</if>
		</where>
	</sql>


	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.IndexCount"
		useGeneratedKeys="true" keyProperty="id">
		insert into index_count (
		<if test="id != null ">id,</if>
		<if test="siteCode != null ">site_code,</if>
		<if test="scanDate != null ">scan_date,</if>
		<if test="comboId != null ">combo_id,</if>
		<if test="type != null ">type,</if>
		<if test="totalScores != null ">total_scores,</if>
		<if test="convertScores != null ">convert_scores,</if>
		<if test="connectionHome != null ">connection_home,</if>
		<if test="connectionChannel != null ">connection_channel,</if>
		<if test="connectionBusiness != null ">connection_business,</if>
		<if test="linkHome != null ">link_home,</if>
		<if test="linkAll != null ">link_all,</if>
		<if test="securityChannel != null ">security_channel,</if>
		<if test="securityBlank != null ">security_blank,</if>
		<if test="securityResponse != null ">security_response,</if>
		<if test="securityServcie != null ">security_servcie,</if>
		<if test="correctContent != null ">correct_content,</if>
		<if test="websiteSafe != null ">website_safe,</if>
		<if test="updateHome != null ">update_home,</if>
		<if test="updateChannel != null ">update_channel,</if>
		<if test="updateAnalyse != null ">update_analyse,</if>
		<if test="times != null ">times,</if>
		create_time,
		modify_time
		) values (
		<if test="id != null ">#{id},</if>
		<if test="siteCode != null ">#{siteCode},</if>
		<if test="scanDate != null ">#{scanDate},</if>
		<if test="comboId != null ">#{comboId},</if>
		<if test="type != null ">#{type},</if>
		<if test="totalScores != null ">#{totalScores},</if>
		<if test="convertScores != null ">#{convertScores},</if>
		<if test="connectionHome != null ">#{connectionHome},</if>
		<if test="connectionChannel != null ">#{connectionChannel},</if>
		<if test="connectionBusiness != null ">#{connectionBusiness},</if>
		<if test="linkHome != null ">#{linkHome},</if>
		<if test="linkAll != null ">#{linkAll},</if>
		<if test="securityChannel != null ">#{securityChannel},</if>
		<if test="securityBlank != null ">#{securityBlank},</if>
		<if test="securityResponse != null ">#{securityResponse},</if>
		<if test="securityServcie != null ">#{securityServcie},</if>
		<if test="correctContent != null ">#{correctContent},</if>
		<if test="websiteSafe != null ">#{websiteSafe},</if>
		<if test="updateHome != null ">#{updateHome},</if>
		<if test="updateChannel != null ">#{updateChannel},</if>
		<if test="updateAnalyse != null ">#{updateAnalyse},</if>
		<if test="times != null ">#{times},</if>
		now(),
		now()
		)
	</insert>


	<!-- 查询 -->
	<select id="get" parameterType="int"
		resultType="com.ucap.cloud_web.entity.IndexCount">
		select * from index_count where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.IndexCount">
		update index_count
		<trim prefix="SET" suffixOverrides=",">
			<if test="id != null ">id = #{id},</if>
			<if test="siteCode != null ">site_code = #{siteCode},</if>
			<if test="scanDate != null ">scan_date = #{scanDate},</if>
			<if test="comboId != null ">combo_id = #{comboId},</if>
			<if test="type != null ">type = #{type},</if>
			<if test="totalScores != null ">total_scores = #{totalScores},</if>
			<if test="convertScores != null ">convert_scores = #{convertScores},</if>
			<if test="connectionHome != null ">connection_home = #{connectionHome},</if>
			<if test="connectionChannel != null ">connection_channel = #{connectionChannel},</if>
			<if test="connectionBusiness != null ">connection_business = #{connectionBusiness},</if>
			<if test="linkHome != null ">link_home = #{linkHome},</if>
			<if test="linkAll != null ">link_all = #{linkAll},</if>
			<if test="securityChannel != null ">security_channel = #{securityChannel},</if>
			<if test="securityBlank != null ">security_blank = #{securityBlank},</if>
			<if test="securityResponse != null ">security_response = #{securityResponse},</if>
			<if test="securityServcie != null ">security_servcie = #{securityServcie},</if>
			<if test="correctContent != null ">correct_content = #{correctContent},</if>
			<if test="websiteSafe != null ">website_safe = #{websiteSafe},</if>
			<if test="updateHome != null ">update_home = #{updateHome},</if>
			<if test="updateChannel != null ">update_channel = #{updateChannel},</if>
			<if test="updateAnalyse != null ">update_analyse = #{updateAnalyse},</if>
			<if test="times != null ">times = #{times},</if>
			<if test="createTime != null ">create_time = #{createTime},</if>
			<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
		</trim>
		where id=#{id}
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from index_count where
		id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from index_count
		<include refid="where" />
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder"
				separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from index_count
		<include refid="where" />
	</select>

	<select id="queryByMap" parameterType="HashMap"
		resultType="com.ucap.cloud_web.dto.IndexCountRequest">
		SELECT
			SUM(convert_scores) AS convertScores, COUNT(id) AS indexLength
		FROM
		index_count
		<include refid="where" />
	</select>
	<select id="getLineList" parameterType="HashMap" resultMap="resultMap">
		select
		sum(convert_scores) as convert_scores,scan_date,combo_id
		from
		index_count
		<include refid="where" />
		group by
		scan_date
	</select>


	<select id="queryListByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.IndexCountRequest">
		SELECT
			ic.site_code AS siteCode,
			wi.name AS siteName,
			ic.convert_scores AS convertScores,
			ic.combo_id AS comboId
		FROM
			index_count ic,database_info wi
		WHERE ic.site_code =wi.site_code
		<if test="scanDate !=null">
			and ic.scan_date =#{scanDate}
		</if>
		<if test="type !=null">
			and ic.type=#{type}
		</if>
		<if test="treeList !=null">
			AND ic.site_code in
			<foreach collection="treeList" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="websiteList !=null">
			AND ic.site_code in
			<foreach collection="websiteList" item="items" open="(" separator="," close=")">
				#{items.siteCode}
			</foreach>
		</if>
		GROUP BY ic.site_code
		ORDER BY ic.convert_scores DESC
	</select>
</mapper>
