<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.JcVisitSitecodeDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.JcVisitSitecode" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			
			<if test="siteCode != null">
				and site_code=#{siteCode}
			</if>
			<if test="endDate != null">
				and visit_date >= #{endDate}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.JcVisitSitecode" useGeneratedKeys="true" keyProperty="id">
		insert into jc_visit_sitecode ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="count != null ">count,</if>
			<if test="urlCnt != null ">url_cnt,</if>
			<if test="ipCnt != null ">ip_cnt,</if>
			<if test="homeUrlCnt != null ">home_url_cnt,</if>
			<if test="visitDate != null ">visit_date,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="count != null ">#{count},</if>
			<if test="urlCnt != null ">#{urlCnt},</if>
			<if test="ipCnt != null ">#{ipCnt},</if>
			<if test="homeUrlCnt != null ">#{homeUrlCnt},</if>
			<if test="visitDate != null ">#{visitDate},</if>
			now(),
			now()
		)
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.JcVisitSitecode">
		select * from jc_visit_sitecode where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.JcVisitSitecode">
		update jc_visit_sitecode 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="count != null ">count = #{count},</if>
				<if test="urlCnt != null ">url_cnt = #{urlCnt},</if>
				<if test="ipCnt != null ">ip_cnt = #{ipCnt},</if>
				<if test="homeUrlCnt != null ">home_url_cnt = #{homeUrlCnt},</if>
				<if test="visitDate != null ">visit_date = #{visitDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from jc_visit_sitecode where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from jc_visit_sitecode
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from jc_visit_sitecode
		<include refid="where" />
	</select>
	
		<select id="querySiteCodes" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.JcVisitSitecode">
		SELECT j.*,d.jump_url jumpUrl,d.name name,d.url url from database_tree_info t   
		join  jc_visit_sitecode j on j.site_code = t.site_code 
		join  database_info d  on d.site_code = t.site_code 
		where j.visit_date = #{scanDate} and t.parent_id =  #{parentId} and t.is_bigdata=1
	</select>
	<select id="queryOrganizations" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.JcVisitSitecode">
		SELECT j.*,d.jump_url jumpUrl,d.url url,d.name name from database_tree_info t   
		join database_tree_info tt on tt.parent_id = t.id
		join  jc_visit_sitecode j on j.site_code = tt.site_code 
		join  database_info d  on d.site_code = tt.site_code 
		where j.visit_date = #{scanDate} and t.parent_id =  #{parentId}  and d.isorganizational = 1
		<if test="isBm != null">
			and tt.is_bm=#{isBm}
		</if>
		 and t.is_bigdata=1
		 and tt.is_bigdata=1
	</select>
	<select id="queryNatives" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.JcVisitSitecode">
		SELECT j.*,d.jump_url jumpUrl,d.url url,d.name from database_tree_info t   
		join  jc_visit_sitecode j on j.site_code = t.site_code 
		join  database_info d  on d.site_code = t.site_code 
		where  j.visit_date = #{scanDate} and t.parent_id =  #{parentId} 
		 and t.is_bigdata=1
	</select>
	
	<select id="getSiteVisitsList" parameterType="HashMap" resultType="com.ucap.cloud_web.dtoResponse.JcVisitSitecodeResponse">
		 SELECT
			d.site_code siteCode,
			d.`name` NAME,
			d.url url,
			d.jump_url jumpUrl,
			dti.layer_type layerType,
			jc.url_cnt urlCnt,
			jc.ip_cnt ipCnt
		FROM
			jc_visit_sitecode jc,
			database_info d,
			database_tree_info dti
		WHERE
			jc.site_code = dti.site_code
		AND d.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>
		<if test="visitDate != null">
			AND jc.visit_date = #{visitDate}
		</if>
		<if test="isExp != null">
			AND d.isexp = #{isExp}
		</if>
	</select>
	
</mapper>
