<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.LinkAllInfoDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.LinkAllInfo" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="servicePeriodId !=null">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="siteCode !=null">
				and site_code like '${siteCode}%'
			</if>
			<if test="startDate !=null">
				<![CDATA[ and scan_date > #{startDate} ]]>
			</if>
			<if test="endDate !=null">
				<![CDATA[ and scan_date < #{endDate} ]]>
			</if>
			<if test="beginTime!=null">
				and  create_time > #{beginTime}
			</if>
			<if test="ids != null">
			 	and site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
			<if test="serviceList !=null">
				and service_period_id in
				<foreach collection="serviceList" item="item" open="(" separator="," close=")">
					#{item.id}
				</foreach>
			</if>
		</where>
	</sql>

	<sql id="whereCondition">
		<where>
			1=1
			<if test="siteCode !=null ">
			<!-- <if test="siteCode !=null and beginTime !=null"> -->
				and site_code =#{siteCode}  
				and create_time BETWEEN DATE_SUB(NOW(),INTERVAL 12 MONTH) AND NOW()
				<!-- and create_time BETWEEN #{beginTime} AND NOW()  -->
			</if>
		</where>
	</sql>
	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.LinkAllInfo" useGeneratedKeys="true" keyProperty="id">
		insert into link_all_info ( 
			<if test="id != null ">id,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="websiteSum != null ">website_sum,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="websiteSum != null ">#{websiteSum},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.LinkAllInfo">
		select * from link_all_info where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.LinkAllInfo">
		update link_all_info 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="websiteSum != null ">website_sum = #{websiteSum},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from link_all_info where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from link_all_info
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from link_all_info
		<include refid="where" />
	</select>
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.LinkAllInfoRequest">
		SELECT SUM(q_sum) AS websiteSum, SUBSTRING(create_time,1,7) AS returnTime FROM link_all_info 
		<include refid="whereCondition" />
		GROUP BY SUBSTRING(create_time,1,7)
	</select>
	<select id="getAllline" parameterType="HashMap" resultMap="resultMap">
		select service_period_id,site_code,sum(website_sum) as website_sum from link_all_info
		<include refid="where" />
		group by service_period_id
	</select>
	<select id="getAlllineOrg" parameterType="HashMap" resultMap="resultMap">
		SELECT
			sum(l.website_sum) AS website_sum,
			l.service_period_id
		FROM
			link_all_info l,
			database_info d,
			database_tree_info dti
		WHERE
			l.site_code = dti.site_code
		AND d.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="isExp != null">
			and d.isexp = #{isExp}
		</if>
		<if test="serviceList !=null">
			and service_period_id in
			<foreach collection="serviceList" item="item" open="("
				separator="," close=")">
				#{item.id}
			</foreach>
		</if>
		<if test="servicePeriodId != null">
			and service_period_id = #{servicePeriodId}
		</if>
		
		GROUP BY
			l.service_period_id
		ORDER BY
			l.create_time ASC
	</select>
	<select id="getAllLinkSum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.LinkAllInfoRequest">
		SELECT c.name AS siteName, a.site_code AS siteCode, a.website_sum AS
		websiteSum, c.director as director, c.url AS homePageUrl, c.jump_url AS
		jumpPageUrl
		FROM link_all_info a, database_info c
		WHERE 1=1 
		and a.site_code = c.site_code
		  <if test="ids != null">
			 	and a.site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
		  <if test="servicePeriodId !=null">
		  	AND a.service_period_id = #{servicePeriodId}
		  </if>
		  <if test="nowTime !=null">
		  	AND #{nowTime} BETWEEN  c.service_begin_time AND c.service_end_time
		  </if>
		ORDER BY a.website_sum DESC 
	</select>
	
	<select id="queryLinkAllInfoByTree" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.LinkAllInfoRequest">
		SELECT 
			  sr.service_period_id AS servicePeriodId,
			  sr.site_code AS siteCode,
			  di.name AS siteName,
			  sr.website_sum AS websiteSum 
			FROM
			  link_all_info sr 
			  LEFT JOIN database_tree_info dti 
			    ON sr.site_code = dti.site_code 
			  LEFT JOIN database_info di 
			    ON dti.site_code = di.site_code
		     WHERE 1=1
		    <if test="servicePeroidId !=null">
		    	AND sr.service_period_id=#{servicePeroidId}
		    </if>
		    <if test="orgSiteCode !=null">
		    	AND dti.org_site_code=#{orgSiteCode}
		    </if>
		    <if test="isLink !=null">
		    	AND dti.is_link=#{isLink}
		    </if>
		   <if test="siteType !=null">
		    	AND dti.layer_type=#{siteType}
		    </if>
		   <if test="isExp !=null">
		    	AND  di.isexp=#{isExp}
		    </if>
		    order by sr.website_sum  desc
		   <if test="begin !=null and end !=null">
			limit #{begin},#{end}
		  </if>
	</select>
	<select id="queryLinkAllInfoByTreeCount" parameterType="HashMap" resultType="int">
	SELECT COUNT(*) FROM (
			SELECT 
			  sr.service_period_id AS servicePeriodId,
			  sr.site_code AS siteCode,
			  di.name AS siteName,
			  sr.website_sum AS websiteSum 
			FROM
			  link_all_info sr 
			  LEFT JOIN database_tree_info dti 
			    ON sr.site_code = dti.site_code 
			  LEFT JOIN database_info di 
			    ON dti.site_code = di.site_code
		     WHERE 1=1
		    <if test="servicePeroidId !=null">
		    	AND sr.service_period_id=#{servicePeroidId}
		    </if>
		    <if test="orgSiteCode !=null">
		    	AND dti.org_site_code=#{orgSiteCode}
		    </if>
		    <if test="isLink !=null">
		    	AND dti.is_link=#{isLink}
		    </if>
		   <if test="siteType !=null">
		    	AND dti.layer_type=#{siteType}
		    </if>
		   <if test="isExp !=null">
		    	AND  di.isexp=#{isExp}
		    </if>
		    order by sr.website_sum  desc
	) AS a
		
	</select>
</mapper>
