<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.LinkAllDetailDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.LinkAllDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="servicePeriodId !=null">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="siteCode !=null">
				and site_code =#{siteCode}
			</if>
			<if test="terms !=null ">
				and error_code like '%${terms}%'
			</if> 
			<if test="scanTime !=null">
				and scan_time like '${scanTime}%'
			</if>
			<if test="startDate != null and endDate !=null">
				AND (scan_time BETWEEN #{startDate} and #{endDate})
			</if>
<!--  			<if test="errorCode !=null"> 
 				<if test="errorCode ==1">
					AND error_code IN (403,404) 
				</if>
				<if test="errorCode ==2">
					AND error_code NOT IN (403,404) 
				</if>
 			</if>  -->
 			<if test="webType !=null">
				and web_type = #{webType}
			</if>
			<if test="errorCodeArr !=null ">
				and error_code in
            	<foreach collection="errorCodeArr" item="item" open="(" separator="," close=")">
       					#{item}
				</foreach>
			</if>
			and del_flag=0
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.LinkAllDetail" useGeneratedKeys="true" keyProperty="id">
		insert into link_all_detail ( 
			<if test="id != null ">id,</if>
			<if test="linkAllInfoId != null ">link_all_info_id,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="url != null ">url,</if>
			<if test="scanLevel != null ">scan_level,</if>
			<if test="linkTitle != null ">link_title,</if>
			<if test="parentTitle != null ">parent_title,</if>
			<if test="urlType != null ">url_type,</if>
			<if test="resourceType != null ">resource_type,</if>
			<if test="scope != null ">scope,</if>
			<if test="errorDescribe != null ">error_describe,</if>
			<if test="errorCode != null ">error_code,</if>
			<if test="imgUrl != null ">img_url,</if>
			<if test="scanTime != null ">scan_time,</if>
			<if test="operator != null ">operator,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="linkAllInfoId != null ">#{linkAllInfoId},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="url != null ">#{url},</if>
			<if test="scanLevel != null ">#{scanLevel},</if>
			<if test="linkTitle != null ">#{linkTitle},</if>
			<if test="parentTitle != null ">#{parentTitle},</if>
			<if test="urlType != null ">#{urlType},</if>
			<if test="resourceType != null ">#{resourceType},</if>
			<if test="scope != null ">#{scope},</if>
			<if test="errorDescribe != null ">#{errorDescribe},</if>
			<if test="errorCode != null ">#{errorCode},</if>
			<if test="imgUrl != null ">#{imgUrl},</if>
			<if test="scanTime != null ">#{scanTime},</if>
			<if test="operator != null ">#{operator},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.LinkAllDetail">
		select * from link_all_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.LinkAllDetail">
		update link_all_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="linkAllInfoId != null ">link_all_info_id = #{linkAllInfoId},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="scanLevel != null ">scan_level = #{scanLevel},</if>
				<if test="linkTitle != null ">link_title = #{linkTitle},</if>
				<if test="parentTitle != null ">parent_title = #{parentTitle},</if>
				<if test="urlType != null ">url_type = #{urlType},</if>
				<if test="resourceType != null ">resource_type = #{resourceType},</if>
				<if test="scope != null ">scope = #{scope},</if>
				<if test="errorDescribe != null ">error_describe = #{errorDescribe},</if>
				<if test="errorCode != null ">error_code = #{errorCode},</if>
				<if test="imgUrl != null ">img_url = #{imgUrl},</if>
				<if test="scanTime != null ">scan_time = #{scanTime},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="operator != null ">operator = #{operator},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from link_all_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from link_all_detail
		<include refid="where"/>
		<if test="groupBy !=null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>

	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from link_all_detail
		<include refid="where" />
	</select>
	


	<!-- 分页查询 -->
	<select id="queryNoExceptList" parameterType="HashMap" resultMap="resultMap">
		select la.* from link_all_detail la where
		la.site_code =#{siteCode} and la.del_flag=0 
		<if test="terms !=null ">
				and la.error_code like '%${terms}%'
		</if> 
		<if test="servicePeriodId !=null">
				and la.service_period_id=#{servicePeriodId}
		</if>
		and  la.id  not in(
		select l.id from link_all_detail l 
		 left join config_link_except c on 
		 l.site_code = c.site_code 
		where  l.site_code =#{siteCode} and l.del_flag=0 and c.status =0 
		and   (l.url like  concat(c.url,'%')) 
		) 
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryNoExceptCount" parameterType="HashMap" resultType="int">
		select count(la.id) from link_all_detail la where
		la.site_code =#{siteCode} and la.del_flag=0 
		<if test="terms !=null ">
				and la.error_code like '%${terms}%'
		</if> 
		<if test="servicePeriodId !=null">
				and la.service_period_id=#{servicePeriodId}
		</if>
		and  la.id  not in(
		select l.id from link_all_detail l 
		 left join config_link_except c on 
		 l.site_code = c.site_code 
		where  l.site_code =#{siteCode} and l.del_flag=0 and c.status =0 
		and   (l.url like  concat(c.url,'%')) 
		)  
	</select>
	<select id="queryByCode" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.LinkAllDetailRequest">
		SELECT 
		  COUNT(id) AS errorNum,
		  error_code AS errorCode 
		FROM
		  link_all_detail 
		WHERE 1 = 1 
		<if test="servicePeroidId !=null">
	    	AND service_period_id=#{servicePeroidId}
	    </if>
	    <if test="siteCode !=null">
	    	AND site_code =#{siteCode}
	    </if>
	     <if test="webType !=null">
			AND web_type = #{webType}
		</if>
	    <if test="errorCodeArr !=null">
	    	AND error_code IN 
	    	<foreach collection="errorCodeArr" item="item" open="(" separator="," close=")">
	    		#{item}
	    	</foreach>
	    </if>
		  AND del_flag = 0 
		GROUP BY error_code 
	</select>
</mapper>
