<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.LinkHomeAvailableDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.LinkHomeAvailable" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="scanDate !=null">
				and scan_date=#{scanDate}
			</if>
			<if test="startDate !=null">
				<![CDATA[ and scan_date > #{startDate} ]]>
			</if>
			<if test="endDate !=null">
				<![CDATA[ and scan_date < #{endDate} ]]>
			</if>
			<if test="beginDate !=null and lastDate !=null ">
				and scan_date BETWEEN #{beginDate} and #{lastDate}
			</if>
			<if test="term !=null">
				and question_code like '${term}%'
			</if>
			<if test="databaseList !=null">
				and site_code in
				<foreach collection="databaseList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="linkList !=null">
				and site_code in
				<foreach collection="linkList" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
 			<if test="questionCodeArr !=null ">
				and question_code in
            	<foreach collection="questionCodeArr" item="item" open="(" separator="," close=")">
       					#{item}
				</foreach>
			</if>
			and del_flag=0
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.LinkHomeAvailable" useGeneratedKeys="true" keyProperty="id">
		insert into link_home_available ( 
			<if test="id != null ">id,</if>
			<if test="linkHomeTrendId != null ">link_home_trend_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="url != null ">url,</if>
			<if test="linkTitle != null ">link_title,</if>
			<if test="urlType != null ">url_type,</if>
			<if test="resourceType != null ">resource_type,</if>
			<if test="scope != null ">scope,</if>
			<if test="linkNotavailableDay != null ">link_notavailable_day,</if>
			<if test="imgUrl != null ">img_url,</if>
			<if test="questionDescribe != null ">question_describe,</if>
			<if test="questionCode != null ">question_code,</if>
			<if test="operator != null ">operator,</if>
			<if test="scanTime != null ">scan_time,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="linkHomeTrendId != null ">#{linkHomeTrendId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="url != null ">#{url},</if>
			<if test="linkTitle != null ">#{linkTitle},</if>
			<if test="urlType != null ">#{urlType},</if>
			<if test="resourceType != null ">#{resourceType},</if>
			<if test="scope != null ">#{scope},</if>
			<if test="linkNotavailableDay != null ">#{linkNotavailableDay},</if>
			<if test="imgUrl != null ">#{imgUrl},</if>
			<if test="questionDescribe != null ">#{questionDescribe},</if>
			<if test="questionCode != null ">#{questionCode},</if>
			<if test="operator != null ">#{operator},</if>
			<if test="scanTime != null ">#{scanTime},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.LinkHomeAvailable">
		select * from link_home_available where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.LinkHomeAvailable">
		update link_home_available 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="linkHomeTrendId != null ">link_home_trend_id = #{linkHomeTrendId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="linkTitle != null ">link_title = #{linkTitle},</if>
				<if test="urlType != null ">url_type = #{urlType},</if>
				<if test="resourceType != null ">resource_type = #{resourceType},</if>
				<if test="scope != null ">scope = #{scope},</if>
				<if test="linkNotavailableDay != null ">link_notavailable_day = #{linkNotavailableDay},</if>
				<if test="imgUrl != null ">img_url = #{imgUrl},</if>
				<if test="questionDescribe != null ">question_describe = #{questionDescribe},</if>
				<if test="questionCode != null ">question_code = #{questionCode},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="operator != null ">operator = #{operator},</if>
				<if test="scanTime != null ">scan_time = #{scanTime},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from link_home_available where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from link_home_available
		<include refid="where"/>
		<if test="groupBy != null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		<if test="groupBy != null">
		select count(*)	from (select count(*) from link_home_available
			<include refid="where" />
			group by ${groupBy}
			)a
		</if>
		<if test="groupBy == null">
			select count(*) from link_home_available
			<include refid="where" />
		</if>
	</select>
	<select id="queryGroupBy" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.LinkHomeAvailableRequest">
		SELECT 
		  COUNT(question_code) AS countNum,
		  question_code AS questionCode
		FROM
		  link_home_available 
		WHERE 1=1
		<if test="siteCode !=null">
			AND site_code=#{siteCode}
		</if>
		<if test="scanDate !=null">
			AND scan_date=#{scanDate}
		</if>
		<if test="codeArr !=null">
			AND question_code IN
			<foreach collection="codeArr" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="groupBy !=null">
			GROUP BY ${groupBy} 
		</if>
		
	</select>

</mapper>
