<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.MonitorOrgIncludeDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.MonitorOrgInclude" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code=#{siteCode}
			</if>
			<if test="scanDate != null ">
				and scan_date=#{scanDate}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
				and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.MonitorOrgInclude" useGeneratedKeys="true" keyProperty="id">
		insert into monitor_org_include ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="siteSum != null ">site_sum,</if>
			<if test="baiduSiteSum != null ">baidu_site_sum,</if>
			<if test="qihuSiteSum != null ">qihu_site_sum,</if>
			<if test="sogouSiteSum != null ">sogou_site_sum,</if>
			<if test="googleSiteSum != null ">google_site_sum,</if>
			<if test="baiduDomainSum != null ">baidu_domain_sum,</if>
			<if test="qihuDomainSum != null ">qihu_domain_sum,</if>
			<if test="sogouDomainSum != null ">sogou_domain_sum,</if>
			<if test="googleDomainSum != null ">google_domain_sum,</if>
			<if test="baiduSiteAvg != null ">baidu_site_avg,</if>
			<if test="qihuSiteAvg != null ">qihu_site_avg,</if>
			<if test="sogouSiteAvg != null ">sogou_site_avg,</if>
			<if test="googleSiteAvg != null ">google_site_avg,</if>
			<if test="baiduDomainAvg != null ">baidu_domain_avg,</if>
			<if test="qihuDomainAvg != null ">qihu_domain_avg,</if>
			<if test="sogouDomainAvg != null ">sogou_domain_avg,</if>
			<if test="googleDomainAvg != null ">google_domain_avg,</if>
			<if test="scanDate != null ">scan_date,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="siteSum != null ">#{siteSum},</if>
			<if test="baiduSiteSum != null ">#{baiduSiteSum},</if>
			<if test="qihuSiteSum != null ">#{qihuSiteSum},</if>
			<if test="sogouSiteSum != null ">#{sogouSiteSum},</if>
			<if test="googleSiteSum != null ">#{googleSiteSum},</if>
			<if test="baiduDomainSum != null ">#{baiduDomainSum},</if>
			<if test="qihuDomainSum != null ">#{qihuDomainSum},</if>
			<if test="sogouDomainSum != null ">#{sogouDomainSum},</if>
			<if test="googleDomainSum != null ">#{googleDomainSum},</if>
			<if test="baiduSiteAvg != null ">#{baiduSiteAvg},</if>
			<if test="qihuSiteAvg != null ">#{qihuSiteAvg},</if>
			<if test="sogouSiteAvg != null ">#{sogouSiteAvg},</if>
			<if test="googleSiteAvg != null ">#{googleSiteAvg},</if>
			<if test="baiduDomainAvg != null ">#{baiduDomainAvg},</if>
			<if test="qihuDomainAvg != null ">#{qihuDomainAvg},</if>
			<if test="sogouDomainAvg != null ">#{sogouDomainAvg},</if>
			<if test="googleDomainAvg != null ">#{googleDomainAvg},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			now(),
			now()
		)
		<selectKey resultType="int" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.MonitorOrgInclude">
		select * from monitor_org_include where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.MonitorOrgInclude">
		update monitor_org_include 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="siteSum != null ">site_sum = #{siteSum},</if>
				<if test="baiduSiteSum != null ">baidu_site_sum = #{baiduSiteSum},</if>
				<if test="qihuSiteSum != null ">qihu_site_sum = #{qihuSiteSum},</if>
				<if test="sogouSiteSum != null ">sogou_site_sum = #{sogouSiteSum},</if>
				<if test="googleSiteSum != null ">google_site_sum = #{googleSiteSum},</if>
				<if test="baiduDomainSum != null ">baidu_domain_sum = #{baiduDomainSum},</if>
				<if test="qihuDomainSum != null ">qihu_domain_sum = #{qihuDomainSum},</if>
				<if test="sogouDomainSum != null ">sogou_domain_sum = #{sogouDomainSum},</if>
				<if test="googleDomainSum != null ">google_domain_sum = #{googleDomainSum},</if>
				<if test="baiduSiteAvg != null ">baidu_site_avg = #{baiduSiteAvg},</if>
				<if test="qihuSiteAvg != null ">qihu_site_avg = #{qihuSiteAvg},</if>
				<if test="sogouSiteAvg != null ">sogou_site_avg = #{sogouSiteAvg},</if>
				<if test="googleSiteAvg != null ">google_site_avg = #{googleSiteAvg},</if>
				<if test="baiduDomainAvg != null ">baidu_domain_avg = #{baiduDomainAvg},</if>
				<if test="qihuDomainAvg != null ">qihu_domain_avg = #{qihuDomainAvg},</if>
				<if test="sogouDomainAvg != null ">sogou_domain_avg = #{sogouDomainAvg},</if>
				<if test="googleDomainAvg != null ">google_domain_avg = #{googleDomainAvg},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from monitor_org_include where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from monitor_org_include
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from monitor_org_include
		<include refid="where" />
	</select>
	<select id="queryMaxDate"  resultType="String">
		SELECT max(scan_date) from monitor_org_include
		<include refid="where" />
	</select>
	<select id="getOrgData" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.MonitorOrgInclude">
		select j.*,org.name from database_tree_info d 
			join monitor_org_include j on d.site_code = j.site_code 
			join database_org_info org on org.site_code = d.site_code 
			where d.parent_id = #{parentId} and LENGTH(d.site_code) = 6  
			<if test="scanDate != null "> and scan_date = #{scanDate}</if>
			 and d.is_bigdata=1
	</select>

</mapper>
