<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.PaRatingDetailDao">

	<!-- <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/> -->

	<resultMap type="com.ucap.cloud_web.entity.PaRatingDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="ratingId != null ">
				and rating_id=${ratingId} 
			</if>
			<if test="quota1 != null ">
				and quota1=#{quota1} 
			</if>
			<if test="ratingStauts != null ">
				and rating_stauts=#{ratingStauts} 
			</if> 
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.PaRatingDetail" useGeneratedKeys="true" keyProperty="id">
		insert into pa_rating_detail ( 
			<if test="id != null ">id,</if>
			<if test="ratingId != null ">rating_id,</if>
			<if test="quota1 != null ">quota1,</if>
			<if test="quota2 != null ">quota2,</if>
			<if test="quota3 != null ">quota3,</if>
			<if test="quotaId != null ">quota_id,</if>
			<if test="quotaParentId != null ">quota_parent_id,</if>
			<if test="ratingExplain != null ">rating_explain,</if>
			<if test="appraisalContent != null ">appraisal_content,</if>
			<if test="ratingStauts != null ">rating_stauts,</if>
			<if test="score != null ">score,</if>
			<if test="scoreStauts != null ">score_stauts,</if>
			<if test="scoreExplain != null ">score_explain,</if>
			<if test="scoreRules != null ">score_rules,</if>
			
			
			<if test="problemType != null ">problem_type,</if>
			<if test="problemExplain != null ">problem_explain,</if>
			<if test="downCount != null ">down_count,</if>
			<if test="scoreUserId != null ">score_user_id,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="ratingId != null ">#{ratingId},</if>
			<if test="quota1 != null ">#{quota1},</if>
			<if test="quota2 != null ">#{quota2},</if>
			<if test="quota3 != null ">#{quota3},</if>
			<if test="quotaId != null ">#{quotaId},</if>
			<if test="quotaParentId != null ">#{quotaParentId},</if>
			<if test="ratingExplain != null ">#{ratingExplain},</if>
			<if test="appraisalContent != null ">#{appraisalContent},</if>
			<if test="ratingStauts != null ">#{ratingStauts},</if>
			<if test="score != null ">#{score},</if>
			<if test="scoreStauts != null ">#{scoreStauts},</if>
			<if test="scoreExplain != null ">#{scoreExplain},</if>
			<if test="scoreRules != null ">#{scoreRules},</if>
			
			
			<if test="problemType != null ">#{problemType},</if>
			<if test="problemExplain != null ">#{problemExplain},</if>
			<if test="downCount != null ">#{downCount},</if>
			<if test="scoreUserId != null ">#{scoreUserId},</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.PaRatingDetail">
		select * from pa_rating_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.PaRatingDetail">
		update pa_rating_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="ratingId != null ">rating_id = #{ratingId},</if>
				<if test="quota1 != null ">quota1 = #{quota1},</if>
				<if test="quota2 != null ">quota2 = #{quota2},</if>
				<if test="quota3 != null ">quota3 = #{quota3},</if>
				<if test="ratingExplain != null ">rating_explain = #{ratingExplain},</if>
				<if test="ratingStauts != null ">rating_stauts = #{ratingStauts},</if>
				<if test="ratingScore != null ">rating_score = #{ratingScore},</if>
				<if test="score != null ">score = #{score},</if>
				<if test="scoreStauts != null ">score_stauts = #{scoreStauts},</if>
				<if test="scoreExplain != null ">score_explain = #{scoreExplain},</if>
				<if test="problemType != null ">problem_type = #{problemType},</if>
				<if test="problemExplain != null ">problem_explain = #{problemExplain},</if>
				<if test="downCount != null ">down_count = #{downCount},</if>
				<if test="scoreUserId != null ">score_user_id = #{scoreUserId},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from pa_rating_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from pa_rating_detail
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from pa_rating_detail
		<include refid="where" />
	</select>
	<select id="groupByOneName" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.PaRatingDetail">
		select t.* from (
		select * from pa_rating_detail where  rating_id=${ratingId}
		group by quota1 ) t
		order by t.quota_id
	</select>
	<select id="getWriteData" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.PaRatingDetail">
		select d.*,p.channel_url,p.channel_name from pa_rating_channel d 
		join pa_channel_point p on d.channel_id=p.id 
		where rating_detail_id=${ratingDetailId} and d.add_type=1
		
	</select>
</mapper>
