<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.PaRatingDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.PaRating" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="taskId != null ">
			  and task_id =${taskId} 
			</if>
			<if test="paTargetTaskId != null ">
			  and target_task_id=${paTargetTaskId} 
			</if> 
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.PaRating" useGeneratedKeys="true" keyProperty="id">
		insert into pa_rating ( 
			<if test="id != null ">id,</if>
			<if test="taskId != null ">task_id,</if>
			<if test="targetTaskId != null ">target_task_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="ratingName != null ">rating_name,</if>
			<if test="ratingPhone != null ">rating_phone,</if>
			<if test="companyName != null ">company_name,</if>
			
			
			<if test="overallSituation != null ">overall_situation,</if>
			<if test="problemsSuggestions != null ">problems_suggestions,</if>
			<if test="other != null ">other,</if>
			<if test="plan != null ">plan,</if>
			
			
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="taskId != null ">#{taskId},</if>
			<if test="targetTaskId != null ">#{targetTaskId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="ratingName != null ">#{ratingName},</if>
			<if test="ratingPhone != null ">#{ratingPhone},</if>
			<if test="companyName != null ">#{companyName},</if>
			
			
			<if test="overallSituation != null ">#{overallSituation},</if>
			<if test="problemsSuggestions != null ">#{problemsSuggestions},</if>
			<if test="other != null ">#{other},</if>
			<if test="plan != null ">#{plan},</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.PaRating">
		select * from pa_rating where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.PaRating">
		update pa_rating 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="taskId != null ">task_id = #{taskId},</if>
				<if test="targetTaskId != null ">target_task_id = #{targetTaskId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="ratingName != null ">rating_name = #{ratingName},</if>
				<if test="ratingPhone != null ">rating_phone = #{ratingPhone},</if>
				<if test="companyName != null ">company_name = #{companyName},</if>
				
				<if test="overallSituation != null ">overall_situation = #{overallSituation},</if>
				<if test="problemsSuggestions != null ">problems_suggestions = #{problemsSuggestions},</if>
				<if test="other != null ">other = #{other},</if>
				<if test="plan != null ">plan = #{plan},</if>
				
				
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from pa_rating where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from pa_rating
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from pa_rating
		<include refid="where" />
	</select>
	<select id="queryFour" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.PaRatingDetail">

		select d.id,d.quota1,d.quota2,d.quota3,d.appraisal_content,d.rating_explain,d.score,d.rating_score,d.problem_type,d.problem_explain,d.score_explain,
		p.channel_url,c.img_url ,c.id paRatingChannelId
		from pa_rating r 
		join pa_rating_detail d on r.id=d.rating_id 
		left join pa_rating_channel c on c.rating_detail_id=d.id and c.add_type=#{addType}
		left join pa_channel_point p on p.id = c.channel_id 
		
		where r.task_id = #{taskId} and r.target_task_id =#{paTargetTaskId} 
		order by d.id,d.quota1,d.quota2,d.quota3
		
	</select>
	
	<select id="queryRatingJoinDetail" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.PaRatingDetail">

	select d.id, d.quota1,d.quota2,d.quota3,d.appraisal_content,d.rating_explain,d.score,d.problem_type,d.problem_explain,
	d.score_explain from pa_rating r 
	join pa_rating_detail d on r.id=d.rating_id where r.task_id = #{taskId} and r.target_task_id =#{paTargetTaskId}
	order by d.quota1,d.quota2,d.quota3
		
	</select>
	<select id="queryRatinglistUrls" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.PaRatingDetail">

	select p.channel_url, c.img_url ,s.path,s.alias_name,c.add_type
	from  pa_rating_channel c 
	left join channel_point p on p.id = c.channel_id 
	left join sys_attach s on c.id=s.tb_key and s.tb_name='pa_rating_channel'
	where c.rating_detail_id=#{paRatingDetailId} and c.add_type = #{addType}
		
	</select>
</mapper>
