<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.RelationsPeriodDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.RelationsPeriod" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="forwardDate != null">
				<![CDATA[ and #{forwardDate} <= start_date   ]]> 
			</if>
			<if test="startDate != null">
				<![CDATA[ and  start_date <= #{startDate} ]]> 
			</if>
			<if test="nowTime !=null">
				and #{nowTime} BETWEEN start_date and end_date
			</if>
			<if test="yesterDay !=null">
				and #{yesterDay} BETWEEN start_date and end_date
			</if>
			<if test="comboId !=null">
				and combo_id =#{comboId}
			</if>
			<if test="siteCode !=null">
				and site_code =#{siteCode}
			</if>
			<if test="servicePeriodId !=null">
				and service_period_id =#{servicePeriodId}
			</if>
			<if test="isScan !=null">
				and is_scan =#{isScan}
			</if>
			<if test="notWebsiteTaskNum !=null">
				and website_task_num  not like '${notWebsiteTaskNum}%'
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.RelationsPeriod" useGeneratedKeys="true" keyProperty="id">
		insert into relations_period ( 
			<if test="Id != null ">Id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="startDate != null ">start_date,</if>
			<if test="endDate != null ">end_date,</if>
			<if test="comboId != null ">combo_id,</if>
		) values (
			<if test="Id != null ">#{Id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="startDate != null ">#{startDate},</if>
			<if test="endDate != null ">#{endDate},</if>
			<if test="comboId != null ">#{comboId},</if>
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.RelationsPeriod">
		select * from relations_period where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.RelationsPeriod">
		update relations_period 
			<trim prefix="SET" suffixOverrides=",">
				<if test="Id != null ">Id = #{Id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="startDate != null ">start_date = #{startDate},</if>
				<if test="endDate != null ">end_date = #{endDate},</if>
				<if test="comboId != null ">combo_id = #{comboId},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from relations_period where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from relations_period
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from relations_period
		<include refid="where" />
	</select>
	
	
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.RelationsPeriodRequest">
		SELECT 
		  ci.site_code AS siteCode 
		FROM
		  relations_period rp,
		  service_period sp,
		  contract_info ci 
		WHERE rp.service_period_id = sp.id 
		  AND sp.contract_info_id = ci.id 
		  
		  <if test="siteCode !=null">
		  	and rp.site_code=#{siteCode}
		  </if>
		  <if test="newTime !=null ">
		   	and #{newTime} BETWEEN rp.start_date AND rp.end_date 
		  </if>
	</select>

	<select id="contentSecurityTree" parameterType="HashMap" resultType="com.ucap.cloud_web.dtoResponse.SecurityGuaranteeResponse">
		SELECT
			0 columnNum,
			di.site_code,
			di.`name`,
			di.url homePageUrl,
			di.jump_url jumpPageUrl,
			di.isorganizational
		FROM
			relations_period rp,
			database_info di,
			database_tree_info dti
		WHERE
			rp.site_code = di.site_code
		AND rp.site_code = dti.site_code
		<if test="servicePeriodId !=null">
		  	and rp.service_period_id=#{servicePeriodId}
		</if>		
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>	
	</select>

</mapper>
