<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.ReportWordResultDao">
	<resultMap type="com.ucap.cloud_web.entity.ReportWordResult" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="servicePeriodId !=null">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="type !=null">
				and type=#{type}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.ReportWordResult" useGeneratedKeys="true" keyProperty="id">
		insert into report_word_result ( 
			<if test="id != null ">id,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="type != null ">type,</if>
			<if test="wordUrl != null ">word_url,</if>
			<if test="pdfUrl != null ">pdf_url,</if>
			<if test="excelUrl != null ">excel_url,</if>
			<if test="aliasName != null ">alias_name,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="type != null ">#{type},</if>
			<if test="wordUrl != null ">#{wordUrl},</if>
			<if test="pdfUrl != null ">#{pdfUrl},</if>
			<if test="excelUrl != null ">#{excelUrl},</if>
			<if test="aliasName != null ">#{aliasName},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.ReportWordResult">
		select * from report_word_result where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.ReportWordResult">
		update report_word_result 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="type != null ">type = #{type},</if>
				<if test="wordUrl != null ">word_url = #{wordUrl}</if>
				<if test="pdfUrl != null ">pdf_url = #{pdfUrl}</if>
				<if test="excelUrl != null ">excel_url = #{excelUrl}</if>
				<if test="aliasName != null ">alias_name = #{aliasName}</if>
				<if test="createTime != null ">create_time = #{createTime}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from report_word_result
		<include refid="where"/>
		<if test="groupBy != null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from report_word_result
		<include refid="where" />
	</select>
	
	<!-- 批量导出报告 -->
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.ReportWordResult">
		SELECT 
		  rwr.* 
		FROM
		  report_word_result rwr,
		  service_period sp,
		  database_info wi 
		WHERE rwr.site_code = sp.site_code 
		  AND rwr.service_period_id = sp.id 
		  AND wi.site_code = rwr.site_code 
 		  <if test="siteCodeList !=null">
		  	AND rwr.site_code IN 
		  		<foreach collection="siteCodeList" item="item" open="(" separator="," close=")">
			  		#{item}
			  	</foreach>
		  </if>
		  <if test="periodNum !=null">
		  	AND sp.period_num = #{periodNum}
		  </if>
		  <if test="nowTime !=null">
		  	AND   #{nowTime} BETWEEN wi.service_begin_time AND wi.service_end_time
		  </if>
	</select>
	
	<!-- 下载报告数据 -->
	<select id="queryByMapWord" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.ReportWordResult">
		select 
			distinct (rwr.id),rwr.*,scn.check_report_result,sp.start_date,sp.end_date,
			scn.type as scnType,
			scn.id as scnId,
			scn.is_read,
			scn.director
		from 
			report_word_result rwr, 
			spot_check_notice scn, 
			service_period sp ,
			database_tree_info trin 
		where 
			rwr.site_code=scn.site_code 
			AND scn.site_code = trin.site_code
			AND trin.is_link = 1
		<if test="layerType !=null">
	  		AND trin.layer_type = #{layerType} 
		</if>
		<if test="code !=null">
	  		AND trin.code like concat(#{code},'%')
		</if>
		<if test="level !=null">
	  		AND trin.level = ${level} 
		</if>
					and scn.service_period_id=rwr.service_period_id 
			and rwr.service_period_id=sp.id 
			and sp.status!=-1 and scn.check_report_result is not null 
		<if test="siteCode !=null">
	  		AND rwr.site_code = #{siteCode} 
		</if>
		<if test="orgSiteCode !=null">
	  		AND scn.org_site_code = #{orgSiteCode} 
		</if>
		<if test="upperOrgCode !=null">
	  		AND scn.upper_org_code = #{upperOrgCode} 
		</if>
		<if test="aliasName !=null">
	  		AND rwr.alias_name like CONCAT('%',#{aliasName},'%') 
		</if>
		<if test="checkReportResult !=null">
	  		AND scn.check_report_result  = #{checkReportResult} 
		</if>
		<if test="isRead !=null">
	  		AND scn.is_read  = #{isRead} 
		</if>
		<if test="orgSiteCode ==null">
			<if test="list !=null">
	  			AND scn.org_site_code IN 
		  		<foreach collection="list" item="item" open="(" separator="," close=")">
			  		#{item}
			  	</foreach>
			</if>
		</if>
		
		<if test="queryOrderList != null">
			order by rwr.
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryByMapWordCount" parameterType="HashMap" resultType="int">
	select count(t.disId) from (
		select 
			distinct(rwr.id) disId
		from 
			report_word_result rwr, 
			spot_check_notice scn, 
			service_period sp ,
			database_tree_info trin 
		where 
			rwr.site_code=scn.site_code 
			AND scn.site_code = trin.site_code
			AND trin.is_link = 1
		<if test="layerType !=null">
	  		AND trin.layer_type = #{layerType} 
		</if>
			and scn.service_period_id=rwr.service_period_id 
			and rwr.service_period_id=sp.id 
			and sp.status!=-1 and scn.check_report_result is not null 
		<if test="siteCode !=null">
	  		AND rwr.site_code = #{siteCode} 
		</if>
		<if test="code !=null">
	  		AND trin.code like concat(#{code},'%')
		</if>
		<if test="level !=null">
	  		AND trin.level = ${level} 
		</if>
		<if test="orgSiteCode !=null">
	  		AND scn.org_site_code = #{orgSiteCode} 
		</if>
		<if test="upperOrgCode !=null">
	  		AND scn.upper_org_code = #{upperOrgCode} 
		</if>
		<if test="aliasName !=null">
	  		AND rwr.alias_name like CONCAT('%',#{aliasName},'%') 
		</if>
		<if test="checkReportResult !=null">
	  		AND scn.check_report_result  = #{checkReportResult} 
		</if>
		<if test="isRead !=null">
	  		AND scn.is_read  = #{isRead} 
		</if>
		<if test="orgSiteCode ==null">
			<if test="list !=null">
	  			AND scn.org_site_code IN 
		  		<foreach collection="list" item="item" open="(" separator="," close=")">
			  		#{item}
			  	</foreach>
			</if>
		</if>
		<if test="queryOrderList != null">
			order by rwr.
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		) t
	</select>
	
	
	<select id="findBySitCode" parameterType="String" resultType="com.ucap.cloud_web.entity.ReportWordResult">
		select * from report_word_result where site_code=#{siteCode}
	</select>
	
	<select id="findSiteByMap" parameterType="String" resultType="com.ucap.cloud_web.entity.ReportWordResult">
		SELECT 
		  * 
		FROM
		  report_word_result 
		<include refid="where" />
	</select>

</mapper>
