<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.SecurityServcieDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.SecurityServcie" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code like '${siteCode}%'
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="servicePeriodId !=null and servicePeriodId !=0">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="createTime !=null">
				and create_time like '${createTime}%'
			</if>
			<if test="serviceItem !=null">
				and service_item like '%${serviceItem}%'
			</if>
			<if test="problemTypeIdList !=null">
				and problem_type_id in ${problemTypeIdList}
			</if>
			<if test="endScanDate !=null">
				<![CDATA[ and scan_date<=#{endScanDate} ]]>
			</if>
			and del_flag=0
		</where>
	</sql>
	<sql id="whereCondition">
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code like '${siteCode}%'
				
			</if>
			<if test="group !=null ">
				and create_time BETWEEN DATE_SUB(NOW(),INTERVAL 12 MONTH) AND NOW()
			</if>
			<if test="servicePeriodId !=null">
				and service_period_id=#{servicePeriodId}
			</if>
			and del_flag=0
		</where>
	</sql>
	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.SecurityServcie" useGeneratedKeys="true" keyProperty="id">
		insert into security_servcie ( 
			<if test="id != null ">id,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="serviceItem != null ">service_item,</if>
			<if test="problemTypeId != null ">problem_type_id,</if>
			<if test="problemDesc != null ">problem_desc,</if>
			<if test="url != null ">url,</if>
			<if test="imgUrl != null ">img_url,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="serviceItem != null ">#{serviceItem},</if>
			<if test="problemTypeId != null ">#{problemTypeId},</if>
			<if test="problemDesc != null ">#{problemDesc},</if>
			<if test="url != null ">#{url},</if>
			<if test="imgUrl != null ">#{imgUrl},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.SecurityServcie">
		select * from security_servcie where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.SecurityServcie">
		update security_servcie 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="serviceItem != null ">service_item = #{serviceItem},</if>
				<if test="problemTypeId != null ">problem_type_id = #{problemTypeId},</if>
				<if test="problemDesc != null ">problem_desc = #{problemDesc},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="imgUrl != null ">img_url = #{imgUrl},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from security_servcie where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from security_servcie
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from security_servcie
		<include refid="where" />
	</select>
	<select id="queryBarNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		select count(*) as blankNum, DATE_FORMAT(create_time, '%Y-%m') 
		from security_servcie 
		<include refid="where" />
		group by DATE_FORMAT(create_time, '%Y-%m')
		order by create_time desc
	</select>
	
	<!-- 根据网站标识码、期号，查询服务不实用详情表（已问题类型id分组） -->
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityServcieRequest">
		select count(id) as serviceSum, problem_type_id as problemTypeId  from security_servcie
		<include refid="whereCondition" />
		group by problem_type_id 
		order by problem_type_id asc 
	</select>


	<select id="queryByGroup" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityServcieRequest">
		SELECT count(id) as serviceSum, SUBSTRING(create_time,1,7) AS returnTime FROM security_servcie 
		<include refid="whereCondition" />
		GROUP BY SUBSTRING(create_time,1,7)
	</select>
	<select id="getProblemNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityServcieRequest">
		SELECT 
		  COUNT(*) AS problemNum,
		  ss.site_code AS siteCode,
		  wb.name AS siteName,
		  wb.url AS homePageUrl,
		  wb.jump_url AS jumpPageUrl,
		  wb.isorganizational AS isorganizational,
		  wb.director AS director,
		  wb.address AS address,
		  wb.principal_name AS principalName,
		  wb.telephone AS telephone,
		  wb.mobile AS mobile,
		  wb.email AS email,
		  wb.linkman_name AS linkmanName,
		  wb.telephone_2 AS telephone2,
		  wb.mobile_2 AS mobile2,
		  wb.email_2 AS email2 
		FROM
		  security_servcie ss,
		  service_period sp,
		  database_info wb 
		WHERE ss.service_period_id = sp.id 
		  AND ss.site_code =wb.site_code
		  and ss.del_flag=0
		<if test="servicePeriodId!=null">
			and ss.service_period_id=#{servicePeriodId}
		</if>
		<if test="scanDate !=null">
			and ss.create_time like '${scanDate}%'
		</if>
		<if test="ids != null">
		 	and ss.site_code in
	        <foreach collection="ids" item="term" open="(" separator="," close=")">
	     		#{term.siteCode}
			</foreach>
		</if>
		 <if test="siteCodeLike != null ">
				and ss.site_code like  concat('%',#{siteCodeLike},'%')
		</if>
		GROUP BY ss.site_code
		order by  problemNum DESC
		
	</select>
	<!-- add by sunjq -->
	<select id="queryCountByType" parameterType="HashMap" resultType="int">
		SELECT count(*) FROM security_servcie 
		WHERE site_code = #{siteCode} AND scan_date BETWEEN (#{beginScanDate} and #{endScanDate})
		AND problem_type_id = ${problemTypeId}
		and del_flag=0
	</select>
	<!-- end add -->
	
	
	<select id="getServiceNumber" parameterType="HashMap" resultType="com.ucap.cloud_web.dtoResponse.SecurityGuaranteeResponse">
		SELECT
			COUNT(id) columnNum,site_code siteCode	
		FROM
			security_servcie
   		<include refid="where" />
   		GROUP BY siteCode
	</select>
	
	<select id="queryServiceInfoByTree" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityServcieRequest">
		SELECT 
		  sr.service_period_id AS servicePeriodId,
		  sr.site_code AS siteCode,
		  di.name AS siteName,
		  COUNT(sr.id) AS problemNum
		FROM
		  security_servcie sr 
		  LEFT JOIN database_tree_info dti 
		    ON sr.site_code = dti.site_code 
		  LEFT JOIN database_info di 
		    ON dti.site_code = di.site_code
	     WHERE 1=1
	    <if test="servicePeroidId !=null">
	    	AND sr.service_period_id=#{servicePeroidId}
	    </if>
	    <if test="orgSiteCode !=null">
	    	AND dti.org_site_code=#{orgSiteCode}
	    </if>
	    <if test="isLink !=null">
	    	AND dti.is_link=#{isLink}
	    </if>
	   <if test="siteType !=null">
	    	AND dti.layer_type=#{siteType}
	    </if>
	   <if test="isExp !=null">
	    	AND  di.isexp=#{isExp}
	    </if>
	    <if test="scanDate !=null">
	    	<![CDATA[AND sr.scan_date <=#{scanDate}]]>
	    </if>
	    <if test="delFlag !=null">
	    	AND sr.del_flag =#{delFlag}
	    </if>
	    GROUP BY sr.site_code
	    ORDER BY problemNum DESC
		<if test="begin !=null and end !=null">
			limit #{begin},#{end}
		</if>
	</select>
	<select id="queryServiceInfoByTreeCount" parameterType="HashMap" resultType="int">
	
		SELECT COUNT(*) FROM (
			SELECT 
			  sr.service_period_id AS servicePeriodId,
			  sr.site_code AS siteCode,
			  di.name AS siteName,
			  COUNT(sr.id) AS problemNum
			FROM
			  security_servcie sr 
			  LEFT JOIN database_tree_info dti 
			    ON sr.site_code = dti.site_code 
			  LEFT JOIN database_info di 
			    ON dti.site_code = di.site_code
		     WHERE 1=1
		    <if test="servicePeroidId !=null">
		    	AND sr.service_period_id=#{servicePeroidId}
		    </if>
		    <if test="orgSiteCode !=null">
		    	AND dti.org_site_code=#{orgSiteCode}
		    </if>
		    <if test="isLink !=null">
		    	AND dti.is_link=#{isLink}
		    </if>
		   <if test="siteType !=null">
		    	AND dti.layer_type=#{siteType}
		    </if>
		   <if test="isExp !=null">
		    	AND  di.isexp=#{isExp}
		    </if>
		    <if test="scanDate !=null">
	    	    <![CDATA[AND sr.scan_date <=#{scanDate}]]>
	        </if>
		    <if test="delFlag !=null">
		    	AND sr.del_flag =#{delFlag}
		    </if>
		    GROUP BY sr.site_code
		) AS a
	</select>

</mapper>
