<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.SecurityHomeChannelDao">

	<!-- <cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/> -->

	<resultMap type="com.ucap.cloud_web.entity.SecurityHomeChannel" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="servicePeriodId != null">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="notUpdateDays !=null">
				<![CDATA[ and not_update_num >= #{notUpdateDays} ]]>  
			</if>
			<if test="type !=null">
				and type =#{type}
			</if>
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="scanDate !=null">
				and scan_date =#{scanDate}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
				and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="channelTypes !=null">
				and channel_type in
				<foreach collection="channelTypes" item="item" open="(" separator="," close=")">
       					#{item}
				</foreach>
			</if>
			<if test="databaseList !=null">
				and site_code in
				<foreach collection="databaseList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			<if test="databaseLinkList !=null">
				and site_code in
				<foreach collection="databaseLinkList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			
			<if test="terms !=null">
				and (name like '%${terms}%' or url like '%${terms}%')
			</if>


			<if test="autoInput !=null">
				and user_id = '-1'
			</if>
			
			<if test="noAutoInput !=null">
				and user_id != '-1'
			</if>
			
			
			<if test="flag =='false'">
				<if test="selectType  ==1">
					and (not_update_num >14
					and channel_type in (5))
				</if>
				<if test="selectType ==2">
					and (not_update_num >180
					and channel_type in (6,7))
				</if>
				<if test="selectType ==3">
					and (not_update_num >365
					and channel_type in (8,9,10,11,12,13,14,15,16))
				</if>
				<if test="selectType == 0">
					<![CDATA[ 
					and (
						(channel_type in (5) and not_update_num <=14) 
						or (channel_type in(6,7) and not_update_num <=180) 
						or (channel_type in (8,9,10,11,12,13,14,15,16) and not_update_num <=365)
						or (channel_type in (17) and not_update_num <=365)
					)
					]]>
				</if>
				<if test="selectType == 4">
					<![CDATA[ 
					and (
						(channel_type in (5) and not_update_num >14) 
						or (channel_type in(6,7) and not_update_num >180) 
						or (channel_type in (8,9,10,11,12,13,14,15,16) and not_update_num >365)
						or (channel_type in (17) and not_update_num >365
						or( channel_type=29))
					)
					]]>
				</if>
			</if>
			
			
			<if test="flag =='true'">
				<if test="selectType  ==1">
				<![CDATA[
					and (not_update_num  <= 14 
					and channel_type in (5))
				]]>
				</if>
				<if test="selectType ==2">
					<![CDATA[
					and (not_update_num <= 180 
					and channel_type in (6,7))
					]]>
				</if>
				<if test="selectType ==3">
					<![CDATA[
					 and (not_update_num <= 365 
					 and channel_type in (8,9,10,11,12,13,14,15,16))
					]]>
				</if>
				<if test="selectType == 0">
					<![CDATA[ 
					and (
						(channel_type in (5) and not_update_num <=14) 
						or (channel_type in(6,7) and not_update_num <=180) 
						or (channel_type in (8,9,10,11,12,13,14,15,16) and not_update_num <=365)
						or (channel_type in (17) and not_update_num <=365)
					)
					]]>
				</if>
			</if>
			<if test="wxFlag !=null">
			  AND (
			    (TYPE = 1 AND not_update_num > 14) 
			    OR ( TYPE = 2  AND ( 
			    		(channel_type IN (5) AND not_update_num > 14) 
				    	OR (channel_type IN (6, 7) AND not_update_num > 180) 
				        OR (channel_type IN (8, 9, 10, 11, 12, 13, 14, 15, 16)  AND not_update_num > 365)
			      		)
			      	)
			    )
			</if>
			and del_flag=0
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.SecurityHomeChannel" useGeneratedKeys="true" keyProperty="id">
		insert into security_home_channel ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="name != null ">name,</if>
			<if test="url != null ">url,</if>
			<if test="modifyDate != null ">modify_date,</if>
			<if test="notUpdateNum != null ">not_update_num,</if>
			<if test="imageUrl != null ">image_url,</if>
			<if test="litImg != null ">lit_img,</if>
			<if test="type != null ">type,</if>
			<if test="channelType != null ">channel_type,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="userId != null ">user_id,</if>
			<if test="problemTypId != null ">problem_typ_id,</if>
			<if test="problemDesc != null ">problem_desc,</if>
			<if test="webVersion != null ">web_version,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time,
			modify_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="name != null ">#{name},</if>
			<if test="url != null ">#{url},</if>
			<if test="modifyDate != null ">#{modifyDate},</if>
			<if test="notUpdateNum != null ">#{notUpdateNum},</if>
			<if test="imageUrl != null ">#{imageUrl},</if>
			<if test="litImg != null ">#{litImg},</if>
			<if test="type != null ">#{type},</if>
			<if test="channelType != null ">#{channelType},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="userId != null ">#{userId},</if>
			<if test="problemTypId != null ">#{problemTypId},</if>
			<if test="problemDesc != null ">#{problemDesc},</if>
			<if test="webVersion != null ">#{webVersion},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.SecurityHomeChannel">
		select * from security_home_channel where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.SecurityHomeChannel">
		update security_home_channel 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="name != null ">name = #{name},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="modifyDate != null ">modify_date = #{modifyDate},</if>
				<if test="notUpdateNum != null ">not_update_num = #{notUpdateNum},</if>
				<if test="imageUrl != null ">image_url = #{imageUrl},</if>
				<if test="litImg != null ">lit_img = #{litImg},</if>
				<if test="type != null ">type = #{type},</if>
				<if test="channelType != null ">channel_type = #{channelType},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="userId != null ">user_id = #{userId},</if>
				<if test="problemTypId != null ">problem_typ_id = #{problemTypId},</if>
				<if test="problemDesc != null ">problem_desc = #{problemDesc},</if>
				<if test="webVersion != null ">web_version = #{webVersion},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from security_home_channel where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from security_home_channel
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
		<!-- 分页查询 -->
	<select id="queryTb" parameterType="HashMap" resultMap="resultMap">
		select *,
		(CASE 
		WHEN (not_update_num >14 and channel_type in (5)) 
		THEN 0
		WHEN (channel_type in(6,7) and not_update_num >=180)
		THEN 0
		WHEN (channel_type in (8,9,10,11,12,13,14,15,16)  and not_update_num >=365) 
		THEN 0
		WHEN (channel_type in (17) and not_update_num >=365) 
		THEN 0
		ELSE 1 END ) flagType
		from security_home_channel
		<include refid="where"/>
<!-- 		ORDER BY flagType asc,not_update_num desc -->
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="groupBy !=null">
			GROUP BY ${groupBy} 
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	
		<!-- 查询正常更新的数据-->
	<select id="queryListTbNormal" parameterType="HashMap" resultMap="resultMap">
		<![CDATA[ 
		select *,
		(CASE 
		WHEN (not_update_num <=14 and channel_type in (5)) 
		THEN 1
		WHEN (channel_type in(6,7) and not_update_num <=180)
		THEN 1
		WHEN (channel_type in (8,9,10,11,12,13,14,15,16)  and not_update_num <=365) 
		THEN 1
		WHEN (channel_type in (17)  and not_update_num <=365) 
		THEN 1
		ELSE 0 END ) flagType
		from security_home_channel
		]]>
		<include refid="where"/>
<!-- 		ORDER BY flagType asc,not_update_num desc -->
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="groupBy !=null">
			GROUP BY ${groupBy} 
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from security_home_channel
		<include refid="where" />
	</select>
	<select id="getLineList" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		select a.scan_date as scanDate, count(case when (a.type=1 and a.not_update_num >14) then 1 else null end) as homeNum, 
				count(case when (a.type=2 and a.not_update_num>dc.update_day) then 1 else null end) as channelNum,
				count(b.id)as blankChannel,
				count(c.id) as securityResponse,
				count(d.id) as securityService
			from security_home_channel a 
				LEFT JOIN security_blank_detail b
				ON (b.site_code = a.site_code and a.scan_date = b.scan_date )
				LEFT JOIN security_response c
				ON (c.site_code = a.site_code and a.scan_date = c.scan_date )
				LEFT JOIN security_servcie d
				ON (d.site_code = a.site_code and a.scan_date = d.scan_date )
		LEFT JOIN dic_channel dc
				ON (a.channel_type = dc.id )
			where 1=1 
			<if test="ids != null">
			 	and a.site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
			<if test="siteCode !=null">
				and a.site_code =#{siteCode}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
			
                and a.scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			and a.del_flag=0
		group by a.scan_date
	</select>
	<select id="getUnUpdateDays" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  a.modify_date AS updateTime,
		  a.not_update_num AS notUpdateDays,
		  a.last_access_date AS lastAccessDate,
		  a.site_code AS siteCode,
		  d.name AS siteName ,
		  d.director as director,
		  d.isorganizational as isorganizational,
		  d.jump_url as jumpPageUrl,
		  d.url as homePageUrl
		FROM
		  security_home_channel a,
		  database_info d 
		WHERE a.type = 1 
		  AND a.site_code = d.site_code 
		  AND a.not_update_num > 14 
		<if test="ids != null">
			and a.site_code in
            <foreach collection="ids" item="term" open="(" separator="," close=")">
       			#{term.siteCode}
			</foreach>
		</if>
		<if test="siteCode !=null">
			and a.site_code=#{siteCode}
		</if>
		<if test="scanDate != null">
			and scan_date=#{scanDate} 	
		</if>
		and a.del_flag=0
		order by a.modify_date 
	</select>
    <select id="getUNUpdateSum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  cp.site_code AS siteCode,
		  d.name AS siteName,
		  COUNT(*) AS unUpdateSum,
		  d.jump_url AS jumpPageUrl,
		  d.url AS homePageUrl,
		  d.isorganizational as isorganizational,
		  d.director as director
		FROM
		  security_home_channel cp,
		  database_info d 
		WHERE d.site_code = cp.site_code 
		<if test="type !=null">
			AND cp.type = #{type}
		</if>
		<if test="ids != null">
		 	and cp.site_code in
	        <foreach collection="ids" item="term" open="(" separator="," close=")">
	     		#{term.siteCode}
			</foreach>
		</if>
		<if test="siteCode !=null">
			and cp.site_code=#{siteCode}
		</if>
		<if test="types !=null">
			and cp.channel_type in 
			<foreach collection="types" item="item" open="(" separator="," close=")">
		   		#{item}
			</foreach>
		</if>
		<if test="scanDate != null">
			 and cp.scan_date=#{scanDate} 	
		</if>
		<if test="flag =='false'">
				<if test="selectType  ==1">
					and (not_update_num >14
					and channel_type in (5))
				</if>
				<if test="selectType ==2">
					and (not_update_num >180
					and channel_type in (6,7))
				</if>
				<if test="selectType ==3">
					and (not_update_num >365
					and channel_type in (8,9,10,11,12,13,14,15,16))
				</if>
				<if test="selectType == 0">
					<![CDATA[ 
				and (
					(channel_type in (5) and not_update_num <=14) 
					or (channel_type in(6,7) and not_update_num <=180) 
					or (channel_type in (8,9,10,11,12,13,14,15,16) and not_update_num <=365)
					or channel_type=29
				)
				]]>
				</if>
			</if>	
		and cp.del_flag=0
		group by cp.site_code
		order by unUpdateSum DESC
	</select>
	
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  SUM(
		    CASE
		      WHEN TYPE = 1 
		      THEN not_update_num 
		      ELSE 0 
		    END
		  ) AS homeNotUpdateNum,
		  SUM(
		    CASE
		      WHEN TYPE = 2 
		      THEN not_update_num 
		      ELSE 0 
		    END
		  ) AS channelNorUpdateNum 
		FROM
		  security_home_channel 
		<include refid="where"/>
		GROUP BY TYPE 
	</select>
	
	<select id="queryCountByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  SUM(
		    CASE
		      WHEN (TYPE = 1 AND not_update_num>14)
		      THEN 1 
		      ELSE 0 
		    END) AS homeNotUpdateNum,
		  SUM(
		    CASE
		      WHEN TYPE = 2 
		      THEN 1 
		      ELSE 0 
		    END) AS channelNorUpdateNum ,
		    scan_date as scanDate
		FROM security_home_channel 
		WHERE  not_update_num > 0
		and del_flag=0
		<if test="siteCode !=null">
			and site_code=#{siteCode}
		</if>
		<if test="scanDate !=null">
			and scan_date =#{scanDate}
		</if>
		<if test="beginScanDate !=null and endScanDate !=null">
			and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
		</if>
		<if test="groupBy !=null">
			GROUP BY scan_date 
		</if>
	</select>
	<!-- add by sunjq -->
	<select id="queryCountByType" parameterType="HashMap" resultType="int">
		SELECT count(*)
		FROM security_home_channel 
		WHERE  site_code = #{siteCode}  
		AND scan_date = #{scanDate} 
		AND type =2 
		AND channel_type in ${types}
		AND not_update_num > ${days}
		and del_flag=0
	</select>
	<select id="queryByTypeDeail" parameterType="HashMap" resultMap="resultMap">
		SELECT *
		FROM security_home_channel a, dic_channel b
		WHERE  site_code = #{siteCode}  
		AND (a.scan_date BETWEEN #{startDate} and #{endDate}) 
		AND a.type =2 
		AND a.channel_type = b.id
		AND a.not_update_num > b.update_day
		AND b.is_update = 1
		and a.del_flag=0
		order by scan_date DESC
	</select>
	<!-- end add -->
	<select id="queryReport" parameterType="HashMap" resultMap="resultMap">
		SELECT a.name,a.url,a.problem_desc,a.modify_date,a.scan_date,
		a.not_update_num,a.image_url,a.user_id,a.web_version,a.channel_type,a.problem_typ_id,
		a.last_access_date
		FROM security_home_channel a, dic_channel b
		WHERE  site_code = #{siteCode}  
		
		AND a.type =2 
		AND (a.channel_type = b.id
		AND a.not_update_num > b.update_day)
		and a.del_flag=0
		<if test="scanDate !=null">
			AND a.scan_date= #{scanDate}
		</if>
		<if test="beginScanDate !=null and endScanDate !=null">
			AND (a.scan_date BETWEEN #{beginScanDate} and #{endScanDate}) 
		</if>
		
		<if test= "servicePeriodId != null" >
          and a.service_period_id=#{servicePeriodId}
        </if>
      	<if test="selectType  ==1">
			and a.channel_type in (5)
		</if>
		<if test="selectType ==2">
			and a.channel_type in (6,7)
		</if>
		<if test="selectType ==3">
			and a.channel_type in (8,9,10,11,12,13,14,15,16)
		</if>
		<if test="groupBy != null">
			group by ${groupBy}
		</if>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	
	<select id="queryReportAndNoAuto" parameterType="HashMap" resultMap="resultMap">
	select t.* from (
		SELECT a.name,a.url,a.problem_desc,a.modify_date,a.scan_date scan_date,
		a.not_update_num,a.image_url,a.user_id,a.web_version,a.channel_type,a.problem_typ_id,
		a.last_access_date
		FROM security_home_channel a, dic_channel b
		WHERE  site_code = #{siteCode}  
		AND (a.scan_date BETWEEN #{beginScanDate} and #{endScanDate}) 
		AND a.type =2 
		AND a.channel_type = b.id
		AND a.not_update_num > b.update_day
		and a.del_flag=0
		and a.user_id ='-1'
		order by a.scan_date desc
		) t group by t.url 

	</select>
	
	<select id="queryReportCount" parameterType="HashMap" resultType="int">
	select count(*)	from (SELECT count(*)
		FROM security_home_channel a, dic_channel b
		WHERE  site_code = #{siteCode}  
		AND (a.scan_date  BETWEEN #{beginScanDate} and #{endScanDate}) 
		AND a.type =2 
		AND a.channel_type = b.id
		AND a.not_update_num > b.update_day
		and a.del_flag=0
		group by a.url)c
	</select>
	
	<select id="queryHomeNotUpByMap" parameterType="HashMap" resultType="int">
		SELECT 
		  COUNT(*) 
		FROM
		  security_home_channel shc
		WHERE 1=1
		<if test="type !=null">
			AND shc.type = #{type} 
		</if>
		<if test="scanDate !=null">
			AND shc.scan_date = #{scanDate}
		</if>
		<if test="notUpdateNum !=null">
			AND shc.not_update_num > #{notUpdateNum}
		</if>
		<if test="dataLinkList !=null">
			AND shc.site_code in
			<foreach collection="dataLinkList" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<select id="queryBasicNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  COUNT(*) AS basicNum,
		  sbi.site_code AS siteCode,
		  sbi.service_period_id AS servicePeriodId
		FROM
		  security_home_channel sbi,
		  service_period sp 
		WHERE sbi.service_period_id = sp.id 
		<if test="siteCode !=null">
			AND sbi.site_code = #{siteCode}
		</if>
		<if test="type !=null">
			AND sbi.type = #{type} 
		</if>
		<if test="nowDate !=null">
			AND #{nowDate} BETWEEN sp.start_date AND sp.end_date
		</if>
		<if test="scanDate !=null">
			AND sbi.scan_date=#{scanDate}
		</if>
		<if test="linkList !=null">
			and sbi.site_code in
			<foreach collection="linkList" item="item" open="(" separator="," close=")">
				#{item.siteCode}
			</foreach>
		</if>
		group by sbi.site_code,sbi.service_period_id
		<if test="basicNum !=null">
			HAVING basicNum > #{basicNum}
		</if>

<!-- 		SELECT 
		  COUNT(*) AS basicNum,
		  shc.site_code AS siteCode 
		FROM
		  security_home_channel shc,
		  database_info di 
		WHERE shc.site_code = di.site_code 
		<if test="type !=null">
			AND shc.type = #{type} 
		</if>
		<if test="isScan !=null">
			AND di.is_scan = #{isScan} 
		</if>
		<if test="scanDate !=null">
			AND shc.scan_date = #{scanDate}
		</if>
		<if test="siteCode !=null">
			AND shc.site_code = #{siteCode}
		</if>
		<if test="linkList !=null">
			AND shc.site_code in
			<foreach collection="linkList" item="item" open="(" separator="," close=")">
				#{item.siteCode}
			</foreach>
		</if>
		group by shc.site_code
		<if test="basicNum !=null">
			HAVING basicNum > #{basicNum}
		</if> -->
	</select>
	
		
	
	<select id="queryListByMap" parameterType="HashMap"  resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT 
		  shc.site_code AS siteCode,
		  shc.url AS url,
		  shc.not_update_num AS notUpdateNum,
		  shc.modify_date AS  modifyDate
		FROM
		  security_home_channel shc,
		  database_info di 
		WHERE shc.site_code=di.site_code
		<if test="type !=null">
			AND shc.type = #{type} 
		</if>
		<if test="isScan !=null">
			AND di.is_scan = #{isScan} 
		</if>
		<if test="iscost !=null">
			AND di.iscost = #{iscost} 
		</if>
		<if test="scanDate !=null">
			AND scan_date =#{scanDate}
		</if>
		<if test="notUpdateDays !=null">
			AND not_update_num > #{notUpdateDays}
		</if>
		<if test="siteCode !=null">
			AND shc.site_code = #{siteCode}
		</if>
		<if test="linkList !=null">
			AND shc.site_code in
			<foreach collection="linkList" item="item" open="(" separator="," close=")">
				#{item.siteCode}
			</foreach>
		</if>
	</select>
	
	<select id="getSecurityHomeList" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT
			a.site_code,
			a. NAME siteName,
			a.url homePageUrl,
			a.jump_url jumpPageUrl,
			sc.not_update_num notUpdateDays,
			sc.modify_date updateTime,
			sc.image_url imageUrl
		FROM
			database_info a,
			security_home_channel sc,
			database_tree_info dti
		WHERE
			sc.site_code = dti.site_code
		AND a.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>
		<if test="twoWeeks !=null">
		 	<![CDATA[ and sc.not_update_num >  #{twoWeeks} ]]>  
		</if>
		<if test="scanDate !=null">
			and sc.scan_date =#{scanDate}
		</if>
		<if test="isExp != null">
			and a.isexp = #{isExp}
		</if>
		AND sc.del_flag = 0
		AND sc.type = 1
		GROUP BY
			sc.site_code
		ORDER BY
			sc.not_update_num DESC
		<if test="begin !=null and end !=null">
			limit #{begin},#{end}
		</if>
	</select>
	
	<select id="getSecurityHomeListCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT
				a.site_code,
				a. NAME siteName,
				a.url homePageUrl,
				a.jump_url jumpPageUrl,
				sc.not_update_num notUpdateDays,
				sc.modify_date updateTime,
				sc.image_url imageUrl
			FROM
				database_info a,
				security_home_channel sc,
				database_tree_info dti
			WHERE
				sc.site_code = dti.site_code
			AND a.site_code = dti.site_code
			<if test="orgSiteCode != null">
				and dti.org_site_code= #{orgSiteCode}
			</if>
			<if test="isLink != null">
				and dti.is_link = #{isLink}
			</if>
			<if test="siteType != null">
				and dti.layer_type = #{siteType}
			</if>
			<if test="twoWeeks !=null">
			 	<![CDATA[ and sc.not_update_num >  #{twoWeeks} ]]>  
			</if>
			<if test="scanDate !=null">
				and sc.scan_date =#{scanDate}
			</if>
			<if test="isExp != null">
				and a.isexp = #{isExp}
			</if>
			AND sc.del_flag = 0
			AND sc.type = 1
			GROUP BY
				sc.site_code
			ORDER BY
				sc.modify_date DESC
		) AS aa
	</select>
	
	<select id="querySiteNumByMap" parameterType="HashMap" resultType="int">
		SELECT 
		  COUNT(*) 
		FROM
		  (SELECT 
		    * 
		  FROM
		    security_home_channel sh 
		  WHERE 1 = 1 
		  	AND (
		      (
		        sh.not_update_num > 14 
		        AND sh.channel_type IN (5)
		      ) 
		      OR (
		        sh.channel_type IN (6, 7) 
		        AND sh.not_update_num >= 180
		      ) 
		      OR (
		        sh.channel_type IN (8, 9, 10, 11, 12, 13, 14, 15, 16) 
		        AND sh.not_update_num >= 365
		      ) 
		      OR sh.channel_type = 29
		    ) 
		  	<if test="type !=null">
		  		AND sh.TYPE = #{type}
		  	</if>
		  	<if test="scanDate !=null">
		  		AND sh.scan_date =#{scanDate} 
		  	</if>
			<if test="linkList !=null">
				AND sh.site_code IN
				<foreach collection="linkList" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		  GROUP BY sh.site_code) AS shc 
	</select>
	
	<select id="querySumByMap" parameterType="HashMap" resultType="int">
		 SELECT 
		    COUNT(*) 
		  FROM
		    security_home_channel sh 
		  WHERE 1 = 1 
		  	AND (
		      (
		        sh.not_update_num > 14 
		        AND sh.channel_type IN (5)
		      ) 
		      OR (
		        sh.channel_type IN (6, 7) 
		        AND sh.not_update_num >= 180
		      ) 
		      OR (
		        sh.channel_type IN (8, 9, 10, 11, 12, 13, 14, 15, 16) 
		        AND sh.not_update_num >= 365
		      ) 
		      OR sh.channel_type = 29
		    ) 
		  	<if test="type !=null">
		  		AND sh.TYPE = #{type}
		  	</if>
		  	<if test="scanDate !=null">
		  		AND sh.scan_date =#{scanDate} 
		  	</if>
			<if test="linkList !=null">
				AND sh.site_code IN
				<foreach collection="linkList" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
	</select>
	
	<select id="queryNumByType" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeChannelRequest">
		SELECT
			a.site_code,
			a. NAME siteName,
			COUNT(sc.id) as notUpSiteNum,
			sc.not_update_num notUpdateDays,
			sc.modify_date updateTime,
			sc.image_url imageUrl
		FROM
			database_info a,
			security_home_channel sc,
			database_tree_info dti
		WHERE
			sc.site_code = dti.site_code
		AND a.site_code = dti.site_code
		<if test="orgSiteCode != null">
			and dti.org_site_code= #{orgSiteCode}
		</if>
		<if test="isLink != null">
			and dti.is_link = #{isLink}
		</if>
		<if test="siteType != null">
			and dti.layer_type = #{siteType}
		</if>
		<if test="scanDate !=null">
			and sc.scan_date =#{scanDate}
		</if>
		<if test="isExp != null">
			and a.isexp = #{isExp}
		</if>
		<if test="type !=null">
			and sc.type=#{type}
		</if>
		<if test="selectType  ==1">
			and (sc.not_update_num >14
			and sc.channel_type in (5))
		</if>
		<if test="selectType ==2">
			and (sc.not_update_num >180
			and sc.channel_type in (6,7))
		</if>
		<if test="selectType ==3">
			and (sc.not_update_num >365
			and sc.channel_type in (8,9,10,11,12,13,14,15,16))
		</if>
		<if test="selectType == 4">
			<![CDATA[ 
			and (
				(sc.channel_type in (5) and sc.not_update_num >14) 
				or (sc.channel_type in(6,7) and sc.not_update_num >180) 
				or (sc.channel_type in (8,9,10,11,12,13,14,15,16) and sc.not_update_num >365)
			)
			]]>
		</if>
		AND sc.del_flag = 0
		GROUP BY
			sc.site_code
		ORDER BY
			sc.modify_date DESC
		<if test="begin !=null and end!=null">
			limit #{begin},#{end}
		</if>
	</select>
	<select id="queryNumByTypeCount" parameterType="HashMap" resultType="int">
		SELECT COUNT(*) FROM (
			SELECT
				a.site_code,
				a. NAME siteName,
				COUNT(sc.id) as notUpSiteNum,
				sc.not_update_num notUpdateDays,
				sc.modify_date updateTime,
				sc.image_url imageUrl
			FROM
				database_info a,
				security_home_channel sc,
				database_tree_info dti
			WHERE
				sc.site_code = dti.site_code
			AND a.site_code = dti.site_code
			<if test="orgSiteCode != null">
				and dti.org_site_code= #{orgSiteCode}
			</if>
			<if test="isLink != null">
				and dti.is_link = #{isLink}
			</if>
			<if test="siteType != null">
				and dti.layer_type = #{siteType}
			</if>
			<if test="scanDate !=null">
				and sc.scan_date =#{scanDate}
			</if>
			<if test="isExp != null">
				and a.isexp = #{isExp}
			</if>
			<if test="type !=null">
				and sc.type=#{type}
			</if>
			<if test="selectType  ==1">
				and (sc.not_update_num >14
				and sc.channel_type in (5))
			</if>
			<if test="selectType ==2">
				and (sc.not_update_num >180
				and sc.channel_type in (6,7))
			</if>
			<if test="selectType ==3">
				and (sc.not_update_num >365
				and sc.channel_type in (8,9,10,11,12,13,14,15,16))
			</if>
			<if test="selectType == 4">
				<![CDATA[ 
				and (
					(sc.channel_type in (5) and sc.not_update_num >14) 
					or (sc.channel_type in(6,7) and sc.not_update_num >180) 
					or (sc.channel_type in (8,9,10,11,12,13,14,15,16) and sc.not_update_num >365)
				)
				]]>
			</if>
			AND sc.del_flag = 0
			GROUP BY
				sc.site_code
			ORDER BY
				sc.user_id DESC
		)AS aa
	</select>
</mapper>
