<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.SecurityBlankInfoDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.SecurityBlankInfo" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code like '${siteCode}%'
			</if>
			<if test="servicePeriodId != null">
				and service_period_id = #{servicePeriodId}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and create_time BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
		</where>
	</sql>
	<sql id="whereCondition">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code =#{siteCode}  
			</if>
			<if test="servicePIdList !=null">
				and service_period_id in
            	<foreach collection="servicePIdList" item="servicePId" open="(" separator="," close=")">
       					#{servicePId}
				</foreach>
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="serviceList !=null">
				and service_period_id in
            	<foreach collection="serviceList" item="item" open="(" separator="," close=")">
       					#{item.id}
				</foreach>
			</if>
			<if test="createTime !=null">
				and create_time like '${createTime}%'
			</if>
		</where>
	</sql>
	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.SecurityBlankInfo" useGeneratedKeys="true" keyProperty="id">
		insert into security_blank_info ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="blankNum != null ">blank_num,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="blankNum != null ">#{blankNum},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.SecurityBlankInfo">
		select * from security_blank_info where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.SecurityBlankInfo">
		update security_blank_info 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="blankNum != null ">blank_num = #{blankNum},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from security_blank_info where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from security_blank_info
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from security_blank_info
		<include refid="where" />
	</select>
	
	
	<select id="queryByMap" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		 SELECT SUM(blank_num) AS blankNum,  service_period_id AS servicePeriodId FROM security_blank_info
		<include refid="whereCondition" />
		<if test="group !=null">
			GROUP BY service_period_id
		</if>
		order by create_time asc
	</select>
	
<!-- 	<select id="queryNumBar" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityHomeRequest"> -->
<!-- 		select SUM(blank_num) as homeNum, DATE_FORMAT(create_time, '%m') as homeMonth  -->
<!-- 		from security_blank_info -->
<!-- 		<include refid="where" /> -->
<!-- 		group by DATE_FORMAT(create_time, '%Y-%m') order by create_time desc -->
<!-- 	</select> -->
	<select id="getBlankNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		SELECT 
		  SUM(sb.blank_num) AS blankNum,
		  sb.site_code AS siteCode,
		  wb.name AS siteName,
		  wb.url AS homePageUrl,
		  wb.jump_url AS jumpPageUrl,
		  wb.isorganizational as isorganizational,
		  wb.director as director
		FROM
		  security_blank_info sb,
		  service_period sp,
		  database_info wb 
		WHERE sb.service_period_id = sp.id 
		  AND sb.site_code =wb.site_code
		<if test="servicePeriodId !=null">
			and sb.service_period_id=#{servicePeriodId}
		</if>
		<if test="ids != null">
		 	and sb.site_code in
	        <foreach collection="ids" item="term" open="(" separator="," close=")">
	     		#{term.siteCode}
			</foreach>
		</if>
		  <if test="siteCodeLike != null ">
				and sb.site_code like  concat('%',#{siteCodeLike},'%')
		</if>
		GROUP BY sb.site_code
		
		order by  blankNum DESC
	</select>
	
	<select id="queryBlankNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		SELECT 
		  sbi.site_code AS siteCode,
		  sbi.blank_num AS blankNum 
		FROM
		  security_blank_info sbi,
		  service_period sp 
		WHERE sbi.service_period_id = sp.id 
			<if test="siteCode !=null">
				AND sbi.site_code =#{siteCode}
			</if>
			<if test="linkList !=null">
				and sbi.site_code in
		        <foreach collection="linkList" item="term" open="(" separator="," close=")">
		     		#{term.siteCode}
				</foreach>
			</if>
			<if test="scanDate !=null">
				AND #{scanDate} BETWEEN sp.start_date AND sp.end_date
			</if>
			
			<if test="blankNum !=null">
				<![CDATA[AND sbi.blank_num > #{blankNum}]]>
			</if>
	</select>
	
	<select id="getBlankNumber" parameterType="HashMap" resultType="com.ucap.cloud_web.dtoResponse.SecurityGuaranteeResponse">
		SELECT
			blank_num columnNum,
			site_code siteCode
		FROM
			security_blank_info 
	    <include refid="where"/>
	</select>

</mapper>
