<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.TaskAllDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.TaskAll" id="resultMap"/>

	<sql id="where">
		<where>
			<if test="siteCode != null ">
				and site_code=#{siteCode}
			</if>
			<if test="servicePeriodId != null ">
				and service_period_id=#{servicePeriodId}
			</if>
			<if test="relationsPeriod != null ">
				and relations_period=#{relationsPeriod}
			</if>
			
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.TaskAll" useGeneratedKeys="true" keyProperty="id">
		insert into task_all ( 
			<if test="id != null ">id,</if>
			<if test="websiteInfoId != null ">website_info_id,</if>
			<if test="servicePeriodId != null ">service_period_id,</if>
			<if test="status != null ">status,</if>
			<if test="startTimes != null ">start_times,</if>
			<if test="fetchTimes != null ">fetch_times,</if>
			start_date,
			<if test="returnTaskId != null ">return_task_id,</if>
			start_time,
			create_time,
			fetch_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="websiteInfoId != null ">#{websiteInfoId},</if>
			<if test="servicePeriodId != null ">#{servicePeriodId},</if>
			<if test="status != null ">#{status},</if>
			<if test="startTimes != null ">#{startTimes},</if>
			<if test="fetchTimes != null ">#{fetchTimes},</if>
			now(),
			<if test="returnTaskId != null ">#{returnTaskId},</if>
			now(),
			now(),
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.TaskAll">
		select * from task_all where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.TaskAll">
		update task_all 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="websiteInfoId != null ">website_info_id = #{websiteInfoId},</if>
				<if test="servicePeriodId != null ">service_period_id = #{servicePeriodId},</if>
				<if test="status != null ">status = #{status},</if>
				<if test="startTimes != null ">start_times = #{startTimes},</if>
				<if test="fetchTimes != null ">fetch_times = #{fetchTimes},</if>
				<if test="startDate != null ">start_date = #{startDate},</if>
				<if test="returnTaskId != null ">return_task_id = #{returnTaskId},</if>
				<if test="startTime != null ">start_time = #{startTime},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="fetchTime != null ">fetch_time = #{fetchTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from task_all where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from task_all
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from task_all
		<include refid="where" />
	</select>
	

</mapper>
