<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.UpdateChannelDetailDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.UpdateChannelDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode !=null">
				and site_code=#{siteCode}
			</if>
			<if test="scanDate !=null">
				and scan_date=#{scanDate}
			</if>
			<if test="title !=null">
				and title like '%${title}%'
			</if>
			 <if test="dicChannelId!=0 and dicChannelId!=null">
			  and dic_channel_id = #{dicChannelId}
			</if>  
			<if test="beginScanDate !=null and endScanDate !=null">
				 and
				scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="types !=null">
				and dic_channel_id in 
				<foreach collection="types" item="type" open="(" separator="," close=")">
				     #{type}
				</foreach>
			</if>
			<if test="urlArray !=null">
				and url in 
				<foreach collection="urlArray" item="urls" open="(" separator="," close=")">
				     #{urls}
				</foreach>
			</if>
			<if test="term!=null">
			   and channel_name like '%${term}%'
			</if>
			<if test="url !=null">
				and url=#{url}
			</if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.UpdateChannelDetail" useGeneratedKeys="true" keyProperty="id">
		insert into update_channel_detail ( 
			<if test="id != null ">id,</if>
			<if test="updateChannelInfo != null ">update_channel_info,</if>
			<if test="updateContentCount != null ">update_content_count,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="channelName != null ">channel_name,</if>
			<if test="title != null ">title,</if>
			<if test="url != null ">url,</if>
			<if test="dicChannelId != null ">dic_channel_id,</if>
			<if test="lastTime != null ">last_time,</if>
			<if test="imgUrl != null ">img_url,</if>
			<if test="linkUrl != null ">link_url,</if>
			<if test="scanDate != null ">scan_date,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="updateChannelInfo != null ">#{updateChannelInfo},</if>
			<if test="updateContentCount != null ">#{updateContentCount},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="channelName != null ">#{channelName},</if>
			<if test="title != null ">#{title},</if>
			<if test="url != null ">#{url},</if>
			<if test="dicChannelId != null ">#{dicChannelId},</if>
			<if test="lastTime != null ">#{lastTime},</if>
			<if test="imgUrl != null ">#{imgUrl},</if>
			<if test="linkUrl != null ">#{linkUrl},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.UpdateChannelDetail">
		select * from update_channel_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.UpdateChannelDetail">
		update update_channel_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="updateChannelInfo != null ">update_channel_info = #{updateChannelInfo},</if>
				<if test="updateContentCount != null ">update_content_count = #{updateContentCount},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="channelName != null ">channel_name = #{channelName},</if>
				<if test="title != null ">title = #{title},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="dicChannelId != null ">dic_channel_id = #{dicChannelId},</if>
				<if test="lastTime != null ">last_time = #{lastTime},</if>
				<if test="imgUrl != null ">img_url = #{imgUrl},</if>
				<if test="linkUrl != null ">link_url = #{linkUrl},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="modifyTime != null ">modify_time = #{modifyTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from update_channel_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from update_channel_detail
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from update_channel_detail
		<include refid="where" />
	</select>
	

</mapper>
