<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.UpdateChannelInfoDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.UpdateChannelInfo" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code like '${siteCode}%'
				
			</if>
			<if test="scanDate !=null">
				and scan_date=#{scanDate}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="group !=null ">
				and create_time BETWEEN DATE_SUB(NOW(),INTERVAL 12 MONTH) AND NOW()
			</if>
			 <if test="dicChannelId !=null">
                 and dic_channel_id=#{dicChannelId}
             </if>
             <if test="ids != null">
                 and site_code in
                <foreach collection="ids" item="term" open="(" separator="," close=")">
                           #{term.siteCode}
                </foreach>
            </if>
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.UpdateChannelInfo" useGeneratedKeys="true" keyProperty="id">
		insert into update_channel_info ( 
			<if test="id != null ">id,</if>
			<if test="dicChannelId != null ">dic_channel_id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="updateNum != null ">update_num,</if>
			<if test="scanDate != null ">scan_date,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="dicChannelId != null ">#{dicChannelId},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="updateNum != null ">#{updateNum},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.UpdateChannelInfo">
		select * from update_channel_info where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.UpdateChannelInfo">
		update update_channel_info 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="dicChannelId != null ">dic_channel_id = #{dicChannelId},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="updateNum != null ">update_num = #{updateNum},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from update_channel_info where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from update_channel_info
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from update_channel_info
		<include refid="where" />
	</select>

	<select id="queryPonitNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		select count(*) as blankNum, DATE_FORMAT(modify_time, '%Y-%m') as channelMonse
		from channel_point 
		<where>
			1=1
			<if test="siteCode != null ">
				and site_code like '${siteCode}%'
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
                and modify_time BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
		</where>
		group by DATE_FORMAT(modify_time, '%Y-%m')
		order by modify_time desc
	</select>
	<select id="queryChannelNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.SecurityBlankInfoRequest">
		select count(*) as blankNum, DATE_FORMAT(scan_date, '%Y-%m') as channelMonse
		from update_channel_info 
		<include refid="where" />   
		group by DATE_FORMAT(scan_date, '%Y-%m')
		order by scan_date desc
	</select>
	
	<select id="queryByGroup" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.UpdateChannelInfoRequest">
		SELECT SUM(#{pointChSum}-update_num) AS updateNum, SUBSTRING(create_time,1,7) AS returnTime FROM update_channel_info 
		<include refid="where" />
		GROUP BY SUBSTRING(create_time,1,7)
	</select>
	<select id="getChannelNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.UpdateChannelInfoRequest">
		select  a.site_code as siteCode,sum(a.update_num) as updateNum,b.site_name as siteName,b.home_page_url as homePageUrl,b.jump_page_url as jumpPageUrl from update_channel_info a,database_info b 
		where a.site_code =b.site_code 
		<if test="scanDate!=null">
		and a.scan_date=#{scanDate}
		</if>
		<if test="ids != null">
			 	and a.site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
        group by a.site_code
	</select>
	<select id="getUnUpdateChannelNum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.UpdateChannelInfoRequest">
		select  a.site_code as siteCode,sum(a.update_num) as updateNum,b.site_name as siteName,b.home_page_url as homePageUrl,b.jump_page_url as jumpPageUrl from update_channel_info a,database_info b 
		where a.site_code =b.site_code 
		<if test="scanDate!=null">
		and a.scan_date=#{scanDate}
		</if>
		<if test="ids != null">
			 	and a.site_code in
            	<foreach collection="ids" item="term" open="(" separator="," close=")">
       					#{term.siteCode}
				</foreach>
			</if>
        group by a.site_code
	</select>
	<select id="querySumUpdateNum" parameterType="HashMap" resultMap="resultMap">
		select dic_channel_id,sum(update_num) as update_num,scan_date
		from update_channel_info
		<include refid="where" />
		group by dic_channel_id
	</select>
	
	<select id="queryListSum" parameterType="HashMap" resultType="com.ucap.cloud_web.dto.UpdateChannelInfoRequest">
		SELECT 
		  site_code siteCode,
	 	  dic_channel_id dicChannelId,
		  SUM(update_num) AS updateNum
		FROM
		  update_channel_info 
		WHERE 1 = 1 
		<if test="beginScanDate !=null and endScanDate !=null">
            and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
		</if>
		<if test="siteCode !=null">
			AND site_code like '${siteCode}%'
		</if>
		 <if test="ids != null">
				and site_code in
	            <foreach collection="ids" item="term" open="(" separator="," close=")">
	       			#{term.siteCode}
				</foreach>
			</if>
		<if test="dicChannelId !=null">
           and dic_channel_id=#{dicChannelId}
        </if>
      	<if test="typeList != null">
				and dic_channel_id in
	            <foreach collection="typeList" item="term" open="(" separator="," close=")">
	       			#{term}
				</foreach>
			</if>
		  GROUP BY site_code, dicChannelId
	
	</select>
</mapper>
