<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.UpdateHomeDetailDao">
<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>
	<resultMap type="com.ucap.cloud_web.entity.UpdateHomeDetail" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			
			<if test="siteCode != null">
				and site_code=#{siteCode}
			</if>
			<if test="title != null">
				and
				title like '%${title}%'
			</if>
			<if test="date != null">
				and
				scan_date=#{date}
			</if>
			<if test="beginScanDate !=null and endScanDate !=null">
				 and
				scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
			</if>
			<if test="databaseList !=null">
				and site_code in
				<foreach collection="databaseList" item="item" open="(" separator="," close=")">
					#{item.siteCode}
				</foreach>
			</if>
			and del_flag=0
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.UpdateHomeDetail" useGeneratedKeys="true" keyProperty="id">
		insert into update_home_detail ( 
			<if test="id != null ">id,</if>
			<if test="updateContentCount != null ">update_content_count,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="homeUrl != null ">home_url,</if>
			<if test="updateTime != null ">update_time,</if>
			<if test="title != null ">title,</if>
			<if test="url != null ">url,</if>
			<if test="scanDate != null ">scan_date,</if>
			<if test="delFlag != null ">del_flag,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="updateContentCount != null ">#{updateContentCount},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="homeUrl != null ">#{homeUrl},</if>
			<if test="updateTime != null ">#{updateTime},</if>
			<if test="title != null ">#{title},</if>
			<if test="url != null ">#{url},</if>
			<if test="scanDate != null ">#{scanDate},</if>
			<if test="delFlag != null ">#{delFlag},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.UpdateHomeDetail">
		select * from update_home_detail where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.UpdateHomeDetail">
		update update_home_detail 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="updateContentCount != null ">update_content_count = #{updateContentCount},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="homeUrl != null ">home_url = #{homeUrl},</if>
				<if test="updateTime != null ">update_time = #{updateTime},</if>
				<if test="title != null ">title = #{title},</if>
				<if test="url != null ">url = #{url},</if>
				<if test="scanDate != null ">scan_date = #{scanDate},</if>
				<if test="createTime != null ">create_time = #{createTime},</if>
				<if test="delFlag != null ">del_flag = #{delFlag}</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from update_home_detail where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from update_home_detail
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from update_home_detail
		<include refid="where" />
	</select>
	<select id="queryBetweenDateCount" parameterType="HashMap" resultType="Integer">
	
		select count(*) from update_home_detail where site_code=#{siteCode} 
		and scan_date BETWEEN #{beginScanDate} AND #{endScanDate}
		 and del_flag=0  group by site_code
	</select>
	<select id="getNearest" parameterType="HashMap" resultType="com.ucap.cloud_web.entity.UpdateHomeDetail">	  
		select * from update_home_detail  
		where <![CDATA[ scan_date <= #{beginScanDate} ]]> 
		 and del_flag=0
		and site_code=#{siteCode} 
		<if test="homeUrl != null">
		and home_url=#{homeUrl} 
			</if>
		order by update_time desc limit 1;
	</select>
</mapper>
