<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucap.cloud_web.dao.UserLogDao">

	<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>

	<resultMap type="com.ucap.cloud_web.entity.UserLog" id="resultMap"/>

	<sql id="where">
		<where>
			1=1
			
		</where>
	</sql>

	<!-- 添加 -->
	<insert id="add" parameterType="com.ucap.cloud_web.entity.UserLog" useGeneratedKeys="true" keyProperty="id">
		insert into user_log ( 
			<if test="id != null ">id,</if>
			<if test="siteCode != null ">site_code,</if>
			<if test="name != null ">name,</if>
			<if test="province != null ">province,</if>
			<if test="city != null ">city,</if>
			<if test="county != null ">county,</if>
			<if test="isorganizational != null ">isorganizational,</if>
			<if test="isCost != null ">is_cost,</if>
			<if test="ip != null ">ip,</if>
			create_time
		) values (
			<if test="id != null ">#{id},</if>
			<if test="siteCode != null ">#{siteCode},</if>
			<if test="name != null ">#{name},</if>
			<if test="province != null ">#{province},</if>
			<if test="city != null ">#{city},</if>
			<if test="county != null ">#{county},</if>
			<if test="isorganizational != null ">#{isorganizational},</if>
			<if test="isCost != null ">#{isCost},</if>
			<if test="ip != null ">#{ip},</if>
			now()
		)
	</insert>

	<!-- 查询 -->
	<select id="get" parameterType="int" resultType="com.ucap.cloud_web.entity.UserLog">
		select * from user_log where id=#{id}
	</select>

	<!-- 修改 -->
	<update id="update" parameterType="com.ucap.cloud_web.entity.UserLog">
		update user_log 
			<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">id = #{id},</if>
				<if test="siteCode != null ">site_code = #{siteCode},</if>
				<if test="name != null ">name = #{name},</if>
				<if test="province != null ">province = #{province},</if>
				<if test="city != null ">city = #{city},</if>
				<if test="county != null ">county = #{county},</if>
				<if test="isorganizational != null ">isorganizational = #{isorganizational},</if>
				<if test="ip != null ">ip = #{ip},</if>
			</trim>
			where id=#{id} 
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from user_log where id = #{id}
	</delete>

	<!-- 分页查询 -->
	<select id="query" parameterType="HashMap" resultMap="resultMap">
		select * from user_log
		<include refid="where"/>
		<if test="queryOrderList != null">
			order by
			<foreach collection="queryOrderList" item="queryOrder" separator=",">
				${queryOrder}
			</foreach>
		</if>
		<if test="start != null and pageSize != null">
			limit #{start}, #{pageSize}
		</if>
	</select>
	<select id="queryCount" parameterType="HashMap" resultType="int">
		select count(*) from user_log
		<include refid="where" />
	</select>
	

</mapper>
