<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>功能更新说明</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->

<link rel="shortcut icon" href="<%= path %>/images/common/favicon.ico">
<link rel="Bookmark" href="<%= path %>/images/common/favicon.ico">
<link href="css/gngxsm.css" rel="stylesheet" type="text/css">  

</head>

<body>
<div class="t_support_line"></div>
<div class="t_support_header">
<div class="t_support_hcon">
<h1>全国政府网站信息报送系统</h1><span>服务热线：17746549425　17746579428　客服邮箱：pucha@ucap.com.cn</span> 
    </div>
    </div>
<div class="t_support_tit">
<div class="t_support_titcon">
<h3>功能更新说明</h3></div>
<div class="t_support_bg"></div>
</div>

<!--内容-->
<div class="main">
  <div class="coloum1"><img src="images/icon_1.jpg" width="44" height="44" /></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>09</span>月<span>28</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、收集组织单位负责人和联系人信息</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>08</span>月<span>05</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、组织单位登录系统自动显示重要通知</p>
            <p>2、更新了报送系统首页系统公告和培训通知信息</p>
            <p>3、新增调查问卷，供组织单位填写</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>07</span>月<span>27</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、检查未提交网站，省部级组织单位可撤回自评表</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>07</span>月<span>20</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、暂时关停网站恢复上线后开放自查、检查功能</p>
            <p>2、基本信息表和网站检查情况表中对例外关停网站的过滤搜索</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>07</span>月<span>10</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>省部级组织单位可撤回自查评分表，撤回检查评分表</p>
            <div class="coloum2_right_1">优化：</div>
            <p>例外关停状态分为暂时关停和永久关停，暂时关停显示恢复上线时间</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>06</span>月<span>12</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、开放待检查网站列表按钮，组织单位可以对已提交自评的网站进行检查打分</p>
            <p>2、开放03_全国政府网站普查评分（检查）.idf，组织单位可以查看已检查网站评分详情</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>06</span>月<span>10</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">新增：</div>
            <p>1、填报单位可登录系统，点击自查填报按钮，在线自评填报（在线、填报客户端二选一）</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>06</span>月<span>08</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">优化：</div>
            <p>1、例外审核列表，增加网站名称、首页地址、是否已审核信息</p>
            <p>2、关停整改审核列表，增加网站名称、首页地址、是否已审核信息</p>
            <p>3、例外审核列表选中某个网站信息，增加显示查看审核流水按钮</p>
            <p>4、关停整改审核列表选中某个网站信息，增加显示查看审核流水按钮</p>
        </div>
    </div>
    <div class="clear"></div>

    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>05</span>月<span>29</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" /></div>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">调整：</div>
            <p>1、首页增加填报单位使用网站标识码和校验码登录报送系统的入口</p>
            <p>2、将基本信息修改功能合并到填报单位用户功能中（<a class="coloum_a1" style="margin-left: 0px;" href="https://boxpro.cn/boxpro/p/Ve4NZR8o3C" target="_blank">使用说明</a>）</p>
            <p>3、填报单位用户功能增加例外网站和关停并转申报的功能（流程详见<a class="coloum_a1" href="https://boxpro.cn/boxpro/p/VVi9Mt30VX" target="_blank">使用说明</a>）</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>05</span>月<span>15</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />客户端软件</div>
            <div class="coloum2_right_1">调整：</div>
            <p>1、开放自评表校验和提交功能</p>
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">调整：</div>
            <p>1、开放02_全国政府网站普查评分表（自查）表查看功能</p>
            <p>2、开放网站检查情况表功能</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>05</span>月<span>08</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">调整：</div>
            <p>1、上线基本信息修改功能</p>
            <p>2 、关闭导入网站基本信息功能</p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="coloum2">
        <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>05</span>月<span>04</span>日</div>
        <div class="coloum2_right">
            <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
            <div class="coloum2_right_1">调整：</div>
            <p>1、网站标识码找回的时候，验证通过后，发邮件的同时直接弹出对话框，显示用户的网站标识码和校验码</p>
        </div>
    </div>
    <div class="clear"></div>
  <div class="coloum2">
   <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>04</span>月<span>19</span>日</div>
   <div class="coloum2_right">
     <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />信息报送系统</div>
      <div class="coloum2_right_1">优化：</div>
      <p>1、增加服务器资源及参数优化</p>
	  <p>2、提升数据管理列表加载效率</p>
	  <p>3、固定数据列表顶部</p>
	  <p>4、提升表单详细页面显示速度</p>
	  <p>5、增加批量退回功能</p>
	  <p>6、减少列表刷新次数</p>
      <div class="coloum2_right_1">调整：</div>
      <p>1、暂时关闭普通用户创建协作组权限</p>
      <p>2、数据列表查询功能调整为本用户下全部数据搜索</p>
	  <p>3、搜索范围：省市县、填报单位、网站名称、创建人姓名、备案号、网站标识码</p>
      <p>4、导出上报表功能调整为导出当页数据</p>
	  <p>5、基本表办结后，不再立即生成网站标识码，调整为空闲时段异步生成，并发送通知邮件</p>
   </div>
  </div>
  <div class="clear"></div>
  <div class="coloum2">
   <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>04</span>月<span>19</span>日</div>
   <div class="coloum2_right">
     <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />技术支持服务</div>
      <div class="coloum2_right_1">新增：</div>
      <p>1、增加技术支持电话：17746579428</p>
	  <p>2、开通技术支持qq群：239232680</p>   
   </div>
  </div>
  <div class="clear"></div>
  <div class="coloum2">
   <div class="coloum2_left">2015&nbsp;&nbsp;&nbsp;<span>04</span>月<span>19</span>日</div>
   <div class="coloum2_right">
     <div class="coloum2_right_tit"><img src="images/icon_2.jpg" width="14" height="20" />客户端软件</div>
      <div class="coloum2_right_1">优化：</div>
      <p>1、网站基本信息每项不超过200个字</p>
	  <p>2、网站负责人、联系人信息，每项不超过50个字</p>      
   </div>
  </div>

</div>
  <div class="clear"></div>
<!--底部-->
<div class="t_support_footer">
	<div class="t_support_footer_con" style="padding-top: 15px;">
                <div class="a_footer_conleft">
                    <div>感谢大家使用开普云服务，如在使用中有新的问题或好的建议，请与我们联系。<br>我们将竭诚为大家提供最优质的服务，确保本次全国政府网站普查工作顺利完成。</div>
                </div>
                <div class="a_footer_conright" style="margin-top: 10px;">技术支持：<a style="color: rgb(62, 119, 157);" href="http://www.ucap.com.cn/" target="_blank">开普互联</a>　　<a style="color: rgb(62, 119, 157);" href="http://www.cstc.org.cn" target="_blank">中国软件评测中心</a></div>
    </div>
</div>


</body>
</html>
