@charset "UTF-8";
.every-block {
  margin-bottom: 10px; }

.check-report-modal .every-block span {
  display: inline-block;
  width: 126px;
  text-align: right;
  color: #363636;
  font: normal 14px/33px 'Microsoft Yahei';
  margin-right: 20px; }

.every-block > div {
  height: 33px;
  font: normal 14px/33px 'Microsoft Yahei'; }

.check-report-modal .every-block .left, .every-block .right {
  font: normal 14px/33px 'Microsoft Yahei'; }

.check-report-modal .every-block .left {
  margin-right: 90px; }

.modal-inp-b {
  width: 333px;
  height: 31px;
  border: 1px solid #dddddd; }

.modal-inp-b input {
  width: 320px;
  height: 33px;
  padding: 0 0 0 12px;
  margin: 0;
  color: #7e7e7e;
  background: #fff;
  font-family: 'Microsoft Yahei';
  outline: none;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.modal-inp-b-long {
  width: 405px;
  height: 31px;
  border: 1px solid #dddddd; }

.modal-inp-b-long input {
  width: 393px;
  height: 33px;
  padding: 0 0 0 12px;
  margin: 0;
  color: #7e7e7e;
  font-family: 'Microsoft Yahei';
  outline: none;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.modal-inp-b input:focus, .modal-inp-b-long input:focus {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 64px;
  height: 31px;
  margin-left: 6px;
  font-size: 0;
  border: 1px solid #cbcbcb;
  background: #f8f8f8;
  opacity: 0;
  cursor: pointer; }

.upload {
  position: relative;
  width: 64px;
  height: 31px;
  margin-left: 6px;
  color: #555555;
  text-align: center;
  line-height: 31px;
  border: 1px solid #cbcbcb;
  background: #f8f8f8;
  cursor: pointer; }

.upload i {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 64px;
  height: 31px;
  color: #555;
  line-height: 31px;
  cursor: pointer; }

.colo-7e {
  color: #7e7e7e; }

.check-report-mc {
  padding-bottom: 50px; }

/*单选框*/
.check-report-mc .iradio_square-blue.checked {
  top: -1px;
  background-position: -49px -24px; }

.check-report-mc .iradio_square-blue {
  top: -1px;
  background-position: -71px -24px; }

/*日历框*/
.task-p .to {
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #000;
  font: normal 12px/33px 'Microsoft Yahei'; }

.time-p {
  width: 108px;
  height: 31px;
  float: left;
  border: 1px solid #dddddd; }

.time-p img {
  position: relative;
  right: -4px;
  vertical-align: baseline;
  cursor: pointer; }

.time-p input {
  width: 80px;
  height: 31px;
  padding: 0 0 0 5px;
  color: #585858;
  background: #fff;
  font-family: 'Microsoft Yahei';
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.time-p input:focus {
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/*任务状态*/
.check-report-modal .every-block.task-s .left {
  margin-right: 60px; }

.check-report-modal {
  width: 700px;
  height: 326px;
  left: 50%;
  top: 40%;
  margin-left: -350px;
  margin-top: -118px; }

.public-head {
  width: 100%;
  height: 48px;
  background: #2dcc70; }

.public-head h4 {
  height: 100%;
  padding-left: 23px;
  color: #fff;
  font: normal 20px/48px 'Microsoft Yahei'; }

.public-head i {
  position: absolute;
  right: 10px;
  top: 0;
  width: 22px;
  height: 22px;
  margin-top: 14px;
  margin-right: 4px;
  background: url(../images/zg-icon.png) no-repeat -16px -14px;
  opacity: 1; }

.public-content {
  padding: 40px 60px 0 60px; }

.public-content label {
  display: inline-block;
  margin-left: 5px; }

.public-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background: #f8f8f8;
  border-top: 1px solid #dadce1; }

.public-bottom .btns {
  width: 102px;
  height: 32px;
  margin-top: 11px;
  float: right;
  box-sizing: border-box;
  text-align: center;
  font: normal 14px/32px 'Microsoft Yahei';
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100); }

.public-bottom .ensure {
  color: #fff;
  background: #2dcc70;
  margin-right: 20px; }

.public-bottom .cancle {
  color: #585858;
  background: #fff;
  border: 1px solid #cbcbcb;
  margin-right: 40px; }

/*# sourceMappingURL=check-report-modal_group.css.map */
