@charset "utf-8";
.bg_fff .main-container{ background: #fff;}
.bg_fff .page-content{ background: #fff;}
.two_part{ height: 41px; line-height: 41px; margin-left: 40px; position: relative; font-size: 16px;}
.two_part>div{ height: 41px; line-height: 41px; width: 173px; border: 1px solid #e2e2e2; border-bottom: none; text-align: center; cursor: pointer;}
.two_part>div.on{ background: #fff;  color:#1abc9c;}
.Station-single{ margin-left: -1px;}
.info-setting_top .line{ border-bottom:1px solid #e2e2e2;}
.two_part>div.on i.left{ display: inline-block; width: 175px; height: 4px; background: #1abc9c; position: absolute; top: 0; left: 0; }
.two_part>div.on i.right{ display: inline-block; width: 175px; height: 4px; background: #1abc9c; position: absolute; top: 0;right:0px; }

.change_tab_content{ display: none;}
.change_tab_content.on{ display: block;}
.info-setting_content{
    padding:0 0 0 40px;
}
.info-setting_top p{
	position:absolute;
	top:50px;
	left:89%;
	width:109px;
	height:40px;
	position:relative;
	overflow:hidden;
	padding-left:18px;
	line-height:40px;
}
.info-setting_top p:hover{
	color:#59CFDE;
	cursor: pointer;
}
.info-setting_top p i{
	width:16px;
	height:16px;
	display:inline-block;
	margin-top:10px;
	position:absolute;
	top:3px;
	left:0;
	background:url("../images/shu_ico.jpg") no-repeat center;
}
.two_part .exclusive{
	float:right;
}
.module-part{
    margin-top: 40px;
}
.module-part .left-tit{
    position: relative;
    z-index: 100;
    width: 98px;
    background: #fff;
}
.module-part i{
    display:inline-block;
    width: 6px;
    height: 16px;
    margin-right: 10px;
    float: left;
    background: #1abc9c;
}
.module-part span{
    display: inline-block;
    float: left;
    color: #000;

    font: normal 16px/16px 'Microsoft Yahei';
}
.module-part em{
    position: relative;
    top:-8px;
    display: inline-block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e9e9e9;
}
.base-info-content .every-line,.module-config-content .every-line{
    margin-top:27px;
}
.base-info-content .every-line.last-line{
    margin-top:0;
}
.every-line .tit-left{
    display: inline-block;
    width: 176px;
    text-align: right;
    color: #363636;
    font: normal 14px/32px 'Microsoft Yahei';
}
.every-line .copyRight-tit{
    display: inline-block;
    width: 176px;
    text-align: right;
    color: #363636;
    font: normal 14px/40px 'Microsoft Yahei';
}
.every-line .content-right{
    margin-left: 27px;
    font: normal 14px/32px 'Microsoft Yahei';
}
.every-line .content-right span{
    color: #646464;
    font: normal 14px/32px 'Microsoft Yahei';
}
.content-right .copy-url{
    display: inline-block;
    width: 113px;
    height: 23px;
    margin:3px 0 0 20px;
    border: 1px solid #b8c7cf;
    background: #ffffff;
    color: #6e7188;
    text-align: center;
    font: normal 14px/23px 'Microsoft Yahei';
    cursor: pointer;
}

.content-right .add-logo{
    display: inline-block;
    width: 133px;
    height: 33px;
    margin:0 20px 0 0;
    background: #1abc9c;
    color: #fff;
    text-align: center;
    font: normal 14px/33px 'Microsoft Yahei';
    cursor: pointer;
}
.content-right .add-logo+span{
    color: #959595;
 }
.content-right p{
    height: 32px;
}

.content-right input{
    width:658px;
    height: 38px;
    margin: 0;
    color: #000;
    padding: 0 0 0 10px;
    border: 1px solid #b8c7cf;
    border-radius: 0;
    font: normal 14px/33px 'Microsoft Yahei';
}
.content-right .icheckbox_square-blue {
    top: -1px;
    background-position: -24px -24px;
}

.content-right .icheckbox_square-blue.checked {
    background-position: 0px -24px;
}

.checkboxs-box > div {
    margin-right: 50px;
    margin-bottom: 10px;
}

.checkboxs-box label {
    color: #7e7e7e;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 12px;
}

.btn-part{
    margin:80px 0 0 72px;
}
.btn-part .com-btns{
    width: 113px;
    height: 33px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.btn-part .preview-btn{
    margin-right: 20px;
    border: 1px solid #b8c7cf;
    background: #f6f6f6;
    color: #6e7188;
    font: normal 14px/33px 'Microsoft Yahei';
}
.btn-part .save-btn{
    border: 1px solid #1abc9c;
    background: #1abc9c;
    color: #fff;
    font: normal 14px/33px 'Microsoft Yahei';
}
.AddLogo_area{
    display: block;
    width: 450px;
    height: 70px;
    margin-top:20px;
    border:1px solid #b8c7cf;
    background:url("../images/logo_bg-2.jpg") repeat-x;
}
.colo-7e{ color: #7e7e7e;}
.colo-64{ color: #646464;}
.colo-95{ color: #959595;}

/*页面配置*/
.group .template{
    padding: 68px 0 250px 30px;
}
.group .template p.dear{
    font: normal 16px/16px 'Microsoft Yahei';
    color: #34495e;
    margin-bottom: 50px;
}
.group .template p.login-page_m{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #000;
    margin:-68px 0 23px 0;
}
.template .item{
    margin-right: 29px;
}
.template .mub-box{
    __margin-left: 33px;
}
.template .mub-box .evlapp{
	float:right;
	width:200px;
	height:100px;
	border:1px solid #59CFDE;
	margin-top:10px;
	border-radius: 4px;
	background:#E4F8FB;
}
.template .mub-box .evlapp ol{
	width:100%;
	height:90%;
	margin:5%;
}
.template .mub-box .evlapp ol li{
	height:25px;
	line-height:25px;
}
.template .mub-box .evlapp ol li a{
	font:nomal 12px/32px "Microsoft Yahei";
	color:#041017;
	padding-left:12px;
}
.template .mub-box .evlapp p:hover{
	color:#59CFDE;
	cursor: pointer;
}
.template .mub-box .evlapp p i{
	width:15px;
	height:15px;
	display:inline-block;
	margin-top:10px;
	position:absolute;
	top:3px;
	left:0;
	background:url("../images/search_ico.png") no-repeat center;
}
.template .mub-box>div{
    cursor: pointer;
}
.template .mub-box>div p{
    text-align: center;
    padding-top: 11px;
    color: #5d5d5d;
    font: normal 16px/16px 'Microsoft Yahei';
}
.contact{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #737373;
    margin: 53px 0 0 70px;
}
.mub-box .img-box{
    width: 197px;
    height: 168px;
    position: relative;
}
.mub-box .img-box .opa-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    opacity: 0.8;
    display: none;
}
.mub-box .img-box .fangd_icon{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    __background: pink;
    background: url("../images/Black_Search.png") no-repeat center center;
    display: none;
    opacity: .4;
}
.mub-box .img-box .new_icon{
	position:absolute;
	top: -5px;
    right: -14px;
    width: 30px;
    height: 14px;
    line-height:14px;
    border: 1px solid #1abc9c;
    border-radius:4px;
    background:#1abc9c;
    color:#fff;
}
.template .mub-box>div p.using-ziy{
    color: #c3c3c3;
    font: normal 12px/12px 'Microsoft Yahei';
}
.template .mub-box>div p.wei-ziy{
    color: #f53a3a;
    font: normal 12px/12px 'Microsoft Yahei';
}

/*
.info-setting_content .every_part .every_title{  width: 190px;  margin-left: 30px; font-size: 14px; color: #363636; margin-top: 4px;}
.receive_y_or_n{ margin-top: 52px;}
.receive_y_or_n-right .instructions{ font-size: 14px; color: #acacac; height: 32px; line-height: 32px;}
.info-setting_content .iradio_square-blue{ margin-right:7px;}
.info-setting_content .icheckbox_square-blue{ margin-right: 8px;}
.receive_y_or_n-left{ margin-top: 4px;}
.receive_y_or_n-right p{ margin-bottom: 8px; color: #404040; font-size: 14px;}

.receive_Members{ margin-top: 33px;}
.receive_Members_right p,.setting_infor_way_right p,.Index_items_right  p{  margin-bottom: 13px; color: #404040; font-size: 14px; }
.receive_Members_right label{ margin-bottom: 0; display: inline-block;}
.info-setting_content .setting_infor_way_right  .icheckbox_square-blue{ margin-right: 12px;}

.setting_infor_way{ margin-top: 20px;}
.setting_infor_way_right .instructions{ height: 42px; line-height: 42px; margin-bottom: 0; font-size: 14px; color: #acacac;}

.erweima_part{ margin-top:6px; margin-bottom: 46px;}
.erweima_part_right{ width: 87px; height: 87px; border: 1px solid #e8e8e8;}
.erweima_part_left{ height: 1px;}

.insure_part{ margin-bottom: 300px;}
.single .insure_part_right{ margin-top: 40px;}
.insure_part_right{ width: 190px; height: 40px;  color: #fff; background: #1abc9c; line-height: 40px; text-align: center; font-size: 18px; letter-spacing: 3px; cursor: pointer;}
.insure_part_left{ height: 1px;}

.Index_items{ margin-top: 55px;}
.Index_items_right  label{ margin-bottom: 0; display: inline-block;}
.Index_items_right span{ color: #a3a3a3; display: inline-block; margin-left: 12px;}

.receive_y_or_n-two{ margin-top: 19px;}
.receive_y_or_n-two .receive_y_or_n-right .instructions{ height: 30px; line-height: 30px; font-size: 14px; color: #acacac; margin-bottom: 0;}


.info-setting_content .icheckbox_square-blue{background-position: -24px -24px; }
.info-setting_content .icheckbox_square-blue.checked{background-position: 0 -24px;}

.info-setting_content .iradio_square-blue{ background-position: -72px -24px;}
.info-setting_content .iradio_square-blue.checked{ background-position: -50px -24px;}


*/
/*专属页面配置页面：css*//*

.control_info-config .info-setting_content .every_part .every_title {
    width: 130px;
    margin-top:0;
    margin-right:30px;
    text-align: right;
}
.common-btn{
    border: 1px solid #b8c7cf;
    background: #fff;
    text-align: center;
    color: #6e7188;
    cursor: pointer;
}
.copy_btn{
    */
/*position: relative;
    top:-6px;*//*

    width: 83px;
    height: 23px;
    margin-left: 21px;
    margin-top: -6px;
    font: normal 13px/23px 'Microsoft Yahei';

}
.AddLogo_btn{
    */
/*position: relative;
    top:-6px;*//*

    width: 113px;
    height: 33px;
    margin-right: 20px;
    margin-top: -6px;
    font: normal 13px/33px 'Microsoft Yahei';
}
.control_info-config .setting_infor_way{
    margin-top:40px;
}
.setting_infor_way_right .logo-size{
   */
/* position: relative;
    top: -6px;*//*

    height: 33px;
    font: normal 12px/33px 'Microsoft Yahei';
    color: #959595;
    margin-bottom: 0;
    margin-top: -6px;
}
.AddLogo_area{
    display: block;
    __width: 307px;
    height: 60px;
    margin-left: 190px;
    margin-top:15px;
    border:1px solid #b8c7cf;
    background:url("../images/logo_bg.jpg") repeat-x;
    max-width:500px;
}
 .version_info{
    width: 595px;
    height: 98px;
    margin-top: -9px;
    border: 1px solid #b8c7cf;
}
.version_info .area{
    width: calc(100% - 20px);
    padding: 5px 10px;
    height: 88px;
    border: none;
    font: normal 14px/20px 'Microsoft Yahei';
    resize: none;
    box-shadow: none;
    -moz-box-shadow: none;
}
.control_info-config .erweima_part{
    margin-top: 35px;
}
.control_info-config .insure_part_right{
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 17px;
    margin-top: 45px;
}
.control_info-config .insure_part_right.reset_btn{
    background: #e0e7eb;
    border: 1px solid #b8c7cf;
    color:#6e7188;
}
.receive_Members_right .cic-url{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #646464;
}
.receive_y_or_n .cic-sitecode{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #646464;
}

*/
/*专属页面配置页面-v2：css*//*

.group .template{
    padding: 68px 0 250px 50px;
}
.group .template p.dear{
    font: normal 16px/16px 'Microsoft Yahei';
    color: #34495e;
    margin-bottom: 50px;
}
.group .template p.login-page_m{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #000;
    margin:0 0 33px 33px;
}
.template .item{
    margin-right: 29px;
}
.template .mub-box{
    margin-left: 33px;
}
.template .mub-box>div{
    cursor: pointer;
}
.template .mub-box>div p{
    text-align: center;
    padding-top: 11px;
    color: #5d5d5d;
}
.template .contact{
    font: normal 14px/14px 'Microsoft Yahei';
    color: #7f7f7f;
    margin: 53px 0 0 33px;
}
.mub-box .img-box{
    width: 197px;
    height: 168px;
    position: relative;
}
.mub-box .img-box .opa-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    opacity: 0.8;
    display: none;
}
.mub-box .img-box .fangd_icon{
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    __background: pink;
    background: url("../images/Black_Search.png") no-repeat center center;
    display: none;
    opacity: .4;
}
*/
