/*日常监测所有分类*/
/*日常监测-首页链接可用性s*/
.daily-monitor-box-m{
    width:100%;
    background: #fdfdfd;
    border: 1px solid #e3def0;
}
/*面包屑*/
.bread-crumbs{ height:45px;  }
.bread-crumbs-content{
    padding:0 0 0 22px;
    color: #7c7c7c;
}
.bread-crumbs-content span,.bread-crumbs-content i{ font: normal  16px/45px 'Microsoft Yahei';}
.bread-crumbs-content i{margin:0 2px 0 2px;}

.conditions{
    __height: 60px;
    margin-top:12px;
}
.conditions-content{
    padding:14px 24px 13px 15px;
    line-height: 30px;
    font-family: "微软雅黑", "宋体";
}
/*.select-box{
    margin:0 10px 0 0;
}*/
.select-box select{
    position: relative;
    top: -1px;
    width: 77px;
    height: 30px;
    outline: none;
    margin: 0 0 0 0;
    padding: 0 0 0 6px;
    border: 1px solid #ddd;
    font: normal 12px/30px 'Microsoft Yahei';

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../images/select-icon1005.png") no-repeat 60px center;
}
.select-box select option{ height:28px;}
.select-box select:focus{
    outline: none;
    /* border-radius: 0;
     -moz-border-radius: 0;
     -webkit-border-radius: 0;*/
}

.input-b{
    display: inline-block;
    width: 98px;
    height: 28px;
    border: 1px solid #ddd;
}
.input-b input{
    width: 76px;
    height: 28px;
    padding:0 0 0 5px;
    border: none;
    font: normal 12px/28px 'Microsoft Yahei';
    color: #000;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;

}
.input-b input:focus{
    outline: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.period-box{ __margin-left:25px;}
.period-box .tit{
    font:normal 12px/30px 'Microsoft Yahei';
    color: #777;
}
.todate{
    margin:0 8px 0 8px;
    font:normal 12px/30px 'Microsoft Yahei';
    color: #565656;
}
.total-box{
    margin-left:15px;
    color: #565656;
    line-height: 30px;
    font:normal 12px/30px 'Microsoft Yahei';
}
.checkbox-box{
    height:30px;
    margin-left: 40px;
    font: normal 13px/30px 'Microsoft Yahei';
    color: #333;
}
.checkbox-box label{
    margin:0;
    line-height:30px;
}
.cor-f20707{ color: #f20707;}
.cor-0498e4{ color: #0498e4;}
.export-box{
    position: relative;
    background:#2dcc70;
    color: #fff;
    font: normal 14px/30px 'Microsoft Yahei';
    cursor: pointer;
}
.export-all{
    width: 70px;
    padding-left: 37px;
}
.export-all i{
    position: absolute;
    top: 8px;
    left: 10px;
    width: 15px;
    height: 14px;
    background: url("../images/common/btn_icon1.png") no-repeat -74px -1px;
}
.search-box{
    width: 171px;
    height: 28px;
    border: 1px solid #ddd;
    margin-right:19px;
}
.search-box .search-input{
    width: 137px;
    height: 28px;
    padding: 0 0 0 10px;
    margin-bottom:0;
}
.search-box i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/common/search_black.png") no-repeat center center;
    margin-top:7px;
    cursor: pointer;
}
.data-show{
    margin-top:14px;
    background: #fff;
}
.data-show table{ table-layout: fixed;}
.page-content .data-show .table thead th{
    position: relative;
    border-top:1px solid #0fadeb;!important;
    background: #daf4ff;
    font: normal 12px 'Microsoft Yahei';
    color: #000;
}
.data-show .table thead:first-child tr:first-child th{
    border-top:1px solid #0fadeb;
}
.data-show table thead .first-row{ padding-left:26px;}
.data-show table tbody .first-row{ padding-left:30px;}
.data-show .table td{
    vertical-align: inherit;
    color: #6a6f7b;
    font: normal 12px/12px 'Microsoft Yahei';
}
.data-show .table a{
    text-decoration: none;
}
.data-show .table .url{
    text-decoration: underline;
    word-wrap: break-word;
    word-break: break-all;
}
.data-show table .summary-td{
    font: normal 15px 'Microsoft Yahei';
    color: #415569;
    padding-left:36px;
}
.summary-icon{
    width:4px;
    height:13px;
    display:inline-block;
    background: url("../images/fg-line-01a5ec.png") no-repeat center center;
    vertical-align: middle;
    margin-left:40px;
}
.data-show .table .wz-name{
    font: normal 12px/18px 'Microsoft Yahei';
    color: #6d6f83;
}
.data-show .cor-01a5ec{ color: #01a5ec;}
.data-show .cor-ef6333{ color: #ef6333;}
.data-show .table .cor-85b{ color: #85b;}
.data-show .table .cor-f54e4e{ color:#f54e4e;}
.data-show .table .cor-01a5ec{ color:#01a5ec;}
.table .th-center{ text-align: center;}
.table .th-left{ text-align: left;}
.table .td-center{ text-align: center;}
.table .td-left{ text-align: left;}
.w30p{ width:30%;}
.w20p{ width:20%;}
.w15p{ width:15%;}
.w10p{ width:10%;}
.td_num_0ad69f{ background:#0ad69f;}
/*日常监测-首页链接可用性e*/


.td_num_8063c8{ background:#8063c8;}
.td_num_ef6333{ background:#ef6333;}
.td_num_57a1f2{ background:#57a1f2;}
.td_num_b233b9{ background:#b233b9;}
.td_num_51d466{ background:#51d466;}
.td_num_4e4e4e{ background:#4e4e4e;}
.td_num_51d466{ background:#51d466;}
.td_num_607d8b{ background:#607d8b;}





/*下拉框*/
.select-box{width:70px; height: 28px; border:1px solid #dddddd; line-height: 28px; position: relative; color: #828282; font-size: 12px; padding-left:5px; margin-right:10px;}
.select-box i{ position: absolute; top: 12px; right: 5px; background: url("../images/DailyM_icon.png") no-repeat -35px -67px; display: inline-block; width: 10px; height: 5px;}
.select-box ul{ position: absolute; top:28px; left:-1px; border: 1px solid #dddddd; width: 75px; margin: 0; background: #fff; display: none; z-index:200;}
.select-box ul li{height: 22px; line-height: 22px; text-align: left; color:#000; padding-left: 5px;}
.select-box ul li:hover{ background: #1e90ff; color:#fff; cursor: pointer;}

/**/
.checkbox-box .icheckbox_square-blue.checked{
    background-position:0 -24px;
}
.checkbox-box .icheckbox_square-blue{
    background-position:-24px -24px;
}


.jiancepl div{
     position: absolute;
     width:240px;
     height: 38px;
     padding:0 10px 0 10px;
     font:normal 12px/38px 'Microsoft Yahei';
     color: #6a6f7b;
     background: #fff;
     border: 1px solid #c9c9c9;
     border-radius: 3px;
     -moz-border-radius: 3px;
     -webkit-border-radius: 3px;
     z-index: 5;

 }
