@charset "UTF-8";
/*publi-ico_1*/
.publi-ico_1 {
  display: inline-block;
  background: url(../images/publi-ico_1.png) no-repeat; }

.wzgj {
  height: 16px;
  width: 16px;
  background-position: 0 0;
  vertical-align: sub; }

.tzfk {
  height: 16px;
  width: 16px;
  background-position: 0 -16px; }

.sdjc {
  height: 16px;
  width: 16px;
  background-position: 0 -32px; }

.yaq {
  height: 16px;
  width: 16px;
  background-position: 0 -48px; }

.zdxx {
  height: 16px;
  width: 16px;
  background-position: 0 -64px; }

.ywp {
  height: 16px;
  width: 16px;
  background-position: 0 -80px;
  vertical-align: sub; }

.yqhy {
  height: 16px;
  width: 16px;
  background-position: 0 -96px;
  vertical-align: sub; }

.jbxx {
  height: 16px;
  width: 16px;
  background-position: 0 -112px; }

.fwzx {
  height: 16px;
  width: 16px;
  background-position: 0 -128px; }

.bgzg {
  height: 16px;
  width: 16px;
  background-position: 0 -144px; }

.jcgl {
  height: 16px;
  width: 16px;
  background-position: 0 -160px; }

.pzgl {
  height: 16px;
  width: 16px;
  background-position: 0 -176px; }

.mfjc {
  height: 16px;
  width: 16px;
  background-position: 0 -192px; }

.lsbb {
  height: 16px;
  width: 16px;
  background-position: 0 -208px; }

/*publi-ico_2*/
.publi-ico_2 {
  display: inline-block;
  background: url(../images/publi-ico_2.png) no-repeat; }

.fgx-b {
  height: 21px;
  width: 1px;
  background-position: 0 0; }

.fgx-s {
  height: 13px;
  width: 2px;
  background-position: 0 -21px; }

.tb-huiz {
  height: 13px;
  width: 4px;
  background-position: 0 -34px; }

.keyong-ico {
  height: 16px;
  width: 12px;
  background-position: 0 -47px; }

.zbjs {
  height: 12px;
  width: 14px;
  background-position: 0 -63px; }

.daochu-1 {
  height: 14px;
  width: 15px;
  background-position: 0 -75px; }

/*帮助手册*/
.bzsc {
  height: 14px;
  width: 16px;
  background-position: 0 -89px; }

.active .bzsc {
  height: 14px;
  width: 16px;
  background-position: -21px -89px; }

/*退出*/
.tuichu {
  height: 14px;
  width: 16px;
  background-position: 0 -103px; }

.active .tuichu {
  height: 14px;
  width: 16px;
  background-position: -21px -103px; }

/*预警*/
.yujing {
  height: 14px;
  width: 16px;
  background-position: 0 -117px; }

.active .yujing {
  height: 14px;
  width: 16px;
  background-position: -21px -117px; }

/*管理*/
.guanli {
  height: 14px;
  width: 16px;
  background-position: 0 -173px; }

.active .guanli {
  height: 14px;
  width: 16px;
  background-position: -21px -173px; }

/*二维码*/
.ewm-ico-new {
  width: 24px;
  height: 24px;
  background-position: -36px 0; }

.active .ewm-ico-new {
  width: 24px;
  height: 24px;
  background-position: -61px 0; }

.tbzx-ico-h {
  height: 17px;
  width: 20px;
  background-position: 0 -187px; }

.tbzx-ico-c {
  height: 17px;
  width: 20px;
  background-position: 0 -204px; }

.jietu-ico {
  height: 22px;
  width: 22px;
  background-position: 0 -221px; }

.shoppingcar {
  height: 24px;
  width: 24px;
  background-position: 0 -243px; }

.touxiang {
  height: 24px;
  width: 24px;
  background-position: 0 -267px; }

.jiangbei {
  height: 66px;
  width: 60px;
  background-position: 0 -291px; }

.down-ico {
  height: 14px;
  width: 16px;
  background-position: 0 -131px; }

.fdj-1616 {
  height: 16px;
  width: 16px;
  background-position: 0 -145px; }

.dclb {
  height: 12px;
  width: 16px;
  background-position: 0 -161px; }

.ckwz {
  height: 46px;
  width: 46px;
  background-position: -95px 0; }

.jsyj {
  height: 46px;
  width: 46px;
  background-position: -95px -47px; }

.mty-ico {
  height: 63px;
  width: 59px;
  background-position: -83px -94px; }

.colo-f {
  height: 25px;
  width: 25px;
  background-position: -116px -156px; }

.left-icon {
  height: 43px;
  width: 5px;
  background-position: -65px 0; }

/*service-center 图标*/
.sc-ico {
  display: inline-block;
  background: url(../images/6868.png) no-repeat; }

.ricjcsj {
  height: 68px;
  width: 68px;
  background-position: 0 0; }

.qzslsm {
  height: 68px;
  width: 68px;
  background-position: 0 -68px; }

.qmjc {
  height: 68px;
  width: 68px;
  background-position: 0 -136px; }

.yjjc {
  height: 68px;
  width: 68px;
  background-position: 0 -204px; }

.wzmfjc {
  height: 68px;
  width: 68px;
  background-position: 0 -272px; }

.wzccfw {
  height: 68px;
  width: 68px;
  background-position: 0 -340px; }

.lmsdjc {
  height: 68px;
  width: 68px;
  background-position: 0 -408px; }

.cbzsm {
  height: 68px;
  width: 68px;
  background-position: 0 -476px; }

.cbzfg {
  height: 68px;
  width: 68px;
  background-position: 0 -544px; }

.aqsm {
  height: 68px;
  width: 68px;
  background-position: 0 -612px; }

.jxkp {
  height: 68px;
  width: 68px;
  background-position: 0 -680px; }

.dsjfx {
  height: 68px;
  width: 68px;
  background-position: 0 -748px; }

.dsj {
  height: 68px;
  width: 68px;
  background-position: 0 -816px; }

/*其他云产片介绍  图标*/
.op-ico {
  display: inline-block;
  background: url(../images/7272.png) no-repeat; }

.ymtyfx {
  height: 72px;
  width: 72px;
  background-position: 0 0; }

.yhssfx {
  height: 72px;
  width: 72px;
  background-position: 0 -72px; }

.sstyfx {
  height: 72px;
  width: 72px;
  background-position: 0 -144px; }

.zzgl {
  height: 72px;
  width: 72px;
  background-position: 0 -216px; }

.zwlmfl {
  height: 72px;
  width: 72px;
  background-position: 0 -288px; }

.zqtydb {
  height: 72px;
  width: 72px;
  background-position: 0 -360px; }

.fzgn {
  height: 72px;
  width: 72px;
  background-position: 0 -432px; }

.fklyfx {
  height: 72px;
  width: 72px;
  background-position: 0 -504px; }

.fkfx {
  height: 72px;
  width: 72px;
  background-position: 0 -576px; }

.lxfx {
  height: 72px;
  width: 72px;
  background-position: 0 -648px; }

.jyhss {
  height: 72px;
  width: 72px;
  background-position: 0 -720px; }

.jmhf {
  height: 72px;
  width: 72px;
  background-position: 0 -792px; }

/*云安全  图标*/
.yun-aq {
  display: inline-block;
  background: url(../images/yun-aq.png) no-repeat; }

.wzgm {
  height: 70px;
  width: 70px;
  background-position: 0 0; }

.wzxl {
  height: 70px;
  width: 70px;
  background-position: 0 -70px; }

.wzcrx {
  height: 70px;
  width: 70px;
  background-position: 0 -140px; }

.bgcg {
  height: 70px;
  width: 70px;
  background-position: 0 -210px; }

.wzal {
  height: 70px;
  width: 70px;
  background-position: 0 -280px; }

/*# sourceMappingURL=icons.css.map */
