@charset "UTF-8";
.header {
  position: fixed;
  z-index: 102;
  width: 100%;
  /*height: 50px;*/
  background: #16202f; }
  .header .header-content {
    height: 50px; }

.left-part {
  padding-left: 12px; }
  .left-part .logo {
    width: 106px;
    height: 30px;
    margin-top: 9px;
    background: url("../images/common/logo-new.png") no-repeat center;
    cursor: pointer; }
  .left-part .fgx-b {
    height: 21px;
    width: 1px;
    margin: 17px 15px 0 15px;
    background-position: 0 0; }
  .left-part a {
    display: block;
    width: 55px;
    height: 19px;
    margin-top: 20px; }
  .left-part img {
    display: block; }

.center-part {
  margin-left: 121px;
  margin-top: 9px; }
  .center-part .nav-part {
    height: 37px;
    padding: 0;
    margin: 0; }
    .center-part .nav-part li {
      float: left;
      margin-right: 25px;
      cursor: pointer; }
    .center-part .nav-part .more {
      position: relative; }
    .center-part .nav-part li span {
      display: inline-block;
      padding: 9px 6px;
      color: #fff;
      font: normal 14px/14px 'Microsoft Yahei'; }
    .center-part .nav-part li span:hover {
      opacity: .8; }
    .center-part .nav-part li em {
      display: inline-block;
      width: 100%;
      height: 3px;
      background: #00b5f3;
      border-radius: 1px;
      display: none; }
    .center-part .nav-part li.active em {
      display: block; }
    .center-part .nav-part i.down-ico {
      margin-left: 5px;
      vertical-align: middle; }
    .center-part .nav-part .more-content {
      position: absolute;
      top: 32px;
      left: -20px;
      padding: 3px 0 7px 0;
      width: 178px;
      border: 1px solid #c4c4c4;
      box-shadow: 0 0 5px #ccc;
      background: #fff;
      display: none; }

.more-content > div {
  height: 36px;
  font: normal 12px/36px 'Microsoft Yahei';
  color: #333333;
  cursor: pointer;
  margin-bottom: 2px; }
  .more-content > div:hover {
    background: #ecf4f6; }
  .more-content > div i {
    margin: 0 22px 0 17px; }

.right-part {
  margin-top: 13px;
  margin-right: 20px; }
  .right-part ul {
    padding: 0;
    margin: 0; }
  .right-part li {
    float: right;
    cursor: pointer;
    transition: all 2s ease; }
  .right-part .yujing-part {
    position: relative; }
  .right-part .yujing-tip {
    position: absolute;
    top: -10px;
    right: -16px;
    width: 26px;
    height: 15px;
    background: #ef4040;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    font: normal 10px/15px 'Microsoft Yahei'; }
  .right-part li span {
    display: inline-block;
    margin: 6px;
    vertical-align: middle; }
  .right-part li em {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #00b5f3;
    border-radius: 1px;
    display: none; }
  .right-part li.active em {
    display: block; }
  .right-part li.fgx-s {
    margin: 6px 12px 0 12px;
    vertical-align: middle; }

.wecat-part {
  position: relative;
  margin-top: 15px; }
  .wecat-part .ewm-ico-new {
    width: 24px;
    height: 24px;
    background-position: -36px 0; }
  .wecat-part .down-ico-2 {
    width: 10px;
    height: 24px;
    margin-left: 12px;
    margin-right: 5px;
    background-position: -10px 0;
    __vertical-align: middle; }
  .wecat-part .wecat-sh {
    position: absolute;
    top: 26px;
    left: -225px;
    width: 444px;
    height: 192px;
    background: url("../images/wecat-bg.png") no-repeat center; }
    .wecat-part .wecat-sh .sh-bottom {
      width: 437px;
      height: 35px;
      margin: 0 auto;
      border-top: 1px solid #e5e5e5; }
      .wecat-part .wecat-sh .sh-bottom h4 {
        display: inline-block;
        width: 110px;
        padding: 11px 0 12px 0;
        margin-left: 26px;
        margin-right: 45px;
        color: #686868;
        font: normal 12px/12px 'Microsoft Yahei'; }
      .wecat-part .wecat-sh .sh-bottom span {
        display: inline-block;
        padding: 11px 0 12px 0;
        color: #686868;
        font: normal 12px/12px 'Microsoft Yahei'; }
    .wecat-part .wecat-sh .left-box img {
      margin-top: 15px;
      margin-left: 20px; }
.wecat-part .wecat-sh .wecat-list-box{
	height:auto;
	width:283px;
	margin-left:155px;
	position:relative;
}
.wecat-part .wecat-sh .wecat-list-box .close-img{
	position: absolute;
    right: 20px;
    top: -12px;
    cursor:pointer;
}
.wecat-part .wecat-sh .wecat-list-box ul .left-line{
	height:77px;
	width:1px;
	border:1px solid #e4e7ea;
	background:#e4e7ea;
	position:absolute;
	left: 10px;
    top: 13px;
}
.wecat-part .wecat-sh .wecat-list-box ul{
	margin-top: 20px;
    width: 89%;
    margin-left:5%;
    position:relative;
}
.wecat-part .wecat-sh .wecat-list-box ul li{
	height:36px;
	width:100%;
	line-height:36px;
}
.wecat-part .wecat-sh .wecat-list-box ul li span{
	color:#767676;
	font-size:14px;
	font-family:"Microsoft Yahei";
	padding-left:38px;
	font-weight:600;
}
.wecat-part .wecat-sh .wecat-list-box ul li img{
	margin-top:-6px;
}
.wecat-part .wecat-sh .wecat-list-box ul li:nth-child(1) img{
	position:absolute;
	top: 13px;
    left: 1px;
    z-index: 9999;
}
.wecat-part .wecat-sh .wecat-list-box ul li:nth-child(2) img{
	position:absolute;
	top: 49px;
    left: 1px;
    z-index: 9999;
}
.wecat-part .wecat-sh .wecat-list-box ul li:nth-child(3) img{
	position:absolute;
	top: 86px;
    left: 1px;
    z-index: 9999;
}
.wecat-sh .fr {
  margin-top: 37px;
  margin-right: 44px; }
  .wecat-sh .fr ul {
    padding: 0;
    margin: 0; }
  .wecat-sh .fr li {
    float: left;
    text-align: center; }
  .wecat-sh .fr .fgx-l {
    display: block;
    height: 71px;
    margin: 0 22px 0 22px;
    border-right: .5px solid #e5e5e5; }
  .wecat-sh .fr .ckwz, .wecat-sh .fr .jsyj {
    display: block;
    margin-bottom: 12px;
    margin-left: 20px; }
  .wecat-sh .fr span {
    display: block;
    text-align: center;
    font: normal 14px/14px 'Microsoft Yahei'; }

.wecat-sh .mty-ico {
  position: absolute;
  bottom: 0px;
  right: -16px; }

/*退出*/
#exitModal .modal-header.modal-header2 {
  padding: 8px 15px; }

.page-modal {
  border: 0 none; }

.modal-header.modal-header2 {
  background: #2dcc70;
  padding: 13px 15px;
  border: 0px none; }

.modal-header2 .close {
  opacity: 1;
  filter: alpha(opacity=100); }

.modal-header .close {
  margin-top: 4px; }

.page-modal .modal-header h3 {
  font-size: 20px;
  color: #fff; }

.modal-header h3 {
  font-size: 16px;
  color: #5e5e5e;
  font-family: '微软雅黑';
  font-weight: normal; }

.exit-p {
  margin: 30px 0px 50px;
  text-align: center;
  font-size: 16px;
  color: #565e68;
  font-family: '微软雅黑'; }

.modal-footer {
  height: 65px;
  border-top: 1px solid #e6e6e6;
  padding: 0px 53px;
  border-radius: 0px;
  background: #fff;
  box-shadow: none; }

.modal-header2 .close {
  opacity: 1;
  filter: alpha(opacity=100); }

.white-btn {
  background: #ffffff;
  border: 1px solid #cbcbcb;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0px;
  width: 122px;
  color: #333333;
  font-family: '微软雅黑';
  border-radius: 0px;
  margin-top: 12px; }

.green-btn {
  background: #2dcc70;
  border: 1px solid #1bbd5f;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0px;
  width: 122px;
  color: #fff;
  font-family: '微软雅黑';
  border-radius: 0px;
  margin-top: 12px;
  margin-right: 20px; }

.dialog-close2 {
  background: url(../images/common/dialog_close2.png) no-repeat scroll 0 0;
  background: #19cc70 url(../images/common/dialog_close2.png) no-repeat scroll 0 0;
  width: 23px;
  height: 23px;
  display: inline-block; }

/*头部下方基本信息部分*/
.base-info {
  position: fixed;
  z-index: 101;
  width: 100%;
  height: 40px;
  top: 50px;
  background: #ffffff;
  border-bottom: 1px solid #dddde0; }
  .base-info .bi-content {
    padding: 0 34px 0 12px; }
    .base-info .bi-content ul {
      height: 12px;
      margin: 0; }
    .base-info .bi-content li {
      padding: 15px 0 12px 0;
      color: #98a0a8;
      font: normal 12px/12px 'Microsoft Yahei'; }
    .base-info .bi-content .fgx-s {
      margin: 15px 15px 0 15px;
      padding: 0;
      height: 12px; }

.bi-content .colo-f {
  float: left;
  margin-top: 6px;
  margin-right: 19px; }

.bi-content h4 {
  color: #34495e;
  padding: 15px 0 13px 0;
  font: normal 14px/14px 'Microsoft Yahei'; }

.sub-success {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 4px;
  width: 100px;
  height: 30px;
  border: 1px solid #7bdd77;
  background: #bbf5bc;
  color: #117112;
  text-align: center;
  border-radius: 4px;
  font: normal 14px/32px 'Microsoft Yahei';
  cursor: pointer; }

.base-info .bi-content .jies {
  padding: 0; }
  .base-info .bi-content .jies a {
    display: inline-block;
    __height: 40px;
    padding: 15px 0 12px 0;
    font: normal 12px/12px 'Microsoft Yahei'; }
  .base-info .bi-content .jies i {
    vertical-align: bottom; }

.left-menu-bar {
  position: fixed;
  top: 91px;
  bottom: 0;
  width: 219px;
  border-right: 1px solid #d5d6d9;
  background: #fff; }

.left-mbox > ul {
  margin: 0;
  padding: 0; }
  .left-mbox > ul > li {
    border-bottom: 1px solid #e5e5e5; }
.left-mbox i.publi-ico_1 {
  margin: 15px 8px 0 12px;
  vertical-align: middle; }
.left-mbox em{
	width:19px;
	height:19px;
	display:inline-block;
	margin-right: 18px;
    margin-top: 10px;
} 
.left-mbox em.add_tu_top{
 	background:url("../images/tree_com_ico.png") 0 10px no-repeat;
 }
.left-mbox em.add_tu_down{
 	background:url("../images/tree_com_ico.png") 0 -12px no-repeat;
 }
 /* 后期修改图标 */
/* .left-mbox i.publi-ico_1{
	background:url("../images/wz_ico.png") center;
} */
.left-mbox i.left-icon {
  margin-right: 46px; }

.single-line span {
  display: inline-block;
  padding: 16px 0 15px 15px;
  font: normal 14px/14px 'Microsoft Yahei'; }
.single-line h3 {
  width: 216px;
  height: 45px;
  color: #444444;
  border-right: 3px solid #fff;
  padding-left:20px; }
  .single-line h3:hover {
    text-decoration: none;
    color: #00b5f3;
    background: #fafafa;
    border-right: 3px solid #00b5f3; }
  .single-line h3:hover a {
    color: #00b5f3; }
.single-line a {
  display: block;
  width: 216px;
  height: 45px;
  color: #444444; }
.single-line h3.active {
  color: #00b5f3;
  background: #fafafa;
  border-right: 3px solid #00b5f3; }
.single-line h3.active a {
  color: #00b5f3; }

.multi-line {
  border-bottom: 1px solid #e5e5e5; }
  .multi-line h3 {
    height: 42px;
    color: #444; 
    cursor:pointer;
    padding-left:20px;}
  .multi-line span {
    display: inline-block;
    padding: 16px 0 6px 15px;
    __color: #444;
    font: normal 14px/14px 'Microsoft Yahei'; }
  .multi-line ul {
    padding: 0 0 3px 0;
    margin: 0; }
  .multi-line li {
    width: 216px;
    height: 29px;
    margin-bottom: 3px;
    font: normal 12px/12px 'Microsoft Yahei';
    transition: all 2s ease; }
    .multi-line li a {
      display: block;
      width: 216px;
      height: 29px;
      color: #888; }
    .multi-line li span {
      display: inline-block;
      padding: 10px 0 7px 53px;
      font: normal 12px/12px 'Microsoft Yahei'; }
    .multi-line li:hover {
      color: #00b5f3;
      background: #fafafa;
      __border-right: 3px solid #fafafa; }
    .multi-line li:hover a {
      color: #00b5f3; }
  .multi-line li.active {
    color: #00b5f3;
    background: #fafafa;
    border-right: 3px solid #00b5f3; }
  .multi-line li.active a {
    color: #00b5f3; }
  .multi-line li.active1 {
    color: #00b5f3;
    background: #fafafa; }
  .multi-line li.active1 a {
    color: #00b5f3; }

/*滚动条*/
.mCSB_container {
  __margin-right: 15px; }

.mCustomScrollBox > .mCSB_scrollTools {
  width: 13px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 7px; }

.mCS-minimal-dark > .mCSB_scrollTools .mCSB_draggerRail {
  background: none; }

.mCS-minimal-dark > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #d1d1d1; }

.mCS-minimal-dark > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #91989f; }

/*publi-ico_1*/
.publi-ico_1 {
  display: inline-block;
  background: url(../images/publi-ico_1.png) no-repeat; }

.wzgj {
  height: 16px;
  width: 16px;
  background-position: 0 0;
  vertical-align: sub; }

.tzfk {
  height: 16px;
  width: 16px;
  background-position: 0 -16px; }

.sdjc {
  height: 16px;
  width: 16px;
  background-position: 0 -32px; }

.yaq {
  height: 16px;
  width: 16px;
  background-position: 0 -48px; }

.zdxx {
  height: 16px;
  width: 16px;
  background-position: 0 -64px; }

.ywp {
  height: 16px;
  width: 16px;
  background-position: 0 -80px;
  vertical-align: sub; }

.yqhy {
  height: 16px;
  width: 16px;
  background-position: 0 -96px;
  vertical-align: sub; }

.jbxx {
  height: 16px;
  width: 16px;
  background-position: 0 -112px; }

.fwzx {
  height: 16px;
  width: 16px;
  background-position: 0 -128px; }

.bgzg {
  height: 16px;
  width: 16px;
  background-position: 0 -144px; }

.jcgl {
  height: 16px;
  width: 16px;
  background-position: 0 -160px; }

.pzgl {
  height: 16px;
  width: 16px;
  background-position: 0 -176px; }

.mfjc {
  height: 16px;
  width: 16px;
  background-position: 0 -192px; }

.lsbb {
  height: 16px;
  width: 16px;
  background-position: 0 -208px; }

.dsjsy {
  height: 16px;
  width: 16px;
  background-position: 0 -225px; }

.rcjctj {
  height: 16px;
  width: 16px;
  background-position: 0 -241px; }

.ssyqsl {
  height: 16px;
  width: 16px;
  background-position: 0 -258px; }

.wzfwl {
  height: 16px;
  width: 16px;
  background-position: 0 -275px; }

.zdsjgl {
  height: 16px;
  width: 16px;
  background-position: 0 -292px; }

.jxkp-2 {
  height: 16px;
  width: 16px;
  background-position: 0 -309px; }

.cloud-zt {
  height: 16px;
  width: 16px;
  background-position: 0 -326px; }

/*publi-ico_2*/
.publi-ico_2 {
  display: inline-block;
  background: url(../images/publi-ico_2.png) no-repeat; }

.fgx-b {
  height: 21px;
  width: 1px;
  background-position: 0 0; }

.fgx-s {
  height: 13px;
  width: 2px;
  background-position: 0 -21px; }

.tb-huiz {
  height: 13px;
  width: 4px;
  background-position: 0 -34px; }

.keyong-ico {
  height: 16px;
  width: 12px;
  background-position: 0 -47px; }

.zbjs {
  height: 12px;
  width: 14px;
  background-position: 0 -63px; }

.daochu-1 {
  height: 14px;
  width: 15px;
  background-position: 0 -75px; }

/*帮助手册*/
.bzsc {
  height: 14px;
  width: 16px;
  background-position: 0 -89px; }

.active .bzsc {
  height: 14px;
  width: 16px;
  background-position: -20px -89px; }

/*退出*/
.tuichu {
  height: 14px;
  width: 16px;
  background-position: 0 -103px; }

.active .tuichu {
  height: 14px;
  width: 16px;
  background-position: -22px -103px; }

/*预警*/
.yujing {
  height: 14px;
  width: 16px;
  background-position: 0 -117px; }

.active .yujing {
  height: 14px;
  width: 16px;
  background-position: -21px -117px; }

/*管理*/
.guanli {
  height: 14px;
  width: 16px;
  background-position: 0 -173px; }

.active .guanli {
  height: 14px;
  width: 16px;
  background-position: -20px -172px; }

/*二维码*/
.ewm-ico-new {
  width: 24px;
  height: 24px;
  background-position: -36px 0; }

.active .ewm-ico-new {
  width: 24px;
  height: 24px;
  background-position: -61px 0; }

.tbzx-ico-h {
  height: 17px;
  width: 20px;
  background-position: 0 -187px; }

.tbzx-ico-c {
  height: 17px;
  width: 20px;
  background-position: 0 -204px;
  cursor: pointer; }

.jietu-ico {
  height: 22px;
  width: 22px;
  background-position: 0 -221px; }

.shoppingcar {
  height: 24px;
  width: 24px;
  background-position: 0 -243px; }

.touxiang {
  height: 24px;
  width: 24px;
  background-position: 0 -267px; }

.jiangbei {
  height: 66px;
  width: 60px;
  background-position: 0 -291px; }

.down-ico {
  height: 14px;
  width: 16px;
  background-position: 0 -131px; }

.fdj-1616 {
  height: 16px;
  width: 16px;
  background-position: 0 -145px; }

.dclb {
  height: 12px;
  width: 16px;
  background-position: 0 -161px; }

.ckwz {
  height: 46px;
  width: 46px;
  background-position: -95px 0; }

.jsyj {
  height: 46px;
  width: 46px;
  background-position: -95px -47px; }

.mty-ico {
  height: 63px;
  width: 59px;
  background-position: -83px -93px; }

.colo-f {
  height: 25px;
  width: 25px;
  background-position: -116px -156px; }

.left-icon {
  height: 45px;
  width: 6px;
  background-position: -21px -19px; }

/*service-center 图标*/
.sc-ico {
  display: inline-block;
  background: url(../images/6868.png) no-repeat; }

.ricjcsj {
  height: 68px;
  width: 68px;
  background-position: 0 0; }

.qzslsm {
  height: 68px;
  width: 68px;
  background-position: 0 -68px; }

.qmjc {
  height: 68px;
  width: 68px;
  background-position: 0 -136px; }

.yjjc {
  height: 68px;
  width: 68px;
  background-position: 0 -204px; }

.wzmfjc {
  height: 68px;
  width: 68px;
  background-position: 0 -272px; }

.wzccfw {
  height: 68px;
  width: 68px;
  background-position: 0 -340px; }

.lmsdjc {
  height: 68px;
  width: 68px;
  background-position: 0 -408px; }

.cbzsm {
  height: 68px;
  width: 68px;
  background-position: 0 -476px; }

.cbzfg {
  height: 68px;
  width: 68px;
  background-position: 0 -544px; }

.aqsm {
  height: 68px;
  width: 68px;
  background-position: 0 -612px; }

.jxkp {
  height: 68px;
  width: 68px;
  background-position: 0 -680px; }

.dsjfx {
  height: 68px;
  width: 68px;
  background-position: 0 -748px; }

.dsj {
  height: 68px;
  width: 68px;
  background-position: 0 -816px; }

/*其他云产片介绍  图标*/
.op-ico {
  display: inline-block;
  background: url(../images/7272.png) no-repeat; }

.ymtyfx {
  height: 72px;
  width: 72px;
  background-position: 0 0; }

.yhssfx {
  height: 72px;
  width: 72px;
  background-position: 0 -72px; }

.sstyfx {
  height: 72px;
  width: 72px;
  background-position: 0 -144px; }

.zzgl {
  height: 72px;
  width: 72px;
  background-position: 0 -216px; }

.zwlmfl {
  height: 72px;
  width: 72px;
  background-position: 0 -288px; }

.zqtydb {
  height: 72px;
  width: 72px;
  background-position: 0 -360px; }

.fzgn {
  height: 72px;
  width: 72px;
  background-position: 0 -432px; }

.fklyfx {
  height: 72px;
  width: 72px;
  background-position: 0 -504px; }

.fkfx {
  height: 72px;
  width: 72px;
  background-position: 0 -576px; }

.lxfx {
  height: 72px;
  width: 72px;
  background-position: 0 -648px; }

.jyhss {
  height: 72px;
  width: 72px;
  background-position: 0 -720px; }

.jmhf {
  height: 72px;
  width: 72px;
  background-position: 0 -792px; }

/*云安全  图标*/
.yun-aq {
  display: inline-block;
  background: url(../images/yun-aq.png) no-repeat; }

.wzgm {
  height: 70px;
  width: 70px;
  background-position: 0 0; }

.wzxl {
  height: 70px;
  width: 70px;
  background-position: 0 -70px; }

.wzcrx {
  height: 70px;
  width: 70px;
  background-position: 0 -140px; }

.bgcg {
  height: 70px;
  width: 70px;
  background-position: 0 -210px; }

.wzal {
  height: 70px;
  width: 70px;
  background-position: 0 -280px; }

/*# sourceMappingURL=module-1.css.map */
