@charset "utf-8";
/* CSS Document */

*{ margin:0px; padding:0px;}
body{ font-family:"微软雅黑", "宋体";color:#716f6a}
/*头部*/
.headerLogin .container{ margin:0px 90px 0px 120px; width:auto;}
.navbar .container{ position:relative; max-height:70px;}
.navbar-default {background-color: #fff;border-color: #9c9da3;}
.navbar-brand {height: 50px; padding:12px 0px;}
.navbar-nav>li{ border-top:5px #fff solid; font-size:18px;}
.navbar-nav>li.active{ border-top:5px #0cbbef solid;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ color:#0cbbef; background:none;}
.navbar-nav>li:hover{ border-top:5px #029fce solid;}
.navbar-default .navbar-nav>li:hover>a{color:#0cbbef;}
.navbar-nav>li>a { line-height:37px; width:80px; text-align:center;}
.container>.navbar-collapse{ float:left;margin-left:5%;}
.loginButn{position:absolute; top:50%; margin-top:-17px;height:35px; right:0px}
.loginButn .yincang{ float:right; position:relative;}
.loginButn .btn{ background:#09ca1b;border:1px #09ca1b solid;width:85px; border-radius:15px; font-size:18px; line-height:20px; margin:5px 20px 0 0; padding:5px 0px;}
.loginButn .btn:hover{background:#449d44; }
.loginButn .btn.login{ background:#fff; color:#09ca1b; border:1px #09ca1b solid;}
.loginButn .btn.login:hover{background:#09ca1b; color:#fff}
.loginButn .navbar-text{ margin:0px 20px; line-height:35px; font-size:1.2em; color:#333333;}
.loginButn .navbar-img a{ display:block; cursor:pointer	}
.loginButn .erwei{  position:absolute; top:45px;display:none;}
/*button.navbar-toggle{ }*/

.navbar.headerLogin{border-bottom:0px; background:none; margin-top:17px; position: relative;}
.headerLogin .navbar-collapse.collapse{ width:0px; height:0px;overflow:hidden!important}




/*底部2*/
.new-footer{ background:#ffffff; border-top:1px solid #e5e6e7; position:relative; margin-top:40px; padding:32px 0px 35px; z-index:10;}
.footnav{ width:580px; margin:0px auto 20px; line-height:46px; position:relative; z-index:2;}
.footnav>.nav { float:left; margin-right:0px;}
.footnav>.nav>li{ color:#c5c5c5;}
.footnav>.nav>li>a{ color:#4c4c4c; font-size:14px; padding:0px 30px; line-height:14px;}
.footnav>.nav>li>a:focus, .footnav>.nav>li>a:hover,.footnav .nav .open>a{ background:none; color:#4c4c4c;}
.footText{ float:left; line-height:0px; font-size:14px; line-height:16px; color:#4c4c4c;}
.fsize12{ font-size:12px;}
.footnav .dropup .caret{ width:8px; height:7px; background:url(../images/login-ico.png) no-repeat 0 -84px; border:none; margin-top:10px}

.footnav .dropdown-menu{ border-radius:0px;box-shadow:0 0px 4px rgba(0,0,0,.177); border:none; padding:0px 5px; margin:2px 30px 5px 0px; left:auto; right:0px;}
.footnav .dropdown-menu>li>a{ line-height:40px; padding:0px 8px; border-bottom:1px #e5e5e5 solid;}
.footnav .dropdown-menu>li>a:hover{ background:none; color:#2da8ca;}
.copyright{ font-size:14px;}


/*回到顶部*/
.back_top {
    width: 37px;    height: 37px;    position: fixed;    right: 10px;    bottom: 10px;    cursor: pointer; background:#000;
}
.back_top a{
	display:block;
    width: 37px;
    height: 37px;
    background: url(../images/public/backTop.jpg) no-repeat;}
	
	
/*-----------------新样式------------------*/
.line-tip{ border-bottom:1px solid #d6d7d7; position:relative; margin-top:30px; margin-bottom:30px;}
.line-tip i{ color:#b0b0b0; font-style:normal; width:118px; position:absolute; left:50%; margin-left:-59px; top:-10px; background:#fff; text-align:center; font-size:14px;}
.dltsnr{width:98%;font-size:14px; color:#7f7f7f; height:24px;}
.shenqing{width:85px;margin:18px auto; }
.shenqing input{ font-family:'微软雅黑'; height:31px;width:85px; border:none; background:#09ca1b; font-size:16px; color:#fff; border-radius:15px;
transition:background .5s;
-moz-transition:background .5s; /* Firefox 4 */
-webkit-transition:background .5s; /* Safari 和 Chrome */
-o-transition:background .5s; /* Opera */}
.shenqing input:hover{ background:#07a616;}

.login_container .nav-tabs > li.active > a, .login_container .nav-tabs > li.active > a:focus, .login_container .nav-tabs > li.active > a:hover{ background:none;}
.login_container .nav-tabs>li{ width:50%;}
.login_container .nav-tabs>li.active>a,.login_container .nav-tabs>li.active>a:focus,.login_container .nav-tabs>li.active>a:hover{
	border-top:none;	border-left:none;	border-right:none;	border-bottom:6px #0cbbef solid;	color:#0cbbef }
.login_container .nav>li>a{ font-size:20px;padding:0px; color:#354052; height:42px; border:0px none; font-family:'微软雅黑';}
.login_container .nav>li>a>span{ font-size:18px;}
.login_container .nav>li>a:hover{
	background:none; border:0px none;}
	#myTabContent{ margin-top:40px; position:relative;}
	#loginError{ position:absolute; top:-30px;}
	.login-input-box{width:100%;margin:17px auto 0px;}
	input.form-control{height:34px; padding:8px 9px; font-size:16px; border-radius:0px; box-shadow:none; background:#fff}
   .error-msg{ padding-left:5px; position:relative; color:red; margin-top:0px;}
   
   .dlk input[type=button]{ font-family: '微软雅黑'; height:53px; width:100%; background:#2caee4; border:none; color:#fff; font-size:18px; margin-top:32px;
   transition:background .5s;
   -moz-transition:background .5s; /* Firefox 4 */
-webkit-transition:background .5s; /* Safari 和 Chrome */
-o-transition:background .5s; /* Opera */}
   .dlk input:hover[type=button]{ background:#108ec3}
/*-----------------新样式------------------*/
@media (max-width:1230px) {
	.login_bg{ display:none;}
	.headerLogin .container{ width:auto; margin:0px 5%;}
}
@media (max-width:768px) {
	.navbar-brand img{ width:50% !important;}
	.login_container{ margin:52px auto 54px !important;}
	/*-----------------头部------------------*/
	.navbar { min-height:41px;}
	.navbar-brand { padding:2%; width:43%; height:auto}
	.navbar-brand img{ width:100%;height:auto; max-width:200px; min-width:125px;}
	.navbar-toggle { margin:-15px 3% 0 0; position:absolute; top:50%; right:1%; border:none}/*下拉按钮*/
	
	.loginButn{ width:40%; padding:0px;min-width:110px;}
	.loginButn .btn{ line-height:1em; width:30%; padding:3% 4%; font-size:12px; margin:5px 2% 0;}
	.loginButn .yincang{ display:none;}
	.container>.navbar-collapse {position:absolute;background:#f7f9fa;width:94%; margin:1px auto;}
	.container>.navbar-collapse>.navbar-nav{ margin:0px -15px}
	.navbar-default .navbar-nav>li>a{ line-height:1em; width:100%; text-align:left;}
	.navbar-nav>li{ border-top:none; border-bottom:1px #e7e7e7 solid; position:relative;}
	.navbar-nav>li i{ display:block; position:absolute; width:9px; height:6px; background:url(../images/ico.png) no-repeat 0 -20px; top:50%; margin-top:-3px; right:5%}
	.navbar-nav>li.active{ border-top:none;}
	.navbar-nav>li.active i{background:url(../images/ico.png) no-repeat 0px 0px;}
	.navbar-default .navbar-toggle .icon-bar {background-color:#0cbbef;}
	
	/*头部2 */
	.headerLogin{border-bottom:1px #9c9da3 solid;}
	
	
	
	/*--------------------底部---------------------*/
	.fleft{ float:none;margin:0 auto;}
	.immediately .btn{ display:block; width:160px; margin:22px auto 0px auto; font-size:24px; line-height:normal; padding:5px}
	.immediately p{ font-size:30px;}
	.footer h4{ text-align:center;}
	.footer h4 i{ display:none;}
	.footer .widget1{ width:auto;}
	.footer .erwei_footer {float:none; text-align:center;}
	
	
	.footnav>.nav{ float:none; text-align:center;}
	.footText{ float:none;}
	.footText{ text-align:center;}
	
	.footnav{ width:100%;}
	.footnav>.nav>li{ padding:0 3%; display:inline-block; float:none;}
	.footnav>.nav>li>a{ padding:0px;}
	
	.copyright{ font-size:1em; padding:0px; display:block; line-height:25px; margin-top:10px}
}