	.green_head{ width: 704px; height: 45px; background: #2dcc70; color: #fff;}
	.green_head_title{color: #fff; margin-left: 9px; font:normal 20px/45px 'Microsoft Yahei';}
	.modal-header .green_head_closeicon{ background: url("../images/zg-icon.png") no-repeat -16px -14px; width: 22px;  height: 22px;  position: absolute; right: 10px; top: 6px;  opacity: 1; margin-top: 11px; margin-right: 4px;}
	.modal-body .body_top{ margin-top: 10px; margin-left:9px; margin-bottom: 46px; height: 60px; }
	.body_top p{ margin: 0; height: 30px; line-height: 30px; overflow:hidden;}
	.body_top p span{ display: inline-block; font-size: 14px; color: #747c94; font-family:'Microsoft Yahei';}
	.body_top_fir{ width:120px; float:left;}
	.body_top_sec{ color: #3f4d72; width:575px; float:left;}
	.body_top_sec.colo-e74848{ color:#e74848;}
	.wenxin_tip{ height: 25px; overflow: hidden; margin-bottom: 13px;}
	.wenxin_tip i{ display: inline-block; width: 25px; height: 25px; background: url("../images/green_deng.png") no-repeat center center; margin-left: 5px; margin-right: 12px; }
	.fl{ float: left;}
	.fr{ float: right;}
	.wenxin_title{ margin-top: 7px; font-size: 16px; color: #12b456; font-family:'Microsoft Yahei';}
	#myModal_1 .modal_body_content{ width: 684px; height: 367px; border: 1px solid #e4e5e9; background:#fafbfe; margin-left:8px;}
	#myModal_2 .modal_body_content{ width: 684px; height: 207px; border: 1px solid #e4e5e9; background:#fafbfe;  margin-left:8px;}
	#myModal_3 .modal_body_content{ width: 684px; height: 284px; border: 1px solid #e4e5e9; background:#fafbfe;  margin-left:8px;}
	#myModal_4 .modal_body_content{ width: 684px; height: 191px; border: 1px solid #e4e5e9; background:#fafbfe;  margin-left:8px;}
	#myModal_5 .modal_body_content, #myModal_8 .modal_body_content, #myModal_9 .modal_body_content{ width: 684px; height: 191px; border: 1px solid #e4e5e9; background:#fafbfe;  margin-left:8px;}
	#myModal_6 .modal_body_content{ width: 684px; height: 216px; border: 1px solid #e4e5e9; background:#fafbfe;  margin-left:8px;}
	#myModal_1{ top: 1%;}
    #myModal_2,#myModal_4,,#myModal_3,#myModal_5,#myModal_6,#myModal_8,#myModal_9{ top: 15%;}
	
	#myModal_1 .modal-body,#myModal_2 .modal-body,#myModal_3 .modal-body{ __min-height:400px; max-height:none;}
	#myModal_6 .modal-body{ padding-bottom: 76px;}
	
	.paragraph{ margin-top: 20px; margin-bottom: 16px; line-height: 22px; font-size: 14px; color: #868b97; margin-left: 24px; margin-right: 34px; font-family:'Microsoft Yahei';}
	.every_tips{margin-bottom: 0; margin-left: 27px; height: 30px; line-height: 30px; color: #8f949f; font-size: 14px; font-family:'Microsoft Yahei';}
	.every_tips i{ display: inline-block; width: 7px; height: 7px; background: #2dcc70; margin-right: 16px;}
	.middle_line{ width: 100%; border-bottom: 1px solid #e4e5e9; margin: 0; padding: 0; margin-top: 15px; margin-bottom: 15px;}
	.lineH25{ margin:0;height: 25px; line-height: 25px; font-size: 14px; color: #868b97; margin-left: 25px;font-family:'Microsoft Yahei';}
	.lineH-25{ margin:0; line-height: 25px; font-size: 14px; color: #868b97; margin-left: 25px; font-family:'Microsoft Yahei';margin-right: 16px;}
	.qq_icon{ width:17px; height: 22px; display: inline-block; background:url("../images/qq_icon.png") no-repeat center center; margin-left: 12px; margin-right: 3px; position: relative; top: 2px;}
	.qq_num{ color: #8491b9; text-decoration: underline;}
	.blue_right-icon{ display: inline-block; width: 5px; height: 8px; background: url("../images/blue_right-icon.png") no-repeat center center; margin-left: 8px;}
	.mart-20{ margin-top: 20px;}
	.marb-43{ margin-bottom: 43px;}
	.marb-30{ margin-bottom: 30px;}
	
	.colo-5656d7{ color: #5656d7;}
	.under_line{ text-decoration: underline;}
	.cursor_p{ cursor: pointer;}
	
	ul,li{ list-style: none; padding: 0; margin: 0;}
	ul li{ __padding-top: 2px; __padding-bottom: 2px; }
	
	.ip_group_box{ width:287px; height: 367px; border: 1px solid #c7cfd7; position: absolute; left: 178px; top: -108px; background: #fff; z-index:99; box-shadow:#ccc 2px 2px 3px;}
	.ip_group_box li{ line-height: 11px;  margin-bottom: 13px;}
	.ip_top{ margin-top: 20px; margin-left: 18px;}
	.ip_top_left,.ip_top_right{width: 123px; font-size: 11px; color: #5e6576; font-family:'Microsoft Yahei';}
	.ip_top_right{ border-left: 1px solid #e5e5e5;}
	.ip_top_right ul{ padding-left: 25px;}
	.ip_group_box .last_li{ margin-bottom:0;}
	.ip_bottom{ border-top: 1px solid #c7cfd7;height: 39px; position: absolute; bottom: 0; left: 0; width: 100%;}
	.ip_bottom span{ display: inline-block; width: 80px; height: 23px; cursor: pointer; margin-top: 6px; text-align: center; line-height: 23px;}
	.ip_bottom .commit{ color: #fff; border: 1px solid #2dcc70; margin-left: 50px; margin-right: 20px; background: #2dcc70;}
	.ip_bottom .closed{ color: #a3a3a3; border: 1px solid #d9d9d9;}