@charset "UTF-8";
.service-block {
    margin-top: 11px;
}

.service-block .span6 {
    margin-bottom: 15px;
}

.service-block .half-part {
    float: left;
    __height: 311px;
    padding: 40px 30px 30px 36px;
    border: 1px solid #e1e1e1;
    background: #fff;
}

.service-block i.sc-ico {
    float: left;
    margin-top: 30px;
    margin-right: 20px;
}

.txt-des {
    position: relative;
    display: inline-block;
    float: left;
    height: 242px;
    __max-width: 390px;
    width: 80%;
    __min-width: 370px;
}

.txt-des h4 {
    color: #333333;
    font: normal 17px/37px 'Microsoft Yahei';
}

.txt-des span.charge-txt {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 45px;
    height: 17px;
    margin-left: 10px;
    color: #fff;
    text-align: center;
    font: normal 12px/17px 'Microsoft Yahei';
    border-radius: 2px;
}

.txt-des span.bg-0a6 {
    background: #00aa66;
}

.txt-des span.bg-ff911a {
    background: #ff911a;
}

.txt-des ul {
    width: 100%;
    height: 170px;
    margin: 0;
    padding: 0 0 0 22px;
}

.txt-des li {
    color: #999999;
    text-indent: -20px;
    font: normal 12px/22px 'Microsoft Yahei';
}

.txt-des li .li-p {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 12px;
    background: #999999;
    vertical-align: middle;
}

.txt-des .click-open {
    __position: absolute;
    __bottom: 0;
    __left: 0;
    display: inline-block;
    width: 102px;
    height: 34px;
    color: #fff;
    text-align: center;
    font: normal 14px/34px 'Microsoft Yahei';
    border-radius: 17px;
    background: #1ab394;
    cursor: pointer;
}

.txt-des .already-open {
    __position: absolute;
    __bottom: 0;
    __left: 0;
    display: inline-block;
    width: 102px;
    height: 34px;
    color: #b4b9bf;
    text-align: center;
    font: normal 14px/34px 'Microsoft Yahei';
    border-radius: 17px;
    background: #fff;
    border: 1px solid #d6d9dc;
    cursor: pointer;
}

.txt-des a {
    margin-left: 20px;
    color: #26baf4;
    font: normal 14px/34px 'Microsoft Yahei';
}

/*开通服务弹框*/
.modal-open-service {
    border-radius: 0;
}

.modal-open-service .top {
    height: 48px;
    background: #2dcc70;
}

.modal-open-service .top h4 {
    padding-left: 23px;
    color: #fff;
    font: normal 18PX/48PX 'Microsoft Yahei';
}

.modal-open-service .top .green_head_closeicon {
    position: absolute;
    right: 10px;
    top: 0;
    width: 22px;
    height: 22px;
    margin-top: 14px;
    margin-right: 4px;
    background: url("../images/zg-icon.png") no-repeat -16px -14px;
    opacity: 1;
}

.modal-open-service .content {
    padding: 4px 84px 0 52px;
}

.modal-open-service .content h4 {
    height: 54px;
    color: #363636;
    font: normal 14px/54px 'Microsoft Yahei';
    border-bottom: 1px solid #e5e5e5;
}

.modal-open-service .content .infos-box {
    padding: 30px 0 0 0;
}

.modal-open-service .inp-box {
    width: 403px;
    height: 31px;
    color: #7e7e7e;
    border: 1px solid #dddddd;
    background: #fff;
}

.modal-open-service .inp-box input {
    width: 393px;
    height: 31px;
    padding: 0 0 0 10px;
    margin: 0;
    font: normal 14px/31px 'Microsoft Yahei';
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-open-service .inp-box input:focus {
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-open-service .ervery-inp {
    margin-bottom: 10px;
}

.modal-open-service .ervery-inp span {
    display: block;
    width: 105px;
    margin-right: 16px;
    color: #363636;
    text-align: right;
    font: normal 14px/33px 'Microsoft Yahei';
}

.modal-open-service .ervery-checkbox {
    margin-top: 20px;
    padding-bottom: 36px;
}

.modal-open-service .ervery-checkbox span {
    display: block;
    width: 105px;
    margin-right: 16px;
    color: #363636;
    text-align: right;
    font: normal 14px 'Microsoft Yahei';
}

.modal-open-service .ervery-checkbox .icheckbox_square-blue {
    top: -1px;
    margin-right: 6px;
    background-position: -24px -24px;
}

.modal-open-service .ervery-checkbox .icheckbox_square-blue.checked {
    background-position: 0px -24px;
}

.modal-open-service .checkboxs-box {
    width: 403px;
}

.modal-open-service .checkboxs-box > div {
    width: 195px;
    margin-bottom: 10px;
}

.modal-open-service .checkboxs-box label {
    color: #7e7e7e;
    display: inline-block;
    margin-bottom: 0;
}

.modal-open-service .bottom {
    height: 58px;
    border-top: 1px solid #dadce1;
    background: #f8f8f8;
}

.modal-open-service .bottom .btns {
    width: 102px;
    height: 36px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 11px;
    font: normal 14px/36px 'Microsoft Yahei';
    cursor: pointer;
}

.modal-open-service .bottom .submit {
    background: #2dcc70;
    color: #fff;
}

.modal-open-service .bottom .close {
    margin-right: 40px;
    margin-left: 20px;
    color: #585858;
    opacity: 1;
    background: #fff;
    border: 1px solid #cbcbcb;
}

/*# sourceMappingURL=serviceCenter.css.map */
