/*网站绩效考评-考评任务*/
.task-top{
    position: relative;
    width: 100%;
    height:22px;
    font-size: 22px;
    line-height: 22px;
    font-family: "Microsoft YaHei","微软雅黑";
}
.table-list{
    margin:37px 0 88px 0;
    background-color:#fff;
    border: 1px solid #ddd;
}
.table-part{ padding: 7px 35px 45px 25px;}

.appraisal-task table{
    width: 100%;
}
.appraisal-task table thead tr th{
     padding:13px 0;
    /*font-weight: normal;*/
     font-size: 14px;
     color: #354052;
     font-family: "Microsoft YaHei","微软雅黑";
     border-bottom: 2px solid #e7ebee;
 }
.appraisal-task table tbody tr:hover{
    background: #f0f3f6;
}
.appraisal-task table tbody tr:hover a{
   color: #01a5ec;
   text-decoration: underline;
}
.appraisal-task table tbody tr td{
    padding:17px 0 13px 0;
    font-weight: normal;
    font-size: 12px;
    color: #66676e;
    word-break:break-all;
    word-break: break-word;
    font-family: "Microsoft YaHei";
    border-bottom: 1px solid #e7ebee;
}
.appraisal-task td a{
    /*color: #66676e;*/
    text-decoration: none;
}
.appraisal-task td a:hover{
    color: #01a5ec;
}
.under_L{
    text-decoration: underline;
}
.cur_P{
    cursor: pointer;
}
.colo-01a5ec{ color: #01a5ec;}
.colo-354052{ color: #354052;}
.colo-fb0012{ color: #fb0012;}
.colo-239d60{ color: #239d60;}
.colo-fb6e52{ color: #fb6e52;}
.colo-c91125{ color: #c91125;}
.colo-fe6c00{ color: #fe6c00;}
.colo-b219de{ color: #b219de;}

.appraisal-task table tbody tr td.colo-4a4f78{ color: #4a4f78;}
.appraisal-task table tbody tr td.colo-701999{ color: #701999;}

.w4p{
    width: 4%;
}
.w5p{
    width: 5%;
}
.w6p{
    width: 6%;
}
.w7p{
    width: 7%;
}
.w10p{
    width: 10%;
}
.w12p{
    width: 12%;
}
.w15p{
    width: 15%;
}
.w20p{
    width: 20%;
}
.w25p{
    width: 25%;
}
.w27p{
    width: 27%;
}
.w30p{
    width: 30%;
}
/*任务详情list*/
.task-top .return{
    position: relative;
    top:-3px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 0;
    cursor: pointer;
}
.details-list-part{
   /* width: 100%;*/
    padding: 15px 0 12px 40px;
    margin-top: 38px;
    border: 1px solid #dddddd;
    font-family: "宋体";
    background: #fff;
}
.details-list-part>div {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #585b64;
}
.details-list-part>div span{
    margin-right: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #585b64;
}
.project div,
.period_state div{
    height: 40px;
    line-height: 40px;
}
.period_state .state{
    margin-left: 20%;
}

/*任务详情table-part*/
.details-table-part{
    margin-top: 25px;

}
.three-tab-top{
    position: relative;
    z-index: 100;
    top: 1px;
}
.three-part>div{
    position:relative;
    width:174px;
    height: 41px;
    font: normal 16px "Microsoft YaHei", "微软雅黑";
    color: #8d8d8d;
    line-height: 41px;
    text-align: center;
    border: 1px solid #e0e0e0;
   /* border-bottom: none;*/
    background: #fff;
    cursor: pointer;
}
.county,
.city{
    margin-left: -1px;
}
.table-box{
    position: relative;
    border: 1px solid #e0e0e0;
    background: #fff;
    z-index: 99;
}
.table-box_top{
    height: 61px;
    border-bottom: 1px solid #ddd;
}
.table-box_top>div{
    height: 30px;
    margin-top: 14px;
    font: normal 14px "Microsoft YaHei", "微软雅黑";
    line-height: 30px;
}
.table-box_top .sites-num{
    margin-left: 34px;
    margin-right: 60px;
    color: #6f6f6f;
}
.sites-num span{ margin-left:10px;}
.select-box{
    width: 119px;
    height: 28px;
    margin-right: 17px;
    border: 1px solid #ddd;
}
.select-box select{
    width: 119px;
    font: normal 14px "Microsoft YaHei", "微软雅黑";
    color: #6f6f6f;
    border: none;
    outline: none;
}
.select-box select option{
    font: normal 14px "Microsoft YaHei", "微软雅黑";
    color: #6f6f6f;
}
.search-box{
    position: relative;
    width: 223px;
    height: 28px;
    border: 1px solid #ddd;
}
.search-box input{
    width: 170px;
    height: 28px;
    padding: 0;
    padding-left: 20px;
    font: normal 14px "Microsoft YaHei", "微软雅黑";
    color: #6f6f6f;
    border: none;
    outline: none;
    box-shadow:none;
}
.search-box i{
    position: absolute;
    right: 11px;
    top: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -32px;
    cursor: pointer;
}
.search-box input:focus,
.select-box select:focus
{
    /* border: none; */
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}
.down_load{
    position: relative;
    /*width: 107px;*/
    height: 29px;
    padding: 0 14px 0 38px;
    margin-right: 17px;
    font: normal 14px "Microsoft YaHei","微软雅黑";
    color: #fff;
    line-height: 29px;
    text-align: center;
    background: #2dcc70;
    cursor: pointer;
}
.down_load i{
    position: absolute;
    top: 7px;
    left: 12px;
    width: 12px;
    height: 15px;
    margin-right: 14px;
    display: inline-block;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -53px;
}
.operate a,
.operate span { margin-right: 30px;}

.change_box{ display: none;}
.change_box.on{display: block;}

.three-part>div.on i.left {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 177px;
    height: 4px;
    display: inline-block;
    background: #1abc9c;
    z-index: 10;
}
.three-part>div.on,.tb .several-part>div.on{
    background: #fff;
    color: #1abc9c;
    border-bottom: 1px solid #fff;
}
.no_opeate .icheckbox_square-blue{
    background-position: -151px -23px;
    cursor: auto;
}

/*网站自评page*/
.self-assess-wrap{
    width: 100%;
    /*background: #ccc;*/
}
.self-assess-top{
    width: 100%;
    height:45px;
    font:normal 20px/44px 'Microsoft YaHei','微软雅黑';
    color:#fff;
    background: #19a97b;
}
.self-assess-top .title{
    height: 45px;
    margin-left:38px;
    line-height: 45px;
}
.self-assess-top .close_icon{
    width: 23px;
    height: 23px;
    margin:10px 22px 0 0;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -74px;
    cursor: pointer;
}
.self-assess-content{
    margin:30px 10% 110px 10%;
    border:1px solid #bbbbbb;
    background: #fff;
}
.self-assess-table_part{
    padding:30px 40px;
}
.table_part_title{
    height: 14px;
    margin-bottom: 20px;
    font: normal 14px/14px 'Microsoft YaHei','微软雅黑';
    color: #767884;
}
.table_part_title>div{ margin-right:100px;}
.table_part_title>div span{
    color: #434559;
}
.self-assess-table_part table{
    width: 100%;
}
.self-assess-table_part table th,.self-assess-table_part table td{
    border: 1px solid #dedfe5;
}
.self-assess-table_part table  thead tr{
    border-top:2px solid #45b788;
    font:normal 16px/16px 'Microsoft YaHei','微软雅黑';
    background: #d3f4de;
}
.self-assess-table_part table tr th{
    padding: 12px 0 10px 0;
}
.self-assess-table_part table tr td{
    vertical-align: middle;
    line-height: 22px;
    padding: 5px;
    color:#7d7d7d;
	word-wrap:break-word;
}
.self-assess-table_part table tr td.table_nei{
	padding:0;
}
.table_nei table tr td{
    vertical-align: middle;
    line-height: 20px;
    padding: 0px;
    color:#7d7d7d;
	word-wrap:break-word;
}
.table_nei table tr td div{
    vertical-align: middle;
    line-height: 22px;
    padding-left: 30px;
    color:#7d7d7d;
}
.table_nei table tr td div a{
    color: #01a5ec;
    text-decoration: underline;
}
.self-assess-table_part table tr .level{
    color:#5b5b5b;
}
.accessory>div{
    margin-bottom:10px;
}
.accessory>div a{
    color:#01a5ec;
    text-decoration: underline;
}

/*意见建议*/
.dialogue{
    position: absolute;
    width: 460px;
    height: 465px;
    background: url("../images/dig_bg.png") no-repeat center center;
    z-index: 10;
    left:-394px;
}
.reply_box .dialogue{
    display: none;
}
.reply_box.act .dialogue{
    display: block;
}
.reply_box{
    cursor: pointer;
}
.dialogue .backg{
    width: 450px;
    height: 430px;
    margin:12px 5px;
    background: #fff;
}
.session_box{
    width: 447px;
    height: 300px;
    margin:22px 0;
    /*border: 1px solid red;*/
    overflow-y: scroll;
}
.session_box>div{
    width: 430px;
    margin:0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
}
.session_box>div .txt{
    position: relative;
    width: 380px;
    border: 1px solid #e3e6ed;
    border-radius: 5px;
    padding: 5px 0 8px 0;
}
.session_box>div.ques .txt{
    background: #f1f8ff;
}
.txt p{
    margin-left: 13px;
    text-align: left;
}
.txt p.name_time,
.txt p.nr
{
    font:normal 12px/22px 'Microsoft YaHei','微软雅黑';
}
.txt .point_icon_f{
    position: absolute;
    top: 14px;
    right: -10px;
    width: 10px;
    height: 11px;
    background: url("../images/point_icon.png") no-repeat center center;
}
.txt .point_icon_c{
    position: absolute;
    top: 14px;
    left: -10px;
    width: 10px;
    height: 11px;
    background: url("../images/point_iocn_c.png") no-repeat center center;
}
.txt p.name_time{ color: #393939}
.txt p.nr{ color: #627088;}
.name_time .time{ margin-right:10px;}
.dh_img{
    width: 32px;
    height: 32px;
}
.ask .dh_img i{
    width: 32px;
    height:32px;
    margin-top: 10px;
    display: inline-block;
    background:url("../images/duih.png") no-repeat 0 0;
}
.ques .dh_img i{
    width: 32px;
    height:32px;
    margin-top: 10px;
    display: inline-block;
    background:url("../images/duih.png") no-repeat -32px 0;
}
.textarea_box textarea{
    width: 408px;
    height: 42px;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
}
.duih-btn{
    width: 420px;
    margin: 10px 0 0 0;
}
.duih-btn span{
   /* width: 57px;
    height: 26px;*/
    font:normal 12px/26px 'Microsoft YaHei','微软雅黑';
    padding:0 7px 0 14px;
    margin-left: 13px;
    letter-spacing: 7px;
    cursor: pointer;
}
.duih-btn .ensure,.op_w-footer .ensure{
    background: #34c872;
    color: #fff;
    border: 1px solid #34c872;
}
.duih-btn .cancel,.op_w-footer .cancel{
    background: #fff;
    color: #7b8292;
    border: 1px solid #e3e6ed;
}
.opinion_white{
    position: absolute;
    right:0px;
    top: 10px;
    padding: 8px 13px 8px 38px;
    font: normal 13px 'Microsoft YaHei','微软雅黑';
    background: #2dcc70;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}
.opinion_white i{
    position: absolute;
    top:8px;
    left: 13px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -105px;
}

/*意见建议modal*/
.op_w-head{
    height:55px;
    background: #2dcc70;
    color: #fff;
}
.op_w-content{
    background: #fff;
    border:1px solid #f2f2f2;
    border-top: none;
}
.op_w-content>div{
    margin-bottom: 22px;
    margin-left: 30px;
}
.op_w-head .green_head_closeicon{
    position: absolute;
    right: 10px;
    top: 0;
    width: 22px;
    height: 22px;
    margin-top: 14px;
    margin-right: 4px;
    background: url("../images/zg-icon.png") no-repeat -16px -14px;
    opacity: 1;
}
.op_w-head h4{
    margin:0 0 0 26px;
    font:normal 20px/55px 'Microsoft YaHei','微软雅黑';
}
.op_w-content{
   /* margin: 35px 62px 50px 32px;*/
}
.op_w-content .tit{
    width: 70px;
    margin-right:22px;
    margin-top: 9px;
    text-align: right;
    font: normal 13px 'Microsoft YaHei','微软雅黑';
    color: #363636;
}
.op_w-content input,.op_w-content textarea{
    border: 0;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
.op_w-content input:focus,.op_w-content textarea:focus{
    /* border: 0; */
    outline: none;
    border-radius: 0;
    box-shadow: none;
}
.op_w-content .content_inp .tit{
    margin-top: 3px;
}
.red-mi{
    width: 7px;
    height: 7px;
    margin-right:11px;
    display: inline-block;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -130px;
}
.contact_inp .red-mi{
    margin-right:6px;
}
.title_inp{
    margin-top: 35px;
}
.title_inp .right_inp,.contact_inp .right_inp{
    width: 307px;
    height: 31px;
    border: 1px solid #ddd;
}
.title_inp .right_inp input,.contact_inp .right_inp input{
    width:  295px;
    height: 31px;
    padding:0 0 0 12px;
    margin: 0;
}
.content_inp .right_inp{
    width:773px;
    height: 162px;
    border: 1px solid #ddd;
}
.content_inp .right_inp textarea{
    width:755px;
    height: 162px;
    padding: 0 0 0 12px;
    resize: none;
}
.phone_num{
    margin-right: 63px;
}
.op_w-content .note_part{
    margin-left: 122px;
    font:normal 12px/12px 'Microsoft YaHei','微软雅黑';
    color: #fc8831 ;
}
.op_w-footer{
    padding: 14px 0;
}
.op_w-footer .cancel{
    margin-right: 63px;
    margin-left: 24px;
}
.op_w-footer .ensure{
    border: 1px solid #cbcbcb;
}
.op_w-footer .cancel,
.op_w-footer .ensure{
    padding: 10px 31px 10px 42px;
    font: normal 13px/13px 'Microsoft YaHei','微软雅黑';
    letter-spacing: 11px;
    cursor: pointer;
}

/*往期自评*/
.past_operate>div{
    font:normal 12px/12px 'Microsoft YaHei','微软雅黑';
    padding:7px 12px 6px 12px;
    cursor: pointer;
}
.past_operate .begin_p,
.past_operate .look_p{
    color: #01a5ec;
    cursor:pointer;
    border: 1px solid #01a5ec;
    padding:5px 10px;
}
.past_operate .rating_p{
	color: #01a5ec;
    cursor:pointer;
    border: 1px solid #01a5ec;
    padding:5px 10px;
}
.past_operate .look_k{
    color: #01a5ec;
    cursor:pointer;
    border: 1px solid #01a5ec;
    padding:5px 10px;
}
.past_operate .look_kk{
    color: #7c8082;
    border: 1px solid #c5c7d9;
    padding:5px 10px;
}
.bg_pink{ background:#ddd;}

.past_operate .look_pp{
    color: #7c8082;
    border: 1px solid #c5c7d9;
   	background:#ddd;
   	padding:5px 10px;
}
.past_operate .modify_p{
	cursor:pointer;
    color: #01a5ec;
    border: 1px solid #01a5ec;
    padding:5px 10px;
}
.past-task table tbody tr:hover{
    background: none;
}
/*
.past-task table tbody tr:hover a{
     text-decoration: none;
 }*/

/*填报单位自评说明*/
.report_sm .ensure{
    letter-spacing:0;
}
.rsm-content_part .rsm-content_box{
    width: 897px;
    /*height: 200px;*//*看效果用*/
    margin: 23px 0 32px 26px;
   /* border: 1px solid #dedede;*/

}
.list-box-c{
    padding: 16px 20px 15px 26px;
    border: 1px solid #dedede;
    background: #f5fff9;
}
.list-box-c p{
    font: normal 14px/32px 'Microsoft YaHei','微软雅黑';
    color:#333;
}
.txt_indent{
    text-indent: 2em;
}
.rsm-content_box .contact_inp{
    margin-top: 18px;
}
.rsm-content_box .tit{
    width: 84px;
}
.rsm-content_box .dwmc .right_inp{
    width: 406px;
}
.rsm-content_box .phone_num{
    margin-right: 0;
}
.rsm-content_box .phone_num .right_inp{
    width: 230px;
}
.rsm-content_box .dwmc .right_inp input{
    width: 394px;
}
.rsm-content_box .phone_num .right_inp input{
    width: 218px;
}
.details-list-part{
    position: relative;
}
.details-list-part i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    border-top:3px solid #1abc9c;
}

/*填报单位（往期自评任务）*/
.tb .several-part>div{
    position:relative;
    width:100px;
    height: 41px;
    font: normal 16px "Microsoft YaHei", "微软雅黑";
    color: #8d8d8d;
    line-height: 41px;
    text-align: center;
    border: 1px solid #e0e0e0;
    /* border-bottom: none;*/
    background: #fafafa;
    cursor: pointer;
}
.tb .several-part>div.on i.left{
    width: 102px;
    top: -1px;
    left: -1px;
}
.margl-1{ margin-left: -1px;}
.tb .table-box table{ margin-top: 14px;}
.tb .table-box table thead tr{
    background: #e1f7ea;
}
.tb .table-box table thead th{
    font:normal 16px/16px 'Microsoft YaHei','微软雅黑';
    border:1px solid #d3d4dc;
}
.tb .table-box table tbody td{
    font:normal 12px/22px 'Microsoft YaHei','微软雅黑';
    border:1px solid #d3d4dc;
    padding: 10px;
    vertical-align: middle;
    color: #7d7d7d;
}
.tb table tbody tr:hover{
    background: #fff;
}
.tb .table-box table tbody td.fs{ color: #5b5b5b;}
.tb-op>div{
    width: 72px;
    height: 25px;
    margin: 0 auto;
    line-height: 25px;
    border: 1px solid #c5c7d9;
    cursor: pointer;
    color: #7c8082;
}
.tb .table-part {
    padding: 7px 35px 22px 25px;
}
.tb_btn{
    height: 36px;
}
.tb_btn>div{
    margin-right: 24px;
    width: 125px;
    height: 36px;
    font: normal 13px/36px 'Microsoft YaHei','微软雅黑';
    text-align: center;
    cursor: pointer;
}
.tb_btn{ padding: 7px 35px 22px 25px;}
.tb_btn .submit-data{
    background: #2dcc70;
    border: 1px solid #2dcc70;
    color: #fff;
}
.tb_btn .return{
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #585858;
}

/*提交数据modal*/
.sd-head{
    height: 45px;
}
.sd-head h4{
    line-height: 45px;
    margin-left: 18px;
}
.sd-content{
    border: 1px solid #e4e4e4;
    border-top: none;
}
.sd-content p{
    padding: 73px 0 96px 0;
    text-align: center;
    font:normal 16px/16px 'Microsoft YaHei','微软雅黑';
    color: #ec2c00;
}
.red_icon-t{
    position: relative;
    top: 3px;
    width:24px;
    height: 22px;
    margin-right:13px;
    display: inline-block;
    background: url("../images/Website_performance_evaluation.png") no-repeat 0 -150px;
}
#add_box .sd-footer{
	background:#fff;
	border-top:1px solid #ddd;
}
.sd-footer{
    padding: 9px 0 9px 0;
    background: #fafafa;
}
.sd-footer .ensure{
    padding: 13px 43px 11px 43px;
    margin-right: 40px;
    letter-spacing: 5px;
    background:#2dcc70;
    border: 1px solid #1bbd5f;
    font: normal 14px/14px 'Microsoft YaHei','微软雅黑';
    color: #fff;
    cursor: pointer;
}
/*填报单位网站自评modal*/
.bz-head{
    height: 47px;
}
.bz-head h4{
    line-height: 47px;
    height:47px;
    margin:0 0 0 26px;
}
.bz-content{
    padding: 20px 23px 20px 32px;
   /* border: 1px solid yellow;*/
   max-height:500px;
   overflow-y:auto;
}
.bz-every-part{
    __height: 20px;
}
.bz-every-part .bzep_left{
    width: 86px;
    height: 20px;
    text-align: left;
    font:normal 14px 'Microsoft YaHei','微软雅黑';
    color: #363636;
}
.bzep_right span,
.bzep_right i{
    display: inline-block;
}
.bzep_right{
    line-height: 19px;
    color: #737373;
}
.bzep_right i{
    width:8px;
    height: 13px;
    display: inline-block;
    margin:0 12px 0 12px;
    background: url("../images/Website_performance_evaluation.png") no-repeat -2px -177px;
}
.margt_20{
    margin-top: 20px;
}
.bzep_right .last_leveal{
    color: #000;
}
.bzep_right p{
    line-height: 20px;
    margin:0;
}
.bzep_right textarea{
    width: 772px;
    height: 102px;
    resize: none;
    border: 1px solid #ddd;
    border-radius: 0;
}
.bzep_right textarea:focus{
    outline: none;
    __border: none;
    box-shadow: none;
}
.column-part .bzep_right{
    width: 540px;
    border: 1px solid #ddd;
    padding: 20px 10px 20px 8px;
    min-height: 96px;
    max-height: 200px;
    overflow-y: scroll;
}
.bz-footer .bzep_right>div{
    height: 35px;
    cursor: pointer;
    text-align: center;
    font:normal 13px/35px 'Microsoft YaHei','微软雅黑' ;
}
.bz-footer .bzep_right .cancle{
    margin-left: 15px;
    width: 124px;
    background: #fff;
    border: 1px solid #cbcbcb;
    color: #585858;
}
.bz-footer .bzep_right .saveNext{
    width: 215px;
    background: #2dcc70;
    border: 1px solid #2dcc70;
    color: #fff;
}

.dele-icon{
    width: 33px;
    height: 33px;
    background: url("../images/dele.jpg") no-repeat center center;
    cursor: pointer;
}
.dele-icon:hover{
    background: url("../images/dele-hover.jpg") no-repeat center center;
}
.column-name{
    width: 180px;
    height: 31px;
    border: 1px solid #ddd;
    line-height:31px;
    word-wrap: break-word; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.column-name input{
    width: 200px;
}
.column-address{
    width: 200px;
    height: 31px;
    border: 1px solid #ddd;
    line-height:31px;
    word-wrap: break-word; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.column-address input{
    width: 190px;
}
.modify{
    width: 55px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
}
.everyTip{
    margin-bottom: 8px;
}
.everyTip>div{
    margin-right: 7px;
}
.everyTip input{
    height: 31px;
    padding: 0 0 0 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow:none;
}
.everyTip input:focus{
    outline: none;
    box-shadow: none;
    border:1px solid #01a5ec ;
    box-shadow:0;
}
.everyTip .link-test{
    width: 90px;
    cursor: pointer;
}
.everyTip .link-test:hover{
    background: #00bcd5;
    color: #fff;
}
.everyTip .text-box{
    height: 33px;
    line-height: 33px;
    text-align: center;
    background: #eee;
    margin-left: 10px;
}
.everyTip .upload{
    width: 60px;
    cursor: pointer;
}
.everyTip .img_name{
    width: 100px;
    height: 31px;
    border: 1px solid #ddd;
}
.column-part .add{
    width: 33px;
    height: 33px;
    margin-left: 20px;
    background: url("../images/add.jpg") no-repeat center center;
    display: none;
    cursor: pointer;
}
.column-part .add.on{
    display: block;
}
#begin-zp{}
#begin-zp .unload-box{
    position: absolute;
    width: 70%;
    height: 200px;
    left: 50%;
    margin-left: -35%;
    border: 1px solid red;
    z-index: 15;
    top: 50%;
    margin-top: -100px;
    background: #fff;
}
.everyTip .left_title{
    height: 31px;
    line-height: 31px;
}
#add_box .bz-content{
    padding: 20px;

}
/* #add_box .column-address{
    border: 1px solid #ddd;
} */
.load_img{
    width: 100%;
    min-height: 200px;
    border: 1px solid red;
}
#add_box{
    position: absolute;
    top: 20px;
    background: #fff;
    z-index: 18;
    border: 1px solid #ddd;
    display: none;
}
#add_box.on{ display: block;}
.lm_bg{
    width: 100%;
    height: 100%;
    opacity: .5;
    position: absolute;
    top: 0;
    z-index: 15;
    background: #ccc;
    display: none;
}
/*2016/10/22自评填报页面修改*/
.details-list-part .head_title.five{
	position:absolute;
	top:-15px; 
	left:20px;
	display:inline-block;
	width:100px;
	height:20px;
	background:#fff;
	padding:5px 0; 
	text-align:center;
	font:normal 16px/20px 'Microsoft YaHei','微软雅黑';
	color:#000;
	z-index:99;
	border:none;
	cursor:pointer;
}
.details-list-part .open_zs{
	/* position:absolute;
	top:-12px; 
	left:110px;
	display:inline-block;
	width:64px;
	height:14px;
	background:#fff;
	padding:5px 0; 
	text-align:center;
	font:normal 14px/14px 'Microsoft YaHei','微软雅黑';
	color:#000;
	z-index:99;
	border:none;
	background:#e1f7ea;
	border:1px solid #ccc;
	border-radius:5px; */
}
.details-list-part .zs_z em{
	display:inline-block;
	width:14px;
	height:14px;
	background:url("../images/jx_down.png") no-repeat center right;	
	vertical-align:middle;
	margin:0 4px;
	transition:all 1s ease-in;
}
.details-list-part .zs_s em{
	display:inline-block;
	width:12px;
	height:12px;
	background:url("../images/jx_down.png") no-repeat center right;	
	vertical-align:middle;
	margin:0 4px;
	transition:all 1s ease-in;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); 	/* IE 9 */
	-moz-transform:rotate(180deg); 	/* Firefox */
	-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
	-o-transform:rotate(180deg); 
}
.details-list-part>div.zs_everyPart{
	height:auto;
	margin:5px 5px 15px 5px;
	__display:none;
	
}
.zs_everyPart .left{
	width:100px;
	text-align:right;
	font:bold 14px/20px '宋体';
	margin-top:40px;
	
}
.zs_everyPart .right{
	width:calc(100% - 150px);
}
.zs_everyPart .right textarea{
	width:80%;
	height:100px;
	line-height:20px;
	border-radius:0;
	resize:none;
	margin:0;
	padding:5px;
}
.zs_everyPart .right textarea:focus
{
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}
.zs{
	padding-left:10px;
}
.details-list-part input{
   border-radius: 0;
}
.details-list-part input:focus
{
    border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

.self-assess-wrap  .details-list-part>div.zs_everyPart{
	display:block;
}
.self-assess-wrap .zs_everyPart .right{
	width:calc(100% - 150px);
	border:1px solid #ddd;
	min-height:80px;
	padding:10px;
	line-height:22px;
	height:102px;
	overflow-y:auto;
}

/*2017/01/03 增加自评退回按钮*/
.ziping-sendback{
	margin-right:20px;
	background:#ee4b47;
	color:#fff;
	text-align:center;
	padding:0 15px 0 15px;
	cursor:pointer;
}
